#main_column div[name='blog_post'] .entry-meta{
    float: left;
    margin-right: 15px;
}

#main_column div[name='blog_post'] .text-muted{
    margin-top: 15px;
}

/* 
    #main_column div[name='blog_post'] .o_blog_post_title{
    padding-top: 8px;
} */


.entry-date {
    background: url(../img/date_bg.png) no-repeat;
    color: #f9f7f3;
    display: block;
    height: 44px;
    padding: 6px 9px 0 0;
    text-align: center;
    width: 54px;
}

.entry-date .date {
    display: block;
    font-size: 22px;
    line-height: 22px;
    text-align: center;
}

.entry-date .month {
    display: block;
    font-size: 11px;
    line-height: 12px;
    text-align: center;
}