<section>
    <section class="oe_container">
    <div class="oe_row oe_centered">
        <div class="oe_span_10 oe_centered">
            <h4 class="oe_slogan" style="margin-left: 120px;"><b><span class="fa fa-star fa-spin"></span>
                <b>Website Product Image 360</b></h3>
        </div>
    </div>

    <p align="left"> The Website Image 360 view module enables user to get a 360-dimension view of a product on website.</b></h5>

    <div class="oe_centered">
        <ul>
            <li>After having this module user can simply add images to the option provided for display 360 images.</li>
            <li>Post the images are added buyer when clicks on 360 view icon on website the product will be displayed in 360 dimensions.</li>
        </ul>
    </div>

    <div class="oe_row oe_centered">
        <div class="oe_span_10 oe_centered">
            <h4 class="oe_slogan" style="margin-left: 120px;"><b><span class="fa fa-star fa-spin"></span>
                    Prerequisites before Installation </span></b></h4>
        </div>
    </div>
    <p align="left">There are no prerequisites needed before the installation.</p>


    <div class="oe_row oe_centered">
        <div class="oe_span_10 oe_centered">
            <h4 class="oe_slogan" style="margin-left: 120px;"><b><span class="fa fa-star fa-spin"></span>
                    Configurations </span></b></h4>
        </div>
    </div>
    <p align="left">User needs to click on the checkbox of “Display 360 image” provided besides the product image. After activating it user needs to add images having different angles in a sequence.</p>

    <p align="left">Consider white sport shoes as our product and user wants to get a 360-dimensional view of the product.</p>


    <div class="oe_centered">
        <p>Click the “Display 360 Image” Boolean as true to add 360-dimensional images of the product. </p>
    </div>
     <div class="oe_row oe_centered">
        <div class="oe_span12">
            <img class="img-responsive thumbnail" src="image/product_view.png">
        </div>
    </div>


    <div class="oe_centered">
        <p>As shown in below image as soon as you click on the Display 360 images Boolean you will be provided with several tabs which also contains a tab “360 images” through which you can add different 360-dimension images.</p>
    </div>
     <div class="oe_row oe_centered">
        <div class="oe_span12">
            <img class="img-responsive thumbnail" src="image/image_ids.png" style="width: 100%;"/>
        </div>
    </div>

    <div class="oe_centered">
        <p>After the addition of images when user visits the website and clicks on the 360-dimension view icon the image gets rotated at 360 dimensions as per the mouse movement.</p>
    </div>
     <div class="oe_row oe_centered">
        <div class="oe_span12">
            <img class="img-responsive thumbnail" src="image/website.png" style="width: 100%;"/>
        </div>
    </div>

    <div class="oe_centered">
        <p>For better understanding here is the video of product image rotating in 360 dimensional view after user has clicked on the 360-dimension icon.</p>
    </div>
     <div class="oe_row oe_centered">
        <div class="oe_span12">
            <img class="img-responsive thumbnail" src="image/video.gif" style="width: 100%;"/>
        </div>
    </div>

    <!-- Important part for Comapny Information -->

</section>
    <section>
        <div class="oe_span12">
        <h2 class="oe_slogan">
            <a href="http://aktivsoftware.com/" target="new">
                <img src="http://aktivsoftware.com/wp-content/uploads/2018/01/logo-1.png"/>
            </a>
            <br/>
            <a href="mailto:sales@aktivsoftware.com" style="color: #000000 !important;">
                Get Help &amp; Support
            </a>
        </h2>
        <div class="oe_slogan oe_spaced text-center">
            <a class="btn btn success mt8" title="website" target="new" style="background-color:#ff4040;  color: #ffffff; !important; position:relative; overflow: hidden;" href="http://aktivsoftware.com/"><b>Website</b></a>
            <a class="btn btn success mt8" title="Contact Us" style="background-color:#ff4040; color: #ffffff; !important; position:relative; overflow: hidden;" href="mailto:sales@aktivsoftware.com"><b>Contact Us</b></a>
            <a class="btn btn success mt8" title="Request New Features Now!" style="background-color:#ff4040; color: #ffffff; !important; position:relative; overflow: hidden;" href="mailto:sales@aktivsoftware.com"><b>Request For New Features</b></a>
        </div>
    </div>
    </section>
