<section class="oe_container oe_dark lead">
    <h2 class="oe_slogan text-primary text-center">SMS Notification</h2>
    <h3 class="oe_slogan text-primary text-center">This Application Sends SMS Notificaton To Mobile</h3>
  <div class="row">    
      <div class='span12'>
          <div class="panel panel-primary" id="wkid0">
            <div class="panel-body">
                <div class="alert alert-info">
                    <i class="fa fa-arrow-circle-o-right"></i>
                    <b> Basic Features </b>
                </div>
                <ul class="list-unstyled">               
                    <li><i class="fa fa-check text-primary"></i> This application provides facility to send SMS notification to the mobile number.For sending SMS this application requires a "SMS Gateway".</li>           
                    <li><i class="fa fa-check text-primary"></i> This is a base module for any SMS gateway(like: Twilio SMS Gateway, Plivo SMS Gateway , ClickSend SMS Gateway, MSG91 SMS Gateway and Mobily SMS Gateway).</li>
                    <li><i class="fa fa-check text-primary"></i> Also provides the SMS history facility.</li>
                    <li><i class="fa fa-check text-primary"></i> SMS notification will be sent using SMS gateway.</li>
                    <li><i class="fa fa-check text-primary"></i> Admin can create SMS Template for sending message.</li> 
                    <li><i class="fa fa-check text-primary"></i> Send message using templates which are globally accessible.</li> 
                    <li><i class="fa fa-check text-primary"></i> SMS Templates can be configured on the basis of Sale and invoice status that will be triggered automatically. </li>
                    <li><i class="fa fa-check text-primary"></i> Multiple SMS templates can be sent at a time that will be triggered automatically. </li>
                    <li><i class="fa fa-check text-primary"></i> If Customer's mobile number is not set, Customer's phone number will be used for sending SMS automatically.</li>
                </ul>
            </div>
          </div>
      </div>
  </div>
</section>
<section class="oe_container">
    <ul class="nav nav-tabs ">
        <li class="active">
            <a href="#sms_notification_view_tab1" data-toggle="tab">
                <h3 class="panel-title"><b>Description</b> </h3>
            </a>
        </li>
        <li>
            <a href="#sms_notification_change_log_tab" data-toggle="tab">
                <h3 class="panel-title"><b>Change Log</b> </h3>
            </a>
        </li>
    </ul>

    <div id="my-tab-content" class="tab-content">
        <div class="tab-pane  active" id="sms_notification_view_tab1">

            <section class="oe_container oe_dark">
                <div class="row">
                    <div class='span12'>
                        <div class="panel panel-primary" id="wkid0">
                            <div class="panel-body">
                                <div class="alert alert-info">
                                    <i class="fa fa-list-ul"></i>
                                    <b> After installation of this application below shown menu will appear.</b>
                                </div>
                                <div>
                                        <a href="notification1.png">
                                        <img class="img-border img-responsive thumbnail" src="notification1.png">
                                        </a>
                                </div>
                            </div>
                        </div>
                    </div>  
                </div>
            </section>
                    
            <section class="oe_container">
                <div class="row">
                    <div class='span12'>
                        <div class="panel panel-primary" id="wkid0">
                            <div class="panel-body">
                                <div class="alert alert-info">
                                    <i class="fa fa-paperclip"></i>
                                    <b> How to Install required SMS gateway. </b>
                                </div>
                                <div>
                                        <a href="notification2.png">
                                        <img class="img-border img-responsive thumbnail" src="notification2.png">
                                        </a>
                                </div>
                            </div>
                        </div>
                    </div>  
                </div>
            </section>
            
            <section class="oe_container oe_dark">
                <div class="row">
                    <div class='span12'>
                        <div class="panel panel-primary" id="wkid0">
                            <div class="panel-body">
                                <div class="alert alert-info">
                                    <i class="fa fa-cogs"></i>
                                    <b> How to configure Intalled SMS gateway(way 1).</b>
                                </div>
                                <div>
                                        <a href="notification3.png">
                                        <img class="img-border img-responsive thumbnail" src="notification3.png">
                                        </a>
                                </div>
                            </div>
                        </div>
                    </div>  
                </div>
            </section>
                    
            <section class="oe_container">
                <div class="row">
                    <div class='span12'>
                        <div class="panel panel-primary" id="wkid0">
                            <div class="panel-body">
                                <div class="alert alert-info">
                                    <i class="fa fa-cogs"></i>
                                    <b> How to configure Intalled SMS gateway(way 2). </b>
                                </div>
                                <div>
                                        <a href="notification4.png">
                                        <img class="img-border img-responsive thumbnail" src="notification4.png">
                                        </a>
                                </div>
                            </div>
                        </div>
                    </div>  
                </div>
            </section>
            
            <section class="oe_container oe_dark">
                <div class="row">
                    <div class='span12'>
                        <div class="panel panel-primary" id="wkid0">
                            <div class="panel-body">
                                <div class="alert alert-info">
                                    <i class="fa fa-cogs"></i>
                                    <b> How to configure a plivo Gateway. </b>
                                </div>
                                <div>
                                        <a href="notification5.png">
                                        <img class="img-border img-responsive thumbnail" src="notification5.png">
                                        </a>
                                </div>
                            </div>
                        </div>
                    </div>  
                </div>
            </section>
                    
            <section class="oe_container oe_dark">
                <div class="row">
                    <div class='span12'>
                        <div class="panel panel-primary" id="wkid0">
                            <div class="panel-body">
                                <div class="alert alert-info">
                                    <i class="fa fa-user-plus"></i>
                                    <b> Allow odoo user for SMS feature. </b>
                                </div>
                                <div>
                                        <a href="notification6.png">
                                            <img class="img-border img-responsive thumbnail" src="notification6.png">
                                        </a>
                                </div>
                            </div>
                        </div>
                    </div>  
                </div>
            </section>
                    
            <section class="oe_container oe_dark">
                <div class="row">
                    <div class='span12'>
                        <div class="panel panel-primary" id="wkid0">
                            <div class="panel-body">
                                <div class="alert alert-info">
                                    <i  class="fa fa-users"></i>
                                    <b> Create SMS Template. </b>
                                </div>
                                <div>
                                    <div class="alert alert-info">
                                        <b> All SMS Templates </b>
                                    </div>
                                        <a href="notification7.png">
                                            <img class="img-border img-responsive thumbnail" src="notification7.png">
                                        </a>
                                </div>
                                <div>
                                    <div class="alert alert-info">
                                        <b> Globally accessible Template  </b>
                                    </div>
                                        <a href="notification8.png">
                                            <img class="img-border img-responsive thumbnail" src="notification8.png">
                                        </a>
                                </div>
                                <div>
                                    <div class="alert alert-info">
                                        <b> Template for a Particular Condition </b>
                                    </div>
                                        <a href="notification9.png">
                                            <img class="img-border img-responsive thumbnail" src="notification9.png">
                                        </a>
                                </div>
                            </div>
                        </div>
                    </div>  
                </div>
            </section>
                    
                    
                    
            <section class="oe_container oe_dark">
                <div class="row">
                    <div class='span12'>
                        <div class="panel panel-primary" id="wkid0">
                            <div class="panel-body">
                                <div class="alert alert-info">
                                    <i  class="fa fa-users"></i>
                                    <b> Create your SMS group for sending bulk SMS. </b>
                                </div>
                                <div>
                                        <a href="notification10.png">
                                            <img class="img-border img-responsive thumbnail" src="notification10.png">
                                        </a>
                                    <p class='oe_mt32'>
                                        <center>Step 1.</center>
                                    </p>
                                </div>
                                <div>
                                        <a href="notification11.png">
                                            <img class="img-border img-responsive thumbnail" src="notification11.png">
                                        </a>
                                    <p class='oe_mt32'>
                                        <center>Step 2.</center>
                                    </p>           
                                </div>
                            </div>
                        </div>
                    </div>  
                </div>
            </section>
                    
            <section class="oe_container oe_dark">
                <div class="row">
                    <div class='span12'>
                        <div class="panel panel-primary" id="wkid0">
                            <div class="panel-body">
                                <div class="alert alert-info">
                                    <i class="fa fa-paper-plane"></i>
                                    <b> Send SMS to SMS groups or multiple members or individual(s). </b>
                                </div>
                                <div>
                                        <a href="notification12.png">
                                            <img class="img-border img-responsive thumbnail" src="notification12.png">
                                        </a>
                                </div>
                            </div>
                            <div class="panel-body">
                                    <div class="alert alert-info">
                                        <i class="fa fa-paper-plane"></i>
                                        <b> Send SMS to SMS groups or multiple members or individual(s) using Template. </b>
                                    </div>
                                    <div>
                                            <a href="notification13.png">
                                                <img class="img-border img-responsive thumbnail" src="notification13.png">
                                            </a>
                                    </div>
                                </div>
                        </div>
                    </div>  
                </div>
            </section>
                    
            <section class="oe_container oe_dark">
                <div class="row">
                    <div class='span12'>
                        <div class="panel panel-primary" id="wkid0">
                            <div class="panel-body">
                                <div class="alert alert-info">
                                    <i class="fa fa-history"></i>
                                    <b> Track and see status of all the sent SMS.</b>
                                </div>
                                <div>
                                        <a href="notification14.png">
                                            <img class="img-border img-responsive thumbnail" src="notification14.png">
                                        </a>
                                </div>
                            </div>
                        </div>
                    </div>  
                </div>
            </section>
            <section class="oe_container oe_dark">
                <div class="row">
                    <div class="span12" >
                        <h2 class="oe_slogan" style="color:#875A7B;">Integrated SMS gateways</h2>
                        <div class="">
                            <div class="col-md-12" style="font-size:30px;
                            font-weight:bold;
                            color:#ff0000;
                            text-align:center;">
                                <div class="col-md-4">
                                    <a href="https://www.odoo.com/apps/modules/11.0/plivo_gateway" target="new">
                                    <img alt="pivo gateway" class="oe_picture oe_screenshot img-rounded" src="https://www.odoo.com/apps/modules/11.0/plivo_gateway/Banner.png">
                                    </a>
                                </div>
                                <div class="col-md-4">
                                    <a href="https://www.odoo.com/apps/modules/11.0/twilio_gateway" target="new">
                                    <img alt="twilio gateway" class="oe_picture oe_screenshot img-rounded" src="https://www.odoo.com/apps/modules/11.0/twilio_gateway/Banner.png">
                                    </a>
                                </div>
                                <div class="col-md-4">
                                    <a href="https://www.odoo.com/apps/modules/11.0/clicksend_gateway" target="new">
                                    <img alt="clicksend gateway" class="oe_picture oe_screenshot img-rounded" src="https://www.odoo.com/apps/modules/11.0/clicksend_gateway/Banner.png">
                                    </a>
                                </div>
                                <div class="col-md-4">
                                    <a href="https://www.odoo.com/apps/modules/11.0/msg91_gateway" target="new">
                                    <img alt="msg91 gateway" class="oe_picture oe_screenshot img-rounded" src="https://www.odoo.com/apps/modules/11.0/msg91_gateway/Banner.png">
                                    </a>
                                </div>
                                <div class="col-md-4">
                                    <a href="https://www.odoo.com/apps/modules/11.0/mobily_gateway/" target="new">
                                    <img alt="mobily gateway" class="oe_picture oe_screenshot img-rounded" src="https://www.odoo.com/apps/modules/11.0/mobily_gateway/Banner.png">
                                    </a>
                                </div>
                                <div class="col-md-4">
                                    <a href="https://www.odoo.com/apps/modules/11.0/skebby_gateway" target="new">
                                    <img alt="Skebby gateway" class="oe_picture oe_screenshot img-rounded" src="https://www.odoo.com/apps/modules/11.0/skebby_gateway/Banner.png">
                                    </a>
                                </div>
                                <div class="col-md-4">
                                    <a href="https://www.odoo.com/apps/modules/11.0/netelip_gateway" target="new">
                                    <img alt="Netelip gateway" class="oe_picture oe_screenshot img-rounded" src="https://www.odoo.com/apps/modules/11.0/netelip_gateway/Banner.png">
                                    </a>
                                </div>
                            </div>    
                        </div>
                    </div>
                </div>
            </section>
        </div>

        <div class="tab-pane" id="sms_notification_change_log_tab">
            <section class="oe_container oe_dark">
                <div class="row">    
                    <div class='span12' >
                        <div class="panel panel-primary" id="wkid0">
                            <div class="panel-heading">
                                <h3 class="panel-title"><b>Module Change Log</b></h3>
                                
                            </div>
                            <div class="panel-body">
                                <p>
                                    All notable changes related to this module will be documented in this file.
                                </p>
                                <h4 > Legend</h4>
                                <ul class="list-unstyled ">
                                    <li><i class="fa fa-plus text-success" ></i> [Features Added]</li>
                                    <li><i class="fa fa-minus text-danger" ></i> [Features Removed]</li>
                                    <li><i class="fa fa-bug text-warning" ></i> [Bug Fixed]</li>
                                </ul>
                            </div>
                            <div class="panel-body">
                                <div class="alert alert-info">
                                    <i class="fa fa-plus-circle"></i>
                                    <b>App Updated from version 1.2.2 to 1.2.3  </b>
                                    <b style="float:right">Released In August, 2018 </b>
                                </div>
                                <div class='span12' style="width: 795px;">
                                    <p><i class="fa fa-plus text-success"/>  Add new SMS gateway Netelip.</p>
                                </div>
                            </div>
                            <div class="panel-body">
                                <div class="alert alert-info">
                                    <i class="fa fa-plus-circle"></i>
                                    <b>App Updated from version 1.2.1 to 1.2.2  </b>
                                    <b style="float:right">Released In June, 2018 </b>
                                </div>
                                <div class='span12' style="width: 795px;">
                                    <p><i class="fa fa-plus text-success"/>  Add new SMS gateway Skebby.</p>
                                </div>
                            </div>
                            <div class="panel-body">
                                <div class="alert alert-info">
                                    <i class="fa fa-plus-circle"></i>
                                    <b>App Updated from version 1.2.0 to 1.2.1  </b>
                                    <b style="float:right">Released In May, 2018 </b>
                                </div>
                                <div class='span12' style="width: 795px;">
                                    <p><i class="fa fa-plus text-success"/> Minor updates to make this module compatible with POS SMS Gateway Integration module.</p>
                                </div>
                            </div>
                            <div class="panel-body">
                                <div class="alert alert-info">
                                        <i class="fa fa-plus-circle"></i>
                                        <b>App Updated from version 1.1.4 to 1.2.0  </b>
                                        <b style="float:right">Released In December, 2017 </b>
                                    </div>
                                    <div class='span12' style="width: 795px;">
                                        <p><i class="fa fa-plus text-success"/> Add seprate menu for SMS.</p>
                                        <p><i class="fa fa-plus text-success"/>  Add new SMS gateway Mobily.</p>
                                    </div>
                            </div>
                            <div class="panel-body">
                                <div class="alert alert-info">
                                    <i class="fa fa-plus-circle"></i>
                                    <b>App Updated from version 1.0.0 to 1.1.0  </b>
                                    <b style="float:right">Released In October, 2017 </b>
                                </div>
                                <div class='span12' style="width: 795px;">
                                    <p><i class="fa fa-plus text-success"/> Added SMS template feature.</p>
                                    <p><i class="fa fa-plus text-success"/>  Admin can add global and condition based SMS templates.</p>
                                    <p><i class="fa fa-plus text-success"/> SMS will automatically sent to customer for conditional(object based) SMS templates.</p>
                                    <p><i class="fa fa-plus text-success"/>Added SMS group creation feature.</p>
                                    <p><i class="fa fa-plus text-success"/> Added send SMS to group or multiple users or individual Member/Number features.</p>
                                    <p><i class="fa fa-plus text-success"/> Added history features to track sent SMS and delivery reports.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</section>

<section class="oe_container">
    <div class=''>
        <div class="span12">
            <h2 class='oe_slogan'>Complimentary Support</h2>
            <p>
                    You will get 90 days free support for any doubt, queries, and bug fixing (excluding data recovery) or any type of issue related to this module.
            </p>
        </div>
    </div>
    <div class="row oe_spaced">
        <div class="span12">
            <h2 class="oe_slogan">Help and Support</h2>
        </div>
        <div class="oe_slogan">
            <img src="icon-help.png">
            <span ><a onMouseOver="this.style.color='#AC1EE0'"
    onMouseOut="this.style.color='#7c7bad'" target="_blank" style="color:#7c7bad;" href="https://webkul.com/ticket/open.php">Help</a></span>
            <img src="icon-support.png">
            <span ><a onMouseOver="this.style.color='#AC1EE0'"
    onMouseOut="this.style.color='#7c7bad'" target="_blank" style="color:#7c7bad;" href="https://webkul.com/ticket/open.php">Support</a></span>
            <img src="icon-features.png">
            <span ><a onMouseOver="this.style.color='#AC1EE0'"
    onMouseOut="this.style.color='#7c7bad'" target="_blank" style="color:#7c7bad;" href="https://webkul.com/ticket/open.php">Request new Features</a></span>
        </div>
    </div>
</section>
    


<section class="oe_container">
    <div class="span12">
        <!-- Piwik Image Tracker-->
<img src="http://odooimg.webkul.com/analytics/piwik/piwik.php?idsite=3&rec=1&action_name=SMS-NOTIFICATION&url=https://apps.openerp.com/apps/modules/11.0/sms_notification&uid=sms_notification" style="border:0" alt="" />
<!-- End Piwik -->
    </div>
</section>
	