<section class="oe_container oe_dark" style="overflow: hidden;
background: #efefef;
box-shadow: none;">
    <div class="mt32 mb32">
        <div class="col-md-12">
            <h2 class="oe_slogan" style="font-size: 35px;"><b>Project Task Merge</b></h2>
<h3 class="oe_slogn"  style=" text-align: center;"> In this module you will merge current task information to other task of same project.</h3>

        </div>
    </div>
</section>

<!--<section class="container mt32">
    <div class="row">
        <h4  style=" text-align: center;"><span> <a href="#" target="_blank" class="btn btn-sm btn btn-primary" ><span class="o_ripple" ></span><i class="fa fa-youtube-play"></i>
            Click here for the video tutorial
          </a></h4>
    </div>
</section>-->

<!--<section class="oe_container oe_dark">
    <section class="oe_container oe_dark lead">
        <div class="oe_row">    
            <div class="oe_span12" style="width: 828px;">
            <div class="panel panel-primary" style="border-color: #528df3 !important;">
            <div class="panel-heading" style="background-color: #528df3 !important;">
            <h3 class="panel-title" style="font-size: 25px;"><i class="fa fa-mail-forward"></i>key features:</h3>
            </div>
                <div class="panel-body">
                    <ul class="list-unstyled">
                        <li><i class="fa fa-check text-primary" style="color: #528df3 !important;"></i> Accounting User/Accountant can View and Print Account Statements of customers and suppliers.</li>
                        <li><i class="fa fa-check text-primary" style="color: #528df3 !important;"></i> Accounting User/Accountant can send Statements of customers and suppliers by email.</li>
                    </ul>
                </div>
                </div>
                </div>
        </div>
    </section>
    </section>
<br/>
-->

<section class="container mt32">
    <div class="row">
        <h4 class="oe_slogan" style=" text-align: center;"><span align="center" class="label label-success " style="background-color:#528df3;"> <span class="fa fa-star fa-spin"></span> How to use</span></h4>
    </div>
</section>

<section class="oe_container oe_dark">
        <div class="oe_row oe_spaced">
            <div class="oe_span12">
            <h1 class="text-info" style="text-align: center;padding-bottom: 40px;"><strong>Project Task Merge</strong></h1>
            <h3 class="text-info" style="font-size: 25px;">On task form view there is a "Task Merge" button for merge current task to other task of same project.</h3>
                <br/>
                <img class="img-border img-responsive thumbnail" style="border: 3px solid black;" src="project_merge_2.png">
            </div>
        </div>
    </section>


    
<section class="oe_container lead">
        <div class="oe_row oe_spaced">
            <div class="oe_span12">
            <h1 class="text-info" style="text-align: center;padding-bottom: 40px;"><strong>Task Merge Wizard</strong></h1>
             <h3 class="text-info" style="font-size: 25px;">In this wizard you need to select task from same project, Assigned to Deadline and Project is set according to current task.</h3>
                <br/>
                <img class="img-border img-responsive thumbnail" style="border: 3px solid black;" src="project_merge_3.png">
            </div>
        </div>
    </section>

<section class="oe_container oe_dark">
        <div class="oe_row oe_spaced">
            <div class="oe_span12">
            <h3 class="text-info" style="font-size: 25px;">Display merge task after merge with all value of current task(Description, Timesheets,Planned Hours, Tags and Sub tasks).</h3>
                <br/>
                <img class="img-border img-responsive thumbnail" style="border: 3px solid black;" src="project_merge_4.png">
                 <br/>
                <img class="img-border img-responsive thumbnail" style="border: 3px solid black;" src="project_merge_5.png">
            </div>
        </div>
    </section>

    
<section class="oe_container">
    <div class="oe_row oe_spaced">
        <div class="oe_span12">
            <h2 class="oe_slogan">Free Support</h2>
            <h3 class="oe_slogan" style="font-size: 20px; color: #000000 !important;">You will get 90 Days free support incase any bugs or issue (Except data recovery).</h3>
            <p class="oe_slogan">
		At BrowseInfo we offer  end to end solution for Odoo services. Which includes analysis &amp; consultation on the workflows and integration part.  Please note that You're not allowed to distribute this module after purchase! Incase of any question regarding this module feel free to email us on <a href="mailto:sales@browseinfo.in">sales@browseinfo.in</a> or raise a ticket on support.
            </p>
        </div>
    </div>
</section>

<section class="oe_container lead">
		<div class="oe_row oe_spaced">
			<div class="oe_span12">
				<h2 class="oe_slogan">
           <a href="http://www.browseinfo.in" target="new">
                <img src="bi_logo.png">
            </a>
            <br>
					<a href="sales@browseinfo.in" style="color: #000000 !important;">
						Get Help &amp; Support</a>
				</h2>
			</div>
			<br>
			<div class="oe_slogan oe_spaced text-center">
				<a class="btn btn-success mt8" title="Website" style="background-color: #9B0F4E; color: #FFFFFF !important;" href="http://www.browseinfo.in"> Website </a> <a class="btn btn-success mt8" title="Blog" style="background-color: #9B0F4E; color: #FFFFFF !important;" href="http://www.blog.browseinfo.in"> Blog </a> <a class="btn btn-success mt8" title="Contact Us" style="background-color: #9B0F4E; color: #FFFFFF !important;" href="mailto:sales@browseinfo.in"> Support </a> <a class="btn btn-success mt8" title="Request New Features now !" style="background-color: #9B0F4E; color: #FFFFFF !important;" href="mailto:sales@browseinfo.in"> Request New Features </a>
			</div>
		</div>
	</section>

