/* ------------- product slider ------------- */

.oe_prod_slider {
    padding: 50px 0px;
    .block-title{
      margin-top: 0;
    }
  
    .item {
      font-size: 20px;
      text-align: center;
  
      a {
        display: block;
  
        img {
          margin-bottom: 15px;
        }
        &:hover, &:focus {
          text-decoration: none;
          color: @theme2nd;
        }
      }
    }
}