<section class="oe_container">
    <div class="oe_row oe_spaced">
        <h2 class="oe_slogan" style="color:#875A7B;"> BULK PRODUCTS </h2>
         <p class="oe_mt32 text-center">
           <i style="font-size:18px;"><b>This module purpose is to add multiple line item in single view.</b><br/>
			After installing this module you can view "Bulk Products" button below
           order lines. when creating the  quotation you want to select the products one by one but this 
           module will help you to select the multiple products suddenly.your process will 
           increases and also time will save more.you can create multiple sale orders quickly.</i>
            </p>   
    </div>
</section>

<section class="oe_container">
    <div class="oe_row oe_spaced">
        <div class="oe_span12">
            <h4 class="oe_mt32 oe_mb8 text-center">
                <b>Step 1:</b>
            </h4>
            <p class="oe_mt32 text-center">
           <i style="font-size:18px;">Creating a quotation.if you need multiple products in line items.you can click "Bulk Products" button.</i>
            </p>
            <img class="oe_picture oe_screenshot" src="bulk_button.png" >
        </div>
    </div>
</section>

<section class="oe_container">
    <div class="oe_row oe_spaced">
        <div class="oe_span12">
            <h4 class="oe_mt32 oe_mb8 text-center">
                <b>Step 2:</b>
            </h4>
            <p class="oe_mt32 text-center">
            <i style="font-size:18px;">Once button clicked  you can see wizard and choose your products then click "confirm" button.</i>
            </p>
            <img class="oe_picture oe_screenshot" src="add_product.png">
        </div>
    </div>
</section>

<section class="oe_container">
    <div class="oe_row oe_spaced">
        <div class="oe_span12">
            <h4 class="oe_mt32 oe_mb8 text-center">
                <b>Step 3:</b>
            </h4>
            <p class="oe_mt32 text-center">
             <i style="font-size:18px;">In this Wizard you can search more products and filter your product items</i>
            </p>
            <img class="oe_picture oe_screenshot" src="search_products.png">
        </div>
    </div>
</section>

<section class="oe_container">
    <div class="oe_row oe_spaced">
        <div class="oe_span12">
            <h4 class="oe_mt32 oe_mb8 text-center">
                <b>Step 4:</b>
            </h4>
            <p class="oe_mt32 text-center">
            <i style="font-size:18px;">Selected product items shows in sale order lines.</i>
            </p>
            <img class="oe_picture oe_screenshot" src="product_items.png">
        </div>
    </div>
</section>

<section class="oe_container oe_dark">
    <h2 class="oe_slogan" style="margin-top:20px;" >Need Any Help?</h2>
    <div class="oe_slogan" style="margin-top:10px !important;">
        <a  class="btn btn-primary btn-lg mt8"
            style="color: #FFFFFF !important;" href="mailto:business@pptservices.com"><i
            class="fa fa-envelope"></i> Email </a> <a
            class="btn btn-primary btn-lg mt8" style="color: #FFFFFF !important;"
            href="http://www.pptssolutions.com/contact-us/"><i
            class="fa fa-phone"></i> Contact Us </a> 
    </div>
            <img src="icon.png" style="width: 70px; height:70px; margin-bottom: 20px;" class="center-block">
            <h4 class="oe_mt32 oe_mb8 text-center">
                <b>PPTS [India] Pvt.Ltd.</b>
            </h4>
</section>
<section class="oe_container oe_separator">
</section>