<section class="oe_container">
    <div class="oe_row oe_spaced">
        <div class="oe_span12">
            <h2 class="oe_slogan"><b>Customer Restriction on Users</b></h2>
            <h3 class="oe_slogan">User Can See and Manage Allowed Products Only</h3>
        </div>
        <div class="oe_span12">
            <hr/>
            <div class="oe_demo oe_picture oe_screenshot">
                <img src="cr1.png">
            </div>

            <p class="text-center">
                This Module adds restriction on users for accessing customer for any kind of operation.
                <br /> Admin can edit the user and add allowed customer to a specific user.
                <br /> User can not see the customer if not allowed by the admin.
            </p>
        </div>
    </div>
</section>

<section class="oe_container">
    <div class="oe_row oe_spaced">
        <h2 class="oe_slogan"></h2>
        <div class="oe_span12">
            <hr/>
            <div class="oe_demo oe_picture oe_screenshot">
                <img src="cr22.png">
            </div>
            <p class="text-center">
                Restriction also applies to sales order, purchase order, stock transfer etc.
                <br /> User can only see and operate on Allowed customers.
                <br /> Note: Restriction is Not Applied On Adminstrator.
            </p>
        </div>
    </div>
</section>

<section class="oe_container ">
    <div class="oe_row oe_spaced">
        <div class="oe_span12">
            <h2 class="oe_slogan"><b>Contact / Support</b></h2>
            <h3 class="oe_slogan">Expert Ideas and ERP Solution To Help You Grow</h3>
        </div>
        <div class="oe_span4">
            <div class="oe_picture" style="padding-top: 10%" ;>
                <a href="http://www.techspawn.com/"><img src="icon1.png"></h2>
                </a>
                <div class="oe" style="padding-left: 15%; color: #6D57E0 !important"><a href="http://www.techspawn.com/">www.techspawn.com</a></div>
            </div>

        </div>
        <div class="oe_span8">
            <p class="oe_mt32" style="text-align: justify;">
                Get Expert Help and assistance related to the new Odoo feature, And All ERP Related solutions at one place. We offer Solutions regardless the size of a business, Contact us through e-mail at <a href="mailto:sales@techspawn.com">sales@techspawn.com</a> And Get Professional help that you want to build your business better.
            </p>
        </div>
    </div>

</section>