<section class="oe_container">
    <div class="oe_row oe_spaced">
        <h2 class="oe_slogan">Sanitize Tracebacks</h2>
        <h3 class="oe_slogan">Avoid full path disclosure in Python exception tracebacks in Odoo RPC calls</h3>
        <div class="oe_span12">
            <div class="oe_demo oe_picture oe_screenshot">
                    <img src="crash_manager.png">
            </div>
            <p class="oe_mt32">

When an exception in an Odoo RPC call occurs, the response typically includes a
traceback, which may disclose the full paths (read <a
href="https://www.owasp.org/index.php/Full_Path_Disclosure" rel="external
nofollow noreferrer" target="_blank">OWASP</a> for more information on FPD
vulnerabilities) of Python modules of your Odoo instance.  Depending on your
Odoo installation, these paths may reveal additional information to the
attacker, including:

<ol>
    <li>The username of the operating system user which is running Odoo;</li>
    <li>The installation directory of your Odoo instance;</li>
    <li>Your server's operating system;</li>
    <li>The exact version (git commit) of Odoo you are using;</li>
    <li>Odoo module names and their installation paths.</li>
</ol>

This knowledge, while not very useful on its own, can help a potential attacker
in combination with other possible vulnerabilies.

This module shortens the Python module paths from exception tracebacks to avoid
disclosing full module paths in Odoo RPC call tracebacks.
            </p>
        </div>
        <div class="oe_mt32 oe_span4">
            <span class="fa fa-cog fa-2x pull-left"/>
            <h3>
                <b>Plug &amp; Play</b>
            </h3>
            <div style="margin-left: 25px;">
                <p class="oe_mt16 oe_mb16">No configuration required &mdash; just install the module and forget it!</p>
            </div>
        </div>
        <div class="oe_mt32 oe_span4">
            <span class="fa fa-unlock fa-2x pull-left"/>
            <h3>
                <b>Need full tracebacks during development?</b>
            </h3>
            <div style="margin-left: 32px;">
                <p class="oe_mt16 oe_mb16">No problem &mdash; simply run Odoo in development mode (<code>--dev=werkzeug</code>)</p>
            </div>
        </div>
        <div class="oe_mt32 oe_span4">
            <span class="fa fa-bug fa-2x pull-left"/>
            <h3>
                <b>Found a bug?</b>
            </h3>
            <div style="margin-left: 32px;">
                <p class="oe_mt16 oe_mb16">I would be grateful if you reported it on the project's <a href="https://github.com/naglis/misc-addons/issues" rel="external" target="_blank">issue tracker</a>.</p>
            </div>
        </div>
    </div>
</section>
