<!-- Copyright (c) 2015-Present Webkul Software Pvt. Ltd. (<https://webkul.com/>) -->
<!-- See LICENSE file for full copyright and licensing details. -->
<!-- "License URL : <https://store.webkul.com/license.html/>" -->

  <section class="oe_container" style="margin-left:-5%;">
    <div class="oe_row oe_spaced" >
      <img src="mob01.png" style="display: block;margin: auto;width: 50%;"/>
    </div>
  </section>
  <section class="oe_container " style="margin-left:-5%;">
    <div class="oe_row oe_spaced" >
      <h1 class="text-center" style="color:#875A7B;"><b>Magento Odoo Bridge</b></h1>
      <div class="oe_row text-center"
           style="font-size: 20px;font-family:SegoeUI Helvetica Arial sans-serif"
           >
              Magento Odoo Bridge allows you to connect your Odoo with Magento.</b>
                <br/>
              One solution for synchronizating data efficiently.
      </div>
    </div>
  </section>
  <section class="oe_container" style="margin-left:-5%;">
    <div class="oe_row oe_spaced" >
      <img src="MOB-Dashboard1.png" style="box-shadow: 0px 0px 10px 0px grey;transform: perspective( 600px ) rotateX( 15deg );display: block;margin: auto;width: 80%;"/>
    </div>
  </section>
  <section class="oe_container" style="margin-left:-5%;">
    <div class="oe_row oe_spaced" >
      <h1 class="text-center" style="color:#875A7B;"><b>Dashboard</b></h1>
      <div class="oe_row text-center"
          style=
          "font-size: 20px;
          font-family:SegoeUI Helvetica Arial sans-serif;
          text-align:center;
          color:#0d0d0d"
           >
           All the Data at one place with better categorization and easy
           <br/>
           to grab an complete and efficient overview.
      </div>
    </div>
  </section>
  <section class="oe_container oe_dark" style="margin-left:-5%;">
      <div class="oe_row oe_spaced">
          <div class="oe_span6" style="max-width:40%">
              <div class="oe_demo oe_picture oe_screenshot"
                style="
                transform:perspective( 600px ) rotateY( 35deg )"
                >
                  <img src="mob02.png" alt="Online Demo" >
              </div>
          </div>
          <div class="oe_span6"
            style=
            "margin-top:95px;font-size: 20px;
            font-family:SegoeUI Helvetica Arial sans-serif;
            text-align:center;
            color:#0d0d0d"
            >
              <p class="text-center" style="font-size:150%">Catalog Info</p>
              Bi-directional synchronization of your catalog data.
              <br/>
              Export/update data in realtime.
          </div>
      </div>
  </section>
  <section class="oe_container oe_dark" style="margin-left:-5%;">
      <div class="oe_row oe_spaced">
          <div class="oe_span6"
            style=
            "margin-top:60px;font-size: 20px;
            font-family:SegoeUI Helvetica Arial sans-serif;
            text-align:center;
            color:#0d0d0d"
            >
              <p class="text-center" style="font-size:150%">Inventory Management</p>
              Mange warehouse efficiently.
              <br/>
              Update inventory at magento in realtime.
              <br/>
              All purchase and POS order's Inventory managed efficiently.
          </div>
          <div class="oe_span6" style="max-width:40%">
            <div class="oe_demo oe_picture oe_screenshot"
            style="
            transform:perspective( 600px ) rotateY( -35deg )"
            >
              <img src="mob03.png" alt="Online Demo">
            </div>
          </div>
      </div>
  </section>
  <section class="oe_container oe_dark" style="margin-left:-5%;">
      <div class="oe_row oe_spaced">
          <div class="oe_span6" style="max-width:40%">
              <div class="oe_demo oe_picture oe_screenshot"
              style="
              transform:perspective( 600px ) rotateY( 35deg )"
                >
                  <img src="mob04.png" alt="Online Demo" >
              </div>
          </div>
          <div class="oe_span6"
            style=
            "margin-top:95px;font-size: 20px;
            font-family:SegoeUI Helvetica Arial sans-serif;
            text-align:center;
            color:#0d0d0d"
            >
            <p class="text-center" style="font-size:150%">E-Commerce Customer</p>
              Synchronize you customer at odoo end.
              <br/>
              They will be associate with thier sales order.
          </div>
      </div>
  </section>
  <section class="oe_container oe_dark" style="margin-left:-5%;">
      <div class="oe_row oe_spaced">
          <div class="oe_span6"
            style=
            "margin-top:95px;font-size: 20px;
            font-family:SegoeUI Helvetica Arial sans-serif;
            text-align:center;
            color:#0d0d0d"
            >
              <p class="text-center" style="font-size:150%">Sales Order</p>
              Get your all order at odoo for better accounting.
              <br/>
              Manage shipping with tracking info.
              <br/>
              Manage invoice with specific journal.
          </div>
          <div class="oe_span6" style="max-width:40%">
            <div class="oe_demo oe_picture oe_screenshot"
            style="
            transform:perspective( 600px ) rotateY( -35deg )"
            >
              <img src="mob05.png" alt="Online Demo">
            </div>
          </div>
      </div>
  </section>
  <section class="oe_container oe_dark" style="margin-left:-5%;">
      <div class="oe_row oe_spaced">
          <div class="oe_span6" style="max-width:40%">
              <div class="oe_demo oe_picture oe_screenshot"
              style="
              transform:perspective( 600px ) rotateY( 35deg )"
                >
                  <img src="mob06.png" alt="Online Demo" >
              </div>
          </div>
          <div class="oe_span6"
            style=
            "margin-top:95px;font-size: 20px;
            font-family:SegoeUI Helvetica Arial sans-serif;
            text-align:center;
            color:#0d0d0d"
            >
            <p class="text-center" style="font-size:150%">Sales Order Status</p>
              Realtime Bi-Directional Shipping Synchronizing.
              <br/>
              Realtime Bi-Directional Invoice Synchronizing.
          </div>
      </div>
  </section>
  <section class="oe_container lead" style="margin-left:-5%;">
      <div class="oe_row">
              <div class="oe_span12">
                  <h2 class="oe_slogan">Complimentary Support</h2>
                  <p class="text-center">
                  You will get 90 days free support for any doubt, queries,
                  <br/>
                  and bug fixing (not including data recovery) or any type of issue related to this module.
                  </p>
              </div>
      </div>
      <div class="oe_row oe_spaced">
          <div class="oe_span12">
              <h2 class="text-center"><a> Get Technical Help &amp; Support</a></h2>
          </div>
          <br>
          <div class="oe_slogan oe_spaced">
              <span><a data-toggle="tooltip" data-placement="bottom" title="Get Instant Help !" target="_blank" href="https://webkul.uvdesk.com/en/customer/create-ticket/"> <i class="fa fa-life-ring"></i> Help</a></span>
              <span><a data-toggle="tooltip" data-placement="bottom" title="Get Instant Support!" target="_blank" href="https://webkul.uvdesk.com/en/customer/create-ticket/"><i class="fa fa-ticket"></i> Support</a></span>
              <span><a data-toggle="tooltip" data-placement="bottom" title="Request Features now !" target="_blank" href="https://webkul.uvdesk.com/en/customer/create-ticket/"><i class="fa fa-check-circle"></i> Request Features</a></span>
          </div>
      </div>
  </section><section class="oe_container">
      <div class="oe_span12">
          <!-- Piwik Image Tracker-->
  <img src="http://odooimg.webkul.com/analytics/piwik/piwik.php?idsite=3&rec=1&action_name=RESOURCE-MANAGEMENT-SYSTEM&url=https://apps.openerp.com/apps/modules/10.0/resource_management&uid=resource_management" style="border:0" alt="" />
  <!-- End Piwik -->
      </div>
  </section>
