.col-md-offset-2.oe_cart{
    /* margin-left: 0% !important; */
    margin-left: 0%;
}

.col-right.sidebar {
    float: right;
    width: 25%;
    padding-right: 0;
    padding: 0 10px;
    top: 20px;
}

.col-right.sidebar .section {
    position: relative;
    background: #fff;
    border: 1px solid #bab5b8;
    padding: 10px 15px;
    margin-bottom: 30px;
}

.rounded8 {
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
}




/* ========================= sidebar ============================== */

.col-right.sidebar .section.contacts .header {
    margin: 0;
    padding-left: 35px;
}

.col-right.sidebar .section.contacts .header {
    background: url(../images/spriteme1.png) no-repeat right top;
    background-position: -10px -1480px;
}


.col-right.sidebar .section .header {
    position: relative;
    width: 215px;
    margin-left: -15px;
}

.sect-title {
    position: relative;
    height: 10px;
    font-size: 20px;
    line-height: 0px;
    font-family: regular-gotham;
    color: #000;
    float: left;
}

.sect-title span {
    position: relative;
    display: block;
    height: 27px;
    z-index: 1;
}

.sect-title:after {
    content: '';
    position: absolute;
    left: -11px;
    top: 0;
    display: block;
    width: 23px;
    height: 42px;
    z-index: 0;
}

.clearfix:after{
    content: '';
    display: table;
    clear: both;
}

.col-right.sidebar .section.contacts .quick-contacts {
    margin-bottom: 10px;
}

.sidebar .quick-contacts {
    width: 100%;
    margin-top: 15px;
}

.quick-contacts {
    padding: 0 28px;
    text-align: center;
    font-family: regular-gotham;
    font-size: 12px;
    position: relative;
}

.quick-contacts p.phone {
    color: #363636;
    font-size: 22px;
    line-height: 24px;
    word-spacing: -2px;
    margin-left: -1px;
}

.quick-contacts p {
    font-size: 11px;
    line-height: 14px;
    margin: 0;
}



/* ============================== info ========================== */

.col-right.sidebar .section.info .s-sect.deliver {
    background: url(../images/ico-lorry.png) no-repeat 2px 7px;
}

.col-right.sidebar .section.info .s-sect {
    position: relative;
    padding: 5px 0 0 40px;
    margin: 0 0 10px -10px;
}

.col-right.sidebar .section.info .s-sect h4 {
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
    margin: 0 0 5px;
    color: #363636;
}

.col-right.sidebar .section.info .s-sect p {
    margin: 0;
}

.col-right.sidebar .section.info .s-sect.pay-way {
    background: url(../images/ico-pay.png) no-repeat 2px 0;
}

.col-right.sidebar .section.info .s-sect {
    position: relative;
    padding: 5px 0 0 40px;
    margin: 0 0 10px -10px;
}