<section class="oe_container ">
    <div class="oe_row">
        <h2 class="oe_slogan">OpenHRMS</h2>
        <h3 class="oe_slogan">Most advanced open source HR management software</h3>
    </div>
</section>

<section class="oe_container">
    <div class="oe_row oe_spaced oe_mt32">
        <div class="oe_span">
            <div class="oe_demo oe_picture oe_screenshot">
                <a href="https://www.openhrms.com/#request-demo">
                    <img src="HRMS-BUTTON.png">
                </a>
                <div class="oe_demo_footer oe_centeralign">Online Demo</div>
            </div>
        </div>
    </div>
</section>

<section class="oe_container">
    <div class="oe_row oe_spaced">
        <h2 class="oe_slogan">OHRMS Legal Actions</h2>
        <h3 class="oe_slogan">Manages Leagal Actions</h3>
        <h4 class="oe_slogan"><a href="https://www.cybrosys.com">Cybrosys Technologies</a> </h4>
    </div>
    <div class="oe_row oe_spaced" style="padding-left:65px;">
        <h4>Features:</h4>
        <div>
            <span style="color:green;"> &#9745; </span> Managing legal actions.<br/>
            <span style="color:green;"> &#9745; </span> Allows you to take case reports.<br/>
            <span style="color:green;"> &#9745; </span> Option to followup each case.<br/>
        </div>
    </div>
</section>

<section class="oe_container oe_dark">
    <div class="oe_row oe_spaced">
        <div class="oe_picture">
            <h3 class="oe_slogan">Overview</h3>
            <p class="oe_mt32 text-justify" style="text-align: center;">
                This module managing all legal actions of employees, customer and suppliers.
            </p>
        </div>
    </div>
</section>

<section class="oe_container">
    <div class="oe_row oe_spaced">
        <div class="oe_span12">
            <div class="oe_demo oe_picture oe_screenshot">
                <img style="border:8px solid white;" src="hr_legal.png">
            </div>
        </div>
    </div>
</section>

<div class="row section-content">
    <div class="col-md-6 img-content">
        <h3>Our Odoo Services</h3>
    </div>
    <div class="bc-span col-md-12">
        <div class="inner-span">
            <a target="_blank" href="https://www.openhrms.com">
                <img class="img-border img-responsive thumbnail" src="cybro-service.png">
            </a>
        </div>
    </div>
</div>

<section class="oe_container">
     <h2 class="oe_slogan" style="margin-top:20px;" >Need Any Help?</h2>
    <div class="oe_slogan" style="margin-top:10px !important;">
        <div>
            <a
            class="btn btn-primary btn-lg mt8" style="color: #FFFFFF !important;border-radius: 0;"
            href="https://www.cybrosys.com/contact/" target="_blank"><i
            class="fa fa-phone"></i> Contact Us </a>

            <a
            class="btn btn-primary btn-lg mt8" style="color: #FFFFFF !important;border-radius: 0;"
            href="https://www.odoo.com/apps/modules/browse?search=open+hrms" target="_blank"><i
            class="fa fa-suitcase"></i> Other Open HRMS Addons </a>

            <a
            class="btn btn-primary btn-lg mt8" style="color: #FFFFFF !important;border-radius: 0;"
            href="https://www.cybrosys.com/odoo-customization-and-installation/" target="_blank"><i
            class="fa fa-wrench"></i> Request Customization </a>

        </div>
        <br>
        <a href="https://www.cybrosys.com/" target="_blank">
            <img src="cybro_logo.png" style="width: 190px; margin-bottom: 20px;" class="center-block">
        </a>
    </div>
</section>

