<section class="oe_container">
    <div class="oe_row oe_spaced">
        <div class="oe_span12">
            <h2>Main UI Gannt Module. It Only Web Gantt Framework. It is Main cost dependence module. Odoo 11</h2>
            <p class="oe_mt32">250.00 Eur <a href="https://apps.odoo.com/apps/modules/11.0/web_gantt_native/">Main UI Web Gannt Module</a>
            <p class="oe_mt32">0.00 Eur <a href="https://apps.odoo.com/apps/modules/11.0/project_native/">Gantt Native view for Projects </a>
            <p class="oe_mt32">0.00 Eur <a href="https://apps.odoo.com/apps/modules/11.0/project_native_exchange/">Save/Load project in xml</a>
            <p class="oe_mt32">0.00 Eur <a href="https://apps.odoo.com/apps/modules/11.0/project_native_report/">Save Gantt in PDF for Project</a>
            <p class="oe_mt32">0.00 Eur <a href="https://apps.odoo.com/apps/modules/11.0/mrp_gantt_native/">Gantt Native view for MRP / Manufacture </a>
            <p class="oe_mt32">0.00 Eur <a href="https://apps.odoo.com/apps/modules/11.0/hr_holidays_gantt_native/">Gantt Native view for Leave </a>
        </div>
    </div>
</section>

<section class="oe_container">
    <div class="oe_row oe_spaced">
        <div class="oe_span12">
            <h2>More Info</h2>
            <p class="oe_mt32">YouTube Video PlayList <a href="https://www.youtube.com/playlist?list=PLmxcMU6Ko0NkqpGLcC44_GXo3_41pyLNx">Odoo Gantt Native</a>
        </div>
    </div>
</section>

<section class="oe_container">
    <div class="oe_row oe_spaced">
        <div class="oe_span12">
            <h2>Demo</h2>
            <p class="oe_mt32">user: demo Password:demog <a href="https://demo11.garage12.eu/">Odoo Gantt Demo </a>
        </div>
    </div>
</section>


<section class="oe_container">
    <div class="oe_row oe_spaced">
        <h2 class="oe_slogan" style="color:#875A7B;">New UI Draggable and Resizable</h2>
        <h3 class="oe_slogan"></h3>

        <div class="oe_span6">
            <p class="oe_mt32 oe_mb32 text-justify">
            Allows Draggable and Resizable - Gantt Bar.
            </p>
        </div>

        <div class="oe_span6">
            <p class="oe_mt32 oe_mb32 text-justify">
             Allows Draggable - Deadline.
            </p>
        </div>

    </div>
</section>

<section class="oe_container">
    <div class="oe_row oe_spaced">
        <div class="oe_span12">
            <h2>More Info</h2>
            <p class="oe_mt32">YouTube Video <a href="https://youtu.be/vOkxqPymq30">New UI Draggable and Resizable</a>
        </div>
    </div>
</section>


<section class="oe_container">
    <div class="oe_row oe_spaced">
        <h2 class="oe_slogan" style="color:#875A7B;">Sorting from Kanban by stage</h2>
        <h3 class="oe_slogan"></h3>

        <div class="oe_span6">
            <p class="oe_mt32 oe_mb32 text-justify">
            In Gantt: group by stage -> same like in kanban view
            </p>
            <img class="oe_picture oe_screenshot" src="Gantt_Kanban_stage.png"/>
        </div>

    </div>
</section>

<section class="oe_container">
    <div class="oe_row oe_spaced">
        <div class="oe_span12">
            <h2>More Info</h2>
            <p class="oe_mt32">YouTube Video <a href="https://youtu.be/LFdLeBPZO5o">Group and Sort by Stage</a>
        </div>
    </div>
</section>


<section class="oe_container">
    <div class="oe_row oe_spaced">
        <h2 class="oe_slogan" style="color:#875A7B;">In project you can generate Gantt PDF</h2>
        <h3 class="oe_slogan"></h3>

        <div class="oe_span6">
            <p class="oe_mt32 oe_mb32 text-justify">
            In Gantt: group by project -> click red arrow
            </p>
            <img class="oe_picture oe_screenshot" src="Gantt_PDF_menu.png"/>
        </div>

        <div class="oe_span6">
                <p class="oe_mt32">0.00 Eur <a href="https://apps.odoo.com/apps/modules/11.0/project_native_report/">Save Gantt in PDF for Project</a>
        </div>

    </div>
</section>

<section class="oe_container">
    <div class="oe_row oe_spaced">
        <div class="oe_span12">
            <h2>More Info</h2>
            <p class="oe_mt32">YouTube Video <a href="https://youtu.be/7ktNYnOkYKk">Generate PDF</a>
        </div>
    </div>
</section>




<section class="oe_container">
    <div class="oe_row oe_spaced">
        <h2 class="oe_slogan" style="color:#875A7B;">support: Use Calendar in Project - auto scheduling, with Detail Plan for Task.</h2>
        <h3 class="oe_slogan">Calendar support - Global Leaves, Extra Working Time by date, Global Leave for cut of working time.</h3>


        <div class="oe_span6">
            <p class="oe_mt32 oe_mb32 text-justify">
            In the Project setting setup: Track time spent on projects and task
            </p>
            <img class="oe_picture oe_screenshot" src="Gantt_Odoo_Calendar_01.png"/>
        </div>

        <div class="oe_span6">
            <p class="oe_mt32 oe_mb32 text-justify">
             Project: Working Time -> Select Calendar
            </p>
            <img class="oe_picture oe_screenshot" src="Gantt_Odoo_Calendar_02.png"/>
        </div>

        <div class="oe_span6">
            <p class="oe_mt32 oe_mb32 text-justify">
             Calendar: Setup -> Global Leaves. You can setup Cut OFF time for special day too.
            </p>
            <img class="oe_picture oe_screenshot" src="Gantt_Odoo_Calendar_03.png"/>
        </div>

        <div class="oe_span6">
            <p class="oe_mt32 oe_mb32 text-justify">
             Calendar: Setup -> Working Hours
            </p>
            <img class="oe_picture oe_screenshot" src="Gantt_Odoo_Calendar_04.png"/>
        </div>

        <div class="oe_span6">
            <p class="oe_mt32 oe_mb32 text-justify">
             Project: Gantt View Tab Setup -> Use calendar and TimeZone for project.
                After Open Gantt - > Group by project and Rescheduling
            </p>
            <img class="oe_picture oe_screenshot" src="Gantt_Odoo_Calendar_05.png"/>
        </div>

        <div class="oe_span6">
            <p class="oe_mt32 oe_mb32 text-justify">
             Task: Open Task -> look: Detail-Plan for Task
            </p>
            <img class="oe_picture oe_screenshot" src="Gantt_Odoo_Calendar_07.png"/>
        </div>

        <div class="oe_span6">
            <p class="oe_mt32 oe_mb32 text-justify">
             Task: Detail-Plan List View
            </p>
            <img class="oe_picture oe_screenshot" src="Gantt_Odoo_Calendar_08.png"/>
        </div>

        <div class="oe_span6">
            <p class="oe_mt32 oe_mb32 text-justify">
             Task: Detail-Plan Gantt View
            </p>
            <img class="oe_picture oe_screenshot" src="Gantt_Odoo_Calendar_09.png"/>
        </div>


    </div>
</section>

<section class="oe_container">
    <div class="oe_row oe_spaced">
        <div class="oe_span12">
            <h2>More Info</h2>
            <p class="oe_mt32">YouTube Video <a href="https://youtu.be/Tw768nxtjAY">Calendar, auto-Scheduling.</a>
        </div>
    </div>
</section>

<section class="oe_container">
    <div class="oe_row oe_spaced">
        <h2 class="oe_slogan" style="color:#875A7B;">Module: project_native_exchange. In project you can save / load project with tasks</h2>
        <h3 class="oe_slogan"></h3>

        <div class="oe_span6">
            <p class="oe_mt32 oe_mb32 text-justify">
            In project: Exchange (Save / Load)
            </p>
            <img class="oe_picture oe_screenshot" src="gantt_native_e_1_menu.png"/>
        </div>

    </div>
</section>

<section class="oe_container">
    <div class="oe_row oe_spaced">
        <div class="oe_span12">
            <h2>More Info</h2>
            <p class="oe_mt32">YouTube Video <a href="https://www.youtube.com/watch?v=VCgwmRPNNzI">Save/Load .xml file</a>
        </div>
    </div>
</section>

<section class="oe_container">
    <div class="oe_row oe_spaced">
        <h2 class="oe_slogan" style="color:#875A7B;">In project you can set humanized duration scale for tasks</h2>
        <h3 class="oe_slogan"></h3>

        <div class="oe_span6">
            <p class="oe_mt32 oe_mb32 text-justify">
            In project: Gantt View Tab: Duration Scale: "You canset: y,mo,w,d,h,m,s,ms", Duration Picker: Empty hide: day and second (select what you need)

            </p>
            <img class="oe_picture oe_screenshot" src="Gantt_Odoo_Calendar_06.png"/>
        </div>

        <div class="oe_span6">
            <p class="oe_mt32 oe_mb32 text-justify">
             Task Hour:
            </p>
            <img class="oe_picture oe_screenshot" src="Gantt_Odoo_Duration_Scale_02.png"/>
        </div>

        <div class="oe_span6">
            <p class="oe_mt32 oe_mb32 text-justify">
             Task Hour-Minutes
            </p>
            <img class="oe_picture oe_screenshot" src="Gantt_Odoo_Duration_Scale_03.png"/>
        </div>

        <div class="oe_span6">
            <p class="oe_mt32 oe_mb32 text-justify">
             Task Week-Hour-Minutes:
            </p>
            <img class="oe_picture oe_screenshot" src="Gantt_Odoo_Duration_Scale_04.png"/>
        </div>

    </div>
</section>

<section class="oe_container">
    <div class="oe_row oe_spaced">
        <div class="oe_span12">
            <h2>More Info</h2>
            <p class="oe_mt32">YouTube Video <a href="https://www.youtube.com/watch?v=kNwC15yScX4">Humanized duration scale</a>
        </div>
    </div>
</section>


<section class="oe_container">
    <div class="oe_row oe_spaced">
        <h2 class="oe_slogan" style="color:#875A7B;">Forward and Backward Scheduling</h2>
        <h3 class="oe_slogan"></h3>

        <div class="oe_span6">
            <p class="oe_mt32 oe_mb32 text-justify">
            In project: Gantt View Tab: Select Forward and Backward Scheduling.
            </p>
            <img class="oe_picture oe_screenshot" src="Gantt_Odoo_Backward_02.png"/>
        </div>

        <div class="oe_span6">
            <p class="oe_mt32 oe_mb32 text-justify">
             In project: Gantt View Tab: Set Start or End Date.
            </p>
            <img class="oe_picture oe_screenshot" src="Gantt_Odoo_Backward_03.png"/>
        </div>

        <div class="oe_span6">
            <p class="oe_mt32 oe_mb32 text-justify">
             Backward scheduling you can use with TOC (Theory of Constraints).
            </p>
            <img class="oe_picture oe_screenshot" src="Gantt_Odoo_Backward_01.png"/>
        </div>

    </div>
</section>

<section class="oe_container">
    <div class="oe_row oe_spaced">
        <div class="oe_span12">
            <h2>More Info</h2>
            <p class="oe_mt32">YouTube Video <a href="https://youtu.be/jMnMUXe_PTs">Forward and Backward Scheduling</a>
        </div>
    </div>
</section>


<section class="oe_container">
    <div class="oe_row oe_spaced">
        <h2 class="oe_slogan" style="color:#875A7B;">Default Task Start and Duration for Project</h2>
        <h3 class="oe_slogan"></h3>

        <div class="oe_span6">
            <p class="oe_mt32 oe_mb32 text-justify">
            In project: Gantt View Tab: Setting Duration and Start Task.
            </p>
            <img class="oe_picture oe_screenshot" src="Gantt_Odoo_Task_Default_01.png"/>
        </div>

        <div class="oe_span6">
            <p class="oe_mt32 oe_mb32 text-justify">
             New Task with project Default Task setting.
            </p>
            <img class="oe_picture oe_screenshot" src="Gantt_Odoo_Task_Default_02.png"/>
        </div>

    </div>
</section>

<section class="oe_container">
    <div class="oe_row oe_spaced">
        <div class="oe_span12">
            <h2>More Info</h2>
            <p class="oe_mt32">YouTube Video <a href="https://youtu.be/rPosTADmp1Y">Odoo Gantt Native View - Default Setting Duration and Start Task</a>
        </div>
    </div>
</section>


<section class="oe_container">
    <div class="oe_row oe_spaced">
        <h2 class="oe_slogan" style="color:#875A7B;">New UI</h2>
        <h3 class="oe_slogan"></h3>

        <div class="oe_span6">
            <p class="oe_mt32 oe_mb32 text-justify">
            Today and Scale button in Odoo Native place.
            </p>
            <img class="oe_picture oe_screenshot" src="sc1.png"/>
        </div>

        <div class="oe_span6">
            <p class="oe_mt32 oe_mb32 text-justify">
             Frozen Header and horizontal - vertical scroll.
            </p>
            <img class="oe_picture oe_screenshot" src="sc2.png"/>
        </div>


    </div>
</section>

<section class="oe_container">
    <div class="oe_row oe_spaced">
        <div class="oe_span12">
            <h2>More Info</h2>
            <p class="oe_mt32">YouTube Video <a href="https://youtu.be/xx2kuCP46nI">Odoo Gantt Native View - New UI</a>
        </div>
    </div>
</section>

<section class="oe_container">
    <div class="oe_row oe_spaced">
        <h2 class="oe_slogan" style="color:#875A7B;">Bootstrap Color Picker for Tasks</h2>
        <h3 class="oe_slogan">Set Color Task and edit color for tasks</h3>
        Before Update: Install module web_widget_colorpicker.

        <div class="oe_span6">
            <p class="oe_mt32 oe_mb32 text-justify">
            Gantt with custom color for tasks

            </p>
            <img class="oe_picture oe_screenshot" src="ct01.png"/>
        </div>

        <div class="oe_span6">
            <p class="oe_mt32 oe_mb32 text-justify">
             Edit Color Task
            </p>
            <img class="oe_picture oe_screenshot" src="ct02.png"/>
        </div>


    </div>
</section>

<section class="oe_container">
    <div class="oe_row oe_spaced">
        <div class="oe_span12">
            <h2>More Info</h2>
            <p class="oe_mt32">YouTube Video <a href="https://www.youtube.com/watch?v=oLn3-2C5O2Y">Odoo Gantt Native - Task - Custom Color.</a>
        </div>
    </div>
</section>

<section class="oe_container">
    <div class="oe_row oe_spaced">
        <h2 class="oe_slogan" style="color:#875A7B;">Install</h2>
        <h3 class="oe_slogan">Download from Odoo App</h3>
        <div class="oe_span6 text-justify oe_mt32">
            <span class="fa pull-left"/>

            Manual: Copy folders modules ( web_gantt_native, project_native, web_widget_time_delta ) to odoo addons folder on Odoo server.
            <span class="fa pull-left"></span>

            <span class="fa  pull-left"></span>

            Update Locale Module under Development Mode (APPs)
            </p>
            <span class="fa pull-left"></span>
            <p>
            Install modules(web_gantt_native, project_native, mrp_gantt_native, web_widget_time_delta  )
            </p>
            <span class="fa pull-left"></span>
            <p>
            Restart Odoo service. Need for Some Implementations.
            </p>
            <span class="fa pull-left"></span>
            <p>
                Updade/Upgrade in APP -> Restart Odoo service. or update over Console.
                first install web_widget_time_deltav after that update other modules.
            </p>
        </div>
    </div>
</section>


<section class="oe_container">
    <div class="oe_row oe_spaced">
        <h2 class="oe_slogan" style="color:#875A7B;">Start Date for Auto Scheduling for tasks</h2>
        <h3 class="oe_slogan">Auto Scheduling</h3>


        <div class="oe_span6">
            <p class="oe_mt32 oe_mb32 text-justify">
New option for the project. Start Date. All tasks in Auto Mode, after rescheduling will begin with the start date in the project.

            </p>
            <img class="oe_picture oe_screenshot" src="proj_start_date.png"/>
        </div>

    </div>
</section>

<section class="oe_container">
    <div class="oe_row oe_spaced">
        <div class="oe_span12">
            <h2>More Info</h2>
            <p class="oe_mt32">YouTube Video <a href="https://www.youtube.com/watch?v=LWN6PtZqFv0">Odoo Gantt Native - Project - Start Date for Auto Mode</a>
        </div>
    </div>
</section>



<section class="oe_container">
    <div class="oe_row oe_spaced">
        <h2 class="oe_slogan" style="color:#875A7B;">Lag/Lead time for  predecessor link and Summary Bar for tasks</h2>
        <h3 class="oe_slogan">After Some Change Run Scheduler, ! - shows need rescheduling </h3>


        <div class="oe_span6">
            <p class="oe_mt32 oe_mb32 text-justify">
To add lead time, type a negative number or a negative percentage (for example, -75%).

Lead time is an overlap between two tasks, where those two tasks share a dependency (a relationship between tasks).
For example, if you want the second task to start even though the first task is only 35% complete.
Create predecessor link a finish-to-start dependency between the two tasks, and then add a lead time of -75 percent.

            </p>
            <img class="oe_picture oe_screenshot" src="sm04.png"/>
        </div>

        <div class="oe_span6">
            <p class="oe_mt32 oe_mb32 text-justify">
             To add lag time, type a positive number or percentage (for example, 3 day).

                Lag time creates a delay between two tasks.
                For example, if you want a 3 day delay between the end of the first task and the start of the second.
                Create a predecessor link finish-to-start between the two tasks, and then add 2 days of lag time.
            </p>
            <img class="oe_picture oe_screenshot" src="sm03.png"/>
        </div>

        <div class="oe_span6">
            <p class="oe_mt32 oe_mb32 text-justify">
             You can add task as a summary task in the task list.
            </p>
            <img class="oe_picture oe_screenshot" src="sm01.png"/>
        </div>

        <div class="oe_span6">
            <p class="oe_mt32 oe_mb32 text-justify">
             After some change in task it is shows "!" it means need rescheduled.
            </p>
            <img class="oe_picture oe_screenshot" src="sm02.png"/>
        </div>


    </div>
</section>

<section class="oe_container">
    <div class="oe_row oe_spaced">
        <div class="oe_span12">
            <h2>More Info</h2>
            <p class="oe_mt32">YouTube Video <a href="https://www.youtube.com/watch?v=8PwUWjIkGnU&index=1&list=PLmxcMU6Ko0NkqpGLcC44_GXo3_41pyLNx">Odoo Gantt Native - Project - with Predecessor Lag and Summary Task.</a>
        </div>
    </div>
</section>



<section class="oe_container">
    <div class="oe_row oe_spaced">
        <h2 class="oe_slogan" style="color:#875A7B;">Auto Scheduling and Constraint for tasks</h2>
        <h3 class="oe_slogan">Manual / Auto Scheduling, Different type for constraint task</h3>


        <div class="oe_span6">
            <p class="oe_mt32 oe_mb32 text-justify">
                Auto Scheduler Task
                !Important -> Only after Click Re Scheduled Tasks for current project.

            </p>
            <img class="oe_picture oe_screenshot" src="A1.png"/>
        </div>

        <div class="oe_span6">
            <p class="oe_mt32 oe_mb32 text-justify">
             Schedule Type for  Task
            </p>
            <img class="oe_picture oe_screenshot" src="A2.png"/>
        </div>

        <div class="oe_span6">
            <p class="oe_mt32 oe_mb32 text-justify">
             Constraint Type for  Task
            </p>
            <img class="oe_picture oe_screenshot" src="A3.png"/>
        </div>


    </div>
</section>

<section class="oe_container">
    <div class="oe_row oe_spaced">
        <div class="oe_span12">
            <h2>More Info</h2>
            <p class="oe_mt32">YouTube Video <a href="https://www.youtube.com/watch?v=OXYNy0M-3yk">Odoo Gantt Native - Auto Scheduling and Constrain for tasks  </a>
        </div>
    </div>
</section>




<section class="oe_container">
    <div class="oe_row oe_spaced">
        <h2 class="oe_slogan" style="color:#875A7B;">Humanize duration</h2>

        <div class="oe_span6">
            <p class="oe_mt32 oe_mb32 text-justify">
                Form View
            </p>
            <img class="oe_picture oe_screenshot" src="form_view.png"/>
        </div>

        <div class="oe_span6">
            <p class="oe_mt32 oe_mb32 text-justify">
                List View
            </p>
            <img class="oe_picture oe_screenshot" src="list_view.png"/>
            <p class="oe_mt32">YouTube Video PlayList <a href="https://www.youtube.com/watch?v=9MCIs_-VDmc">Odoo Gantt Native - web widget time delta</a>


        </div>


    </div>
</section>


<section class="oe_container">
    <div class="oe_row oe_spaced">
        <h2 class="oe_slogan" style="color:#875A7B;">Done and Ghosts Bar</h2>
        <h3 class="oe_slogan">Timesheets - > Ghosts Bar on Gantt, And Done Date for Task on Gantt.</h3>


        <div class="oe_span6">
            <p class="oe_mt32 oe_mb32 text-justify">
                Main View with Ghosts Bar and Done Bar.
            </p>
            <img class="oe_picture oe_screenshot" src="gh_01.png"/>
        </div>

        <div class="oe_span6">
            <p class="oe_mt32 oe_mb32 text-justify">
             Ghosts Bar
            </p>
            <img class="oe_picture oe_screenshot" src="gh_ghost.png"/>
        </div>

        <div class="oe_span6">
            <p class="oe_mt32 oe_mb32 text-justify">
             Done Bar
            </p>
            <img class="oe_picture oe_screenshot" src="gh_done.png"/>
        </div>


    </div>
</section>

<section class="oe_container">
    <div class="oe_row oe_spaced">
        <div class="oe_span12">
            <h2>More Info</h2>
            <p class="oe_mt32">YouTube Video <a href="https://www.youtube.com/watch?v=cgjSU8cDzNg">Odoo Gantt Native - Timesheets Ghosts Bar </a>
        </div>
    </div>
</section>

<section class="oe_container">
    <div class="oe_row oe_spaced">
        <h2 class="oe_slogan" style="color:#875A7B;">Sub Tasks</h2>
        <h3 class="oe_slogan">Sorting, Grouping, SubTasks, Timesheets</h3>


        <div class="oe_span6">
            <p class="oe_mt32 oe_mb32 text-justify">
             Only, if Grouping by Project: TreeView Drag and Drop Tasks.
             For Automatically use sub-task in yours project just Sorting any Task.
            </p>
            <img class="oe_picture oe_screenshot" src="S1_group_project.png"/>
        </div>

        <div class="oe_span6">
                        <p class="oe_mt32 oe_mb32 text-justify">
             Drag and Drop Sorting: Sorting in self level.
            </p>
            <img class="oe_picture oe_screenshot" src="S2_sorting.png"/>
        </div>

        <div class="oe_span6">
                        <p class="oe_mt32 oe_mb32 text-justify">
             Drag and Drop Grouping: Change parent for Task.
            </p>
            <img class="oe_picture oe_screenshot" src="S3_grouping.png"/>
        </div>
                <div class="oe_span6">
                        <p class="oe_mt32 oe_mb32 text-justify">
             Task Full Screen Edit Support.
            </p>
            <img class="oe_picture oe_screenshot" src="S3_fullscreent.png"/>
        </div>

    </div>
</section>


<section class="oe_container">
    <div class="oe_row oe_spaced">
        <h2 class="oe_slogan" style="color:#875A7B;">Task Predecessor</h2>
        <h3 class="oe_slogan">Arrows between tasks</h3>


        <div class="oe_span6">
            <p class="oe_mt32 oe_mb32 text-justify">
             Predecessor
            </p>
            <img class="oe_picture oe_screenshot" src="arrow_predecessor.png"/>
        </div>

        <div class="oe_span6">
                        <p class="oe_mt32 oe_mb32 text-justify">
             FS - Finish to Start
            </p>
            <img class="oe_picture oe_screenshot" src="arrow_fs.png"/>
        </div>

        <div class="oe_span6">
                        <p class="oe_mt32 oe_mb32 text-justify">
             SS - Start to Start
            </p>
            <img class="oe_picture oe_screenshot" src="arrow_ss.png"/>
        </div>
                <div class="oe_span6">
                        <p class="oe_mt32 oe_mb32 text-justify">
             FF - Finish to Finish
            </p>
            <img class="oe_picture oe_screenshot" src="arrow_ff.png"/>
        </div>

    </div>
</section>

<section class="oe_container">
    <div class="oe_row oe_spaced">

        <div class="oe_span6">
            <p class="oe_mt32 oe_mb32 text-justify">
             SF - Start to Finish
            </p>
            <img class="oe_picture oe_screenshot" src="arrow_sf.png"/>
        </div>

        <div class="oe_span6">
            <p class="oe_mt32 oe_mb32 text-justify">
             All together
            </p>
            <img class="oe_picture oe_screenshot" src="arrow_all.png"/>
        </div>

    </div>
</section>

<section class="oe_container oe_dark">
    <div class="oe_row oe_spaced">
        <h2 class="oe_slogan" style="color:#875A7B;">If select Group by Project</h2>
        <h3 class="oe_slogan">You can:</h3>
        <div class="oe_span6 text-justify oe_mt32">
            <span class="fa fa-search fa-2x pull-left"/>
            <p class="oe_mb32" style="margin-left:48px;">
            Tree Sorting Task inside project.
            </p>
            <span class="fa fa-sliders fa-2x pull-left"/>
            <p class="oe_mb32" style="margin-left:48px;">
            Drag and Drop Task
            </p>
            <span class="fa fa-bar-chart fa-2x pull-left"></span>
            <p>
            Change Level Task
            </p>
        </div>
        <div class="oe_span6">
            <img class="oe_picture oe_screenshot" src="G02.png">
        </div>
    </div>
</section>

<section class="oe_container">
    <div class="oe_row oe_spaced">
        <h2 class="oe_slogan" style="color:#875A7B;">Focus on Task</h2>
        <h3 class="oe_slogan">Gantt Screen automaticly move to task</h3>
        <div class="oe_span6">
            <img class="oe_picture oe_screenshot" src="G03.png">
        </div>

    </div>
</section>

<section class="oe_container">
    <div class="oe_row oe_spaced">
        <h2 class="oe_slogan" style="color:#875A7B;">Easy Add/Edit Task</h2>
        <h3 class="oe_slogan">Just Click</h3>
        <div class="oe_span6">
            <img class="oe_picture oe_screenshot" src="G04.png">
        </div>
        <div class="oe_span6">
            <p class="oe_mt32 oe_mb32 text-justify">
             Edit Task.
            </p>
            <img src="G05.png">
        </div>
    </div>
</section>

<section class="oe_container oe_dark">
    <div class="oe_row oe_spaced">
        <div class="oe_span6">
            <h2 class="oe_slogan" style="color:#875A7B; text-align: left;">Tips / Hint - Drag and Drop Gantt Line</h2>

            <p class="oe_mt32">
                    Drag task Gantt line on timeline. <br/> Drag Start or End task.
            </p>
        </div>
        <div class="oe_span6">
                        <p class="oe_mt32 oe_mb32 text-justify">
             Hint.
            </p>
            <img class="oe_picture oe_screenshot" src="G06.png"/>
        </div>


        <div class="oe_span6">
                        <p class="oe_mt32 oe_mb32 text-justify">
             Tips.
            </p>
            <img class="oe_picture oe_screenshot" src="G07.png"/>
        </div>
    </div>
</section>

<section class="oe_container">
    <div class="oe_row oe_spaced">
        <h2 class="oe_slogan" style="color:#875A7B;">Gantt Scale</h2>
        <h3 class="oe_slogan">Easy switch</h3>


        <div class="oe_span6">
                        <p class="oe_mt32 oe_mb32 text-justify">
             Scale
            </p>
            <img class="oe_picture oe_screenshot" src="G25.png"/>
        </div>

        <div class="oe_span6">
                        <p class="oe_mt32 oe_mb32 text-justify">
             1Hour, 2Hour, 4Hour, 8Hour
            </p>
            <img class="oe_picture oe_screenshot" src="G26.png"/>
        </div>

        <div class="oe_span6">
                        <p class="oe_mt32 oe_mb32 text-justify">
             Days
            </p>
            <img class="oe_picture oe_screenshot" src="G10.png"/>
        </div>
                <div class="oe_span6">
                        <p class="oe_mt32 oe_mb32 text-justify">
             Month
            </p>
            <img class="oe_picture oe_screenshot" src="G29.png"/>
        </div>


        <div class="oe_span6">
                        <p class="oe_mt32 oe_mb32 text-justify">
             Weeks
            </p>
            <img class="oe_picture oe_screenshot" src="G27.png"/>
        </div>
                <div class="oe_span6">
                        <p class="oe_mt32 oe_mb32 text-justify">
             Quarter
            </p>
            <img class="oe_picture oe_screenshot" src="G28.png"/>
        </div>

    </div>
</section>

<section class="oe_container">
    <div class="oe_row oe_spaced">
        <h2 class="oe_slogan" style="color:#875A7B;">Timesheets progress and Deadline</h2>


        <div class="oe_span6">
                        <p class="oe_mt32 oe_mb32 text-justify">
             Progress
            </p>
            <img class="oe_picture oe_screenshot" src="G12.png"/>
        </div>

        <div class="oe_span6">
                        <p class="oe_mt32 oe_mb32 text-justify">
             Deadlne
            </p>
            <img class="oe_picture oe_screenshot" src="G13.png"/>
        </div>


    </div>
</section>

<section class="oe_container">
    <div class="oe_row oe_spaced">
        <h2 class="oe_slogan" style="color:#875A7B;">Milestone</h2>


        <div class="oe_span6">
                        <p class="oe_mt32 oe_mb32 text-justify">
             Makr Task as Milestone
            </p>
            <img class="oe_picture oe_screenshot" src="G15.png"/>
        </div>

        <div class="oe_span6">
                        <p class="oe_mt32 oe_mb32 text-justify">
             Milestone
            </p>
            <img class="oe_picture oe_screenshot" src="G16.png"/>
        </div>


    </div>


    <section class="oe_container">
    <div class="oe_row oe_spaced">
        <h2 class="oe_slogan" style="color:#875A7B;">Task Name and Progress Bar</h2>


        <div class="oe_span6">
                        <p class="oe_mt32 oe_mb32 text-justify">
             New style progress bar with task name.
            </p>
            <img class="oe_picture oe_screenshot" src="G20.png"/>
        </div>

        <div class="oe_span6">
                        <p class="oe_mt32 oe_mb32 text-justify">
             Task name options
            </p>
            <img class="oe_picture oe_screenshot" src="G21.png"/>
        </div>


    </div>
</section>


<section class="oe_container">
    <div class="oe_row oe_spaced">
        <div class="oe_span12">
            <h2>More Info</h2>
            <p class="oe_mt32">YouTube Video <a href="https://youtu.be/1DLTggTKW9E">Odoo Gantt Native - Timesheets progress  </a>
        </div>
    </div>
</section>


<section class="oe_container">
    <div class="oe_row oe_spaced">
        <div class="oe_span12">
            <h2>Need our service?</h2>
            <p class="oe_mt32">Contact us by <a href="mailto:vostraga@gmail.com">email</a>
            <ul>
                <li><a href="mailto:vostraga@gmail.com">vostraga@gmail.com <i class="fa fa-envelope-o"></i></a></li>
            </ul>
        </div>
    </div>
</section>


<section class="oe_container oe_separator">
</section>
