<!-- Copyright (c) 2016-Present Webkul Software Pvt. Ltd. (<https://webkul.com/>) -->
<!-- See LICENSE file for full copyright and licensing details. -->
<section class="oe_container oe_dark lead">
    <div class="oe_row">
        <div class='oe_span12'>
            <div class="panel " >
                <div class="panel-heading">
                    <center><div class="alert alert-info" style="padding:8px;font-weight: 300; font-size: 20px;"><i class="fa fa-arrow-circle-o-down"></i><b> Website Mega Menu </b></div></center>
                     <p>
                       Mega menu is a two-dimensional drop-down interface that is triggered by the user hovering over a link. All the options available are shown by dropdown under a specified category which contains a group of related products.</br>
                       A promotional tool called Odoo Website Mega Menu allows customers to navigate easily on Website and hence increases the sale. It helps to improve user-interface by making the website more interactive and attractive.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>


<section class="oe_container">
  <div class="oe_row oe_spaced">
    <div class="oe_span12">
        <div class="alert alert-info" style="font-weight: 300; font-size: 20px;box-shadow: 0px 0px 10px 0px grey;">
		  <center><div style="box-shadow:8px 7px 15px #888888;color : #98437F"><i class="fa fa-hand-o-down"></i><b> Salient features</b></div></center>
            <ul class="list-unstyled" style="padding:20px; color:black">
			  <li><i class="fa fa-check text-primary"></i>Create Mega Menus for the categories on your site in a very simple and easy way.</li>
                <li><i class="fa fa-check text-primary"></i> Define the desired categories which you want to display in the Mega Menu.</li>
                <li><i class="fa fa-check text-primary"></i>A URL for the top Mega Menu can be created easily.</li>
                <li><i class="fa fa-check text-primary"></i> Enter categories to the n number of levels.</li>
                <li><i class="fa fa-check text-primary"></i>Display already created Menus as Mega Menus by simple steps.</li>
                <li><i class="fa fa-check text-primary"></i>Create as many Mega Menus as you want without any limitation.</li>
                <li><i class="fa fa-check text-primary"></i> Change the view of the Mega Menu body by changing the sequence of categories by simple handle navigation.</li>
                <li><i class="fa fa-check text-primary"></i>Display images on the Mega Menus as background and display icons on the Top Mega Menus.</li>
                <li><i class="fa fa-check text-primary"></i>Customize the view of Mega Menus as per choice and theme used on the website by specifying the Text Color and Background Color.</li>
                <li><i class="fa fa-check text-primary"></i>Specify the color of the root categories on your choice.</li>
                <li><i class="fa fa-check text-primary"></i>Display the configurable header on each Mega Menu.</li>
                <li><i class="fa fa-check text-primary"></i>Fully responsive for all type of screens like mobiles, tablets, and computers.</li>
			</ul>
		</div>

    </div>
  </div>
</section>


<section class="oe_container">
    <div class="tab-content">
        <div class="tab-pane active">
            <section class="oe_container  oe_dark">
                <div class="oe_row">
                    <div class='oe_span12'>
                        <div class="panel panel-info" >
                            <div class="panel-body">
                                <section class="oe_container  lead">
                                    <div class="panel-heading alert alert-success"><center><i class="fa fa-hand-o-down" ></i> <b>Website View</b><center></div>
                                        <div>
                                        <p><a href="1.png" target="new"> <img  class="oe_picture oe_screenshot" src="1.png"/></a></p>
                                        <center style="font-size:16px;">
                                            <p >An interactive look and feel.</p>
                                             <p >Customizable background Image.</p>
                                             </center>
                                        </div>
                                        <div>
                                            <p><a href="2.png" target="new"> <img  class="oe_picture oe_screenshot" src="2.png"/></a></p>
                                            <center style="font-size:16px;">
                                            <p >Customizable Top Mega Menu icons.</p>
                                            <p >The Position of the categories in the Mega Menu can be changed by simply moving the sequence handle in backend.</p>
                                            </center>
                                        </div>
                                         <div>
                                         <p><a href="3.png" target="new"> <img  class="oe_picture oe_screenshot" src="3.png"/></a></p>
                                         <center style="font-size:16px;"><p>Customizable header Text.</p>
                                            <p >Mega Menu indicator will be displayed in the same color as that of the root categories.</p>
                                         </center>
                                         </div>

                                </section>

                                <section class="oe_container  lead">
                                    <div class="panel-heading alert alert-success"><center><i class="fa fa-hand-o-down" ></i> <b>Mobile Support</b><center></div>
                                        <div>
                                          <center style="font-size:16px;">
                                              <p >Mega Menu view on tablets.</p>
                                          </center>
                                          <div class="row">
                                              <p class="col-md-6"><a href="img8.png" target="new"> <img  class="oe_picture oe_screenshot" src="img8.png"/></a></p>
                                              <p class="col-md-6"><a href="img9.png" target="new"> <img  class="oe_picture oe_screenshot" src="img9.png"/></a></p>
                                          </div>
                                        </div>

                                        <div>
                                          <center style="font-size:16px;">
                                              <p >Mega Menu view on Mobile(for small devices).</p>
                                          </center>
                                          <div class="row">
                                              <p class="col-md-6"><a href="img10.png" target="new"> <img  class="oe_picture oe_screenshot" src="img10.png"/></a></p>
                                              <p class="col-md-6"><a href="img11.png" target="new"> <img  class="oe_picture oe_screenshot" src="img11.png"/></a></p>
                                          </div>

                                        </div>

                                </section>

                                <section class="oe_container  lead">
                                    <div class="panel-heading alert alert-success"><center><i class="fa fa-hand-o-down" ></i>       <b>Setup and Configuration</b><center></div>
                                     <div>
                                         <p><a href="4.png" target="new"> <img  class="oe_picture oe_screenshot" src="4.png"/></a></p>
                                         <center style="font-size:16px;">
                                            <p>Customize the mega menu by specifying the above values like Background Colors, Text Colors and Text.</p>

                                         </center>
                                    </div>
                                    <div>
                                         <p><a href="5.png" target="new"> <img  class="oe_picture oe_screenshot" src="5.png"/></a></p>
                                         <center style="font-size:16px;">
                                            <p>List view of the Mega Menus.</p>
                                              <p>Change the sequence of the Top Mega  Menus by moving the sequence handle up and down.</p>

                                         </center>
                                    </div>
                                    <div>
                                         <p><a href="img6.png" target="new"> <img  class="oe_picture oe_screenshot" src="img6.png"/></a></p>
                                         <center style="font-size:16px;">
                                            <p>Create Mega menus in an easy.</p>
                                            <p>Specify the above values like Root Category, Categories to be displayed on Mega Menu etc.</p>
                                           <p>URL for the TOP Mega Menu will be entered automatically if the Root Category is present and the URL field is empty.</p>
                                         </center>
                                    </div>
                                     <div>
                                         <p><a href="img7.png" target="new"> <img  class="oe_picture oe_screenshot" src="img7.png"/></a></p>
                                         <center style="font-size:16px;">
                                            <p>Click on the button for making the already existing menu as a Mega Menu and then specify the values in it.</p>
                                         </center>
                                    </div>
                                </section>
                             </div>
                        </div>
                   </div>
                </div>
            </section>
        </div>

</section>

<section class='oe_container oe_dark'>
    <div class='oe_row'>
    <div class="oe_span12">
        <h2 class='oe_slogan'>Complimentary Support</h2>
            <p>
           You will get 90 days free support for any doubt, queries, and bug fixing (excluding data recovery) or any type of issue related to this module.
            </p>
        </div>
    </div>
    <div class="oe_row oe_spaced">
        <div class="oe_span12">
            <h2 class="oe_slogan">Help and Support</h2>
        </div>
         <div class="oe_slogan oe_spaced">
            <img src="icon-help.png">
            <span ><a onMouseOver="this.style.color='#AC1EE0'"
   onMouseOut="this.style.color='#7c7bad'" style="color:#7c7bad;" target="_blank" href="https://webkul.uvdesk.com/en/customer/create-ticket">Help</a></span>
            <img src="icon-support.png">
            <span ><a onMouseOver="this.style.color='#AC1EE0'"
   onMouseOut="this.style.color='#7c7bad'" style="color:#7c7bad;" target="_blank" href="https://webkul.uvdesk.com/en/customer/create-ticket">Support</a></span>
            <img src="icon-features.png">
            <span ><a onMouseOver="this.style.color='#AC1EE0'"
   onMouseOut="this.style.color='#7c7bad'" style="color:#7c7bad;" target="_blank" href="https://webkul.uvdesk.com/en/customer/create-ticket">Request new Features</a></span>
        </div>
    </div>
</section>

<section class="oe_container">
    <div class="oe_span12">
        <!-- Piwik Image Tracker-->
<img src="http://odooimg.webkul.com/analytics/piwik/piwik.php?idsite=3&rec=1&action_name=WEBSITE-MEGA-MENU&url=https://apps.openerp.com/apps/modules/11.0/website_mega_menu&uid=website_mega_menu" style="border:0" alt="" />
<!-- End Piwik -->
    </div>
</section>
