<section class="oe_container">
    <div class="oe_row oe_spaced"> 
        <div class="oe_span12">
            <h3 class="text-info text-center"><u>Introduction</u></h3>
        </div>

        <div class="oe_span6">
            <div class="oe_row_img oe_centered">
               <center>
                    <a href="1.png">
                        <img class="img-border img-responsive thumbnail" src="1.png">
                    </a>
                </center>
            </div>
        </div>
         <div class="oe_span6">
            <div class="oe_row_img oe_centered">
               <center>
                    <a href="2.png">
                        <img class="img-border img-responsive thumbnail" src="2.png">
                    </a>
                </center>
            </div>
        </div>
        <div class='oe_span12 text-center'>
            <ul>
                <p>This module allows the user to view password at login and signup page.</p>
            </ul>
        </div>    
    </div>
</section>

<br/>

<section class="oe_container">
    <div class='oe_row'>
        <div class="oe_span12">
            <h2 class='oe_slogan'>Complimentary Support</h2>
            <p>
                    You will get 90 days free support for any doubt, queries, and bug fixing (excluding data recovery) or any type of issue related to this module.
            </p>
        </div>
    </div>
    <div class="oe_row oe_spaced">
        <div class="oe_span12">
            <h2 class="oe_slogan">Help and Support</h2>
        </div>
        <div class="oe_slogan">
            <img src="icon-help.png">
            <span ><a onMouseOver="this.style.color='#AC1EE0'"
    onMouseOut="this.style.color='#7c7bad'" target="_blank" style="color:#7c7bad;" href="https://webkul.com/ticket/open.php">Help</a></span>
            <img src="icon-support.png">
            <span ><a onMouseOver="this.style.color='#AC1EE0'"
    onMouseOut="this.style.color='#7c7bad'" target="_blank" style="color:#7c7bad;" href="https://webkul.com/ticket/open.php">Support</a></span>
            <img src="icon-features.png">
            <span ><a onMouseOver="this.style.color='#AC1EE0'"
    onMouseOut="this.style.color='#7c7bad'" target="_blank" style="color:#7c7bad;" href="https://webkul.com/ticket/open.php">Request new Features</a></span>
        </div>
    </div>
</section>
<section class="oe_container">
    <div class="oe_span12">
        <!-- Piwik Image Tracker-->
<img src="http://odooimg.webkul.com/analytics/piwik/piwik.php?idsite=3&rec=1&action_name=WEBSITE-SHOW-PASSWORD&url=https://apps.openerp.com/apps/modules/11.0/wk_show_password&uid=wk_show_password" style="border:0" alt="" />
<!-- End Piwik -->
    </div>
</section>
	