#one {
    width: 290px;
    height: 245px;
    padding: 15px;
}

.inside {
    background: rgba(255,255,255,.9);
    padding: 20px;
    text-align: center;
    width: auto !important;
    height: 215px !important;
/* 
    width: 290px;
    height: 240px; */
}


.inside-inside{
    text-align: center;
    top: 80px;
    left: 20px;
}

.subscribe_field_maile{
    top: 5px;
    width: 226px;
}

.subscribe_field_name{    
    width: 226px;
}

a.free-tests{
    position: absolute;
    border: 1px solid #fff;
    padding: 8px 0;
    text-align: center;
    width: 110px;
    font-size: 12px;
    font-family: regular-gotham;
    bottom: 32px;
    right: 27px;
    color: #fff!important;
}

a.free-tests:hover {
    text-decoration: none;
    background: #fff;
    color: #000!important;
}

.blog-one-item {
    width: 250px;
    height: 250px;
}
.blog-one-item .blog_cover_image {
    width: 200px;
    height: 200px;
}


/* ======================================= */


/* .inside {
    width: 290px;
    height: 240px;
}

.inside-inside{
    top: 80px;
    left: 20px;
} */


.carousel-control.left.ladyshop {
    background: none;
}
.carousel-control.right.ladyshop {
  background: none;
}


/* =========homepage============ */

#lady_homepage{
    width: 1200px;
}

#wrap > .container {
    margin-left: 354px;
}


#ladyshop_homepage_my_products .lady_reviews .row{
    margin-left: 0px;
    margin-right: 0px;
}

#lady_homepage_baner .carousel.slide.s_banner {
    right: 15px;
    height: 420px;
    width: 1200px;
}
