<section class="oe_container">
    <div class="oe_row oe_spaced">
		<div class="oe_span12">
			<h1 class="oe_slogan" style="color:#21b7b4;">Bravo Backend Theme</h1>
			<h2 class="oe_slogan">The Second Backend Theme for Odoo v11.0 Community Edition</h2>
			<div class="oe_screenshot" style="text-align: center;">
				<h3 class="oe_slogan" style="color:#21b7b4;">Clear Backend Theme - Enterprise like!</h3>
				<img style="max-width: 100%;" src="screen.png"/><br><br>
				<h3 class="oe_slogan" style="color:#21b7b4;">App Dashboard</h3>
				<img style="max-width: 100%;" src="apps.png"/><br><br>
				<h3 class="oe_slogan" style="color:#21b7b4;">Customer Form View</h3>
				<img style="max-width: 100%;" src="customer_form.png"/><br><br>
				<h3 class="oe_slogan" style="color:#21b7b4;">Customer Form View (on Wide screen)</h3>
				<img style="max-width: 100%;" src="customer_wide.png"/><br><br>
				<h3 class="oe_slogan" style="color:#21b7b4;">Proposition Form View on widescreen</h3>
				<img style="max-width: 100%;" src="lead_wide.png"/><br><br>				
				<h3 class="oe_slogan" style="color:#21b7b4;">Quotation Form</h3>
				<img style="max-width: 100%;" src="quotation_wide.png"/><br><br>
			</div>
		</div>
	</div>
</section>

<section class="oe_container oe_separator">
</section>

<section class="oe_container" style="background-color:#f9f9f9; padding:20px 0px 90px 0px">
    <div class="oe_row">
        <div class="oe_span12">
            <div class="oe_centeralign">
                <p>User/pass: demo/demo
                <a href="http://demo.odoo.com" target="_blank" title="Demo" class="oe_button">Demo Here</a></p>
            </div>
        </div>
        <div class="oe_span12">
            <div class="oe_centeralign">
                <p>Remark: It is possible that the Odoo service needs to be restarted after install.</p>
            </div>
        </div>	
    </div>
</section>

<section class="oe_container oe_separator">
</section>

<section class="oe_container oe_dark">
    <div class="oe_row">
        <div class="oe_span12 oe_centeralign">
            <br/>
            <h3>Help & Support</h3>
            <br/>
                Website: <a href="https://www.unibravo.com" target="_blank">UNIBRAVO</a><br/>
                Contact: <a href="mailto:info@unibravo.com" subject="Bravo Backend Theme v11">Email Support</a><br/>
            <br/>
        </div>
    </div>
</section>
