.page-header {
    font-family: Tahoma,Arial,Helvetica,sans-serif;
}

.page-header-container {
    height: 130px;
    padding-top: 15px;
}

.header-top.page-header{
    margin-top: 0px;
    margin-bottom: 0px;
}

.header-top {
    position: relative;
    background: #f3f3f3;
    height: 33px;
    text-align: center;
}

.header-top {
    font-family: regular-gotham;
    font-size: 11px;
}

.header-top .content-wrapper {
    height: 100%;
}

.header-top .content-wrapper, .page-header-container {
    position: relative;
    max-width: 1260px;
    margin: 0 auto;
    padding: 0 30px;
    clear: both;
}

.header-top .navigation {
    float: left;
    margin: 0;
    padding: 0;
    max-width: 100%;
    white-space: nowrap;
    text-align: left;
    overflow: hidden;
}

.header-top .navigation li {
    line-height: 34px;
}

.header-top .navigation li {
    display: inline-block;
    line-height: 33px;
    margin-right: 20px;
}

.header-top .navigation li a {
    position: relative;
    color: #555;
    font-size: 11px;
    text-decoration: none;
    text-transform: uppercase;
}

.header-top .navigation li a.with-icon {
    padding-left: 23px;
    color: #ac1774;
}

.header-top .s-nets-list {
    position: relative;
    overflow: hidden;
    margin-top: 6px;
    font-size: 11px;
    line-height: 15px;
    float: right;
}

.header-top .s-nets-list li a {
    position: relative;
    display: block;
    width: 22px;
    height: 0;
    padding-top: 22px;
    overflow: hidden;
    background: no-repeat 0 0;
}

.header-top .s-nets-list li a svg {
    position: absolute;
    top: 2px;
    left: 2px;
    fill: #fff;
}

.header-top svg:not(:root) {
    overflow: hidden;
}


.header-top .s-nets-list li {
    position: relative;
    float: left;
    margin-left: 10px;
    background-image: none;
}

.header-top .s-nets-list li:first-child {
    margin-left: 0;
}


.header-top .s-nets-list li:nth-child(1) {
    background-color: #7d3daf;
    height: 22px;
}

.header-top .s-nets-list li:nth-child(1) a {
    top: -15px;
}

.header-top .s-nets-list li:nth-child(2) {
    background-color: #3b569d;
}
.header-top .s-nets-list li:nth-child(3) {
    background-color: #cc191e;
}
.header-top .s-nets-list li:nth-child(4) {
    width: 23px;
    background-color: #d95032;
    background-color: #60a8de;
}
.header-top .s-nets-list li:nth-child(5) {
    background-color: #60a8de;
    background-color: #326288;
}

.header-top #feedback-social {
    float: right;
    color: #ac1774;
    text-transform: uppercase;
    font-family: regular-gotham;
    margin-right: 20px;
    display: inline-block;
    border-bottom: 1px dashed #ac1774;
    margin-top: 10px;
}




/* ===========header-middle============= */

.header-middle .header-search{
    display: inline;
    width: 30%;
}

.header-middle .logo{
    /* margin-top: -15px; */

    margin-top: 3px;
    width: 15%;

}

.header-middle .header-search form{
    width: 300px;
    display: inline;
}

.header-middle .header-search form input{
    width: 30%;
    display: inline;
    margin-top: 20px;
}

.header-middle .header-search button{
    display: inline-block;
}



/* =======ladyshop header============= */

.logo {
    display: block;
    float: left;
    width: 18%;
    min-width: 100px;
    min-height: 44px;
    text-align: center;
    margin: 18px 0 10px;
}

.logo .large {
    display: block;
}
.logo .small {
    display: none;
    max-width: 142px;
}

.logo img {
    max-width: 100%;
}

#header-search {
    display: block;
    float: left;
    width: 380px;
    height: 50px;
    padding: 0;

    margin: 32px 10px 0 0 !important;
    margin-left: 60px !important;
}

input{
    font-family: Tahoma, Arial, Helvetica, sans-serif;
    color: #333;
    font-size: 14px;
    line-height: 1.5;
}

#search_mini_form .input-box {
    position: relative;
    padding-top: 0;
}

.input-box {
    padding-top: 2px;
}


#header-search #search {
    width: 300px;
}

#header-search #search {
    padding: 6.7px 10px;
    font-family: 'regular-Gotham';
    color: #999999;
    border: 1px solid #999999;
    height: auto;
    width: 280px;
    margin-right: 0px;
}

#search {
    float: left;
    width: 100%;
    max-width: 380px;
    position: relative;
    padding: 5px 7px;
    height: 24px;
    border: 1px solid #C0C0C0;
    background: #fff;
    margin: 0 4px 4px 0;
    font-size: 13px;
    vertical-align: middle;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
}

#search_mini_form .search-button {
    float: left;
    position: relative;
    height: 24px;
    font-size: 13px;
    line-height: 16px;
    padding: 0 7px;
    margin: 0;
}

#header-search .search-button {
    padding: 10px 20px !important;
    height: auto !important;
    line-height: 14px !important;
    margin-left: -2px !important;
    font-family: 'regular-Gotham' !important;
}

.btutton {
    position: relative;
    display: inline-block;
    height: 24px;
    font: 13px/24px Tahoma, Arial, Helvetica, sans-serif;
    padding: 0 7px;
    margin: 0;
    color: #fff;
    background: #ac1774;
    background-position: 0px -302px;
    text-align: center;
    text-decoration: none !important;
    border: 0;
    font-weight: normal;
    vertical-align: middle;
    white-space: nowrap;
}

.search-autocomplete {
    left: 0 !important;
    overflow: visible !important;
    position: relative !important;
    top: 15px !important;
    width: 100% !important;
    z-index: 200;
}

#header-search .help {
    font-size: 11px;
    color: #333333;
    font-family: 'regular-Gotham';
}

#header-search .help a {
    color: #777777 !important;
}

.page-header .quick-contacts {
    float: right;
    margin-top: 11px;
}

.quick-contacts {
    padding: 0px 28px;
    text-align: center;
    font-family: 'regular-Gotham';
    font-size: 12px;
    position: relative;
}

.header-cart {
    float: right;
    display: inline-block;
    position: relative;
    text-decoration: none;
    line-height: 30px;
    margin-top: 15px;
}


.header-cart .icon {
    background: url(../img/big-cart.png);
    display: inline-block;
    width: 43px;
    height: 48px;
    vertical-align: middle;
}

.header-cart .label {
    color: #333;
    font-size: 10px;
    display: inline-block;
    text-transform: uppercase;
    line-height: inherit;
}

.header-cart .label {
    font-size: 12px !important;
}

.no-count .count {
    display: none;
}

.header-cart .count {
    position: absolute;
    left: 17px;
    top: 11px;
    width: 14px;
    height: 14px;
    border-radius: 7px;
    background: #ac1774;
    color: #E6E6E6;
    font-size: 11px;
    font-family: Tahoma, Arial, Helvetica, sans-serif;
    line-height: 14px;
    text-align: center;
}

.header-cart .count {
    left: auto !important;
    right: 5px !important;
    top: -5px !important;
    width: 18px !important;
    height: 18px !important;
    border-radius: 10px !important;
    line-height: 18px !important;
}

.cart-feedback-wrap {
    float: left;
    width: 210px;
    text-align: right;
    margin-top: 20px;
    margin-right: 45px;
}

.cart-feedback-wrap .dropdown img {
    position: relative;
    top: 6px;
}

.cart-feedback-wrap .dropdown img {
    display: inline-block;
}

#header-search form .input-box input#search{
    padding: 8.7px 10px;
}

#header-search form p.help{
    display: inline-block;
}

#feedback-header p {
    margin-bottom: 0px;

}
.page-header-container .cart-feedback-wrap {
    float: right;
    margin-right: 85px;
}

.page-header-container .cart-feedback-wrap #feedback-header{
    margin-top: 13px;
}