<section class="oe_container oe_dark lead">
        <h2 class="oe_slogan text-primary text-center">Webkul Base Survey</h2>
        <div class="oe_row">    
            <div class='oe_span12'>
                <div class="panel panel-primary" id="wkid0">
                    <div class="panel-body">
                        <p>Webkul Base Survey</p>
                </div>
          </div>
      </div>
    </section>

    <section class="oe_container">
        <div class='oe_row'>
            <div class="oe_span12">
                <h2 class='oe_slogan'>Complimentary Support</h2>
                <p>
                You will get 90 days free support for any doubt, queries, and bug fixing (excluding data recovery) or any type of issue related to this module.
                </p>
            </div>
        </div>
        <div class="oe_row oe_spaced">
            <div class="oe_span12">
                <h2 class="oe_slogan">Help and Support</h2>
            </div>
            <div class="oe_slogan">
                <img src="icon-help.png">
                <span ><a onMouseOver="this.style.color='#AC1EE0'"
       onMouseOut="this.style.color='#7c7bad'" target="_blank" style="color:#7c7bad;" href="https://webkul.com/ticket/open.php">Help</a></span>
                <img src="icon-support.png">
                <span ><a onMouseOver="this.style.color='#AC1EE0'"
       onMouseOut="this.style.color='#7c7bad'" target="_blank" style="color:#7c7bad;" href="https://webkul.com/ticket/open.php">Support</a></span>
                <img src="icon-features.png">
                <span ><a onMouseOver="this.style.color='#AC1EE0'"
       onMouseOut="this.style.color='#7c7bad'" target="_blank" style="color:#7c7bad;" href="https://webkul.com/ticket/open.php">Request new Features</a></span>
            </div>
        </div>
    </section>
    
    <section class="oe_container">
        <div class="oe_span12">
            <!-- Piwik Image Tracker-->
    <img src="http://odooimg.webkul.com/analytics/piwik/piwik.php?idsite=3&rec=1&action_name=WEBKUL-BASE-SURVEY&url=https://apps.openerp.com/apps/modules/11.0/wk_base_survey&uid=wk_base_survey" style="border:0" alt="" />
    <!-- End Piwik -->
        </div>
    </section>