.footer {
    clear: both;
    width: 100%;
    padding-top: 4px;
    font-size: 13px!important;
    color: #555;
    padding-bottom: 14px;
    font-size: 12px;
    font-family: regular-gotham;
}

.sensepro.right {
    width: 245px;
    text-align: left;
    color: #7f7f7f;
    font-size: 12px;
}

.dropdown-img {
    float: left;
}


/* .sensepro.right p {
    padding-top: 3px;
    float: right;
} */

.studio{
    padding-top: 3px;
    float: right;
}

.logo {
    display: block;
    float: left;
    width: 65%;
    min-width: 100px;
    min-height: 44px;
    text-align: center;
    margin: 18px 0 10px;
}

.col-1 {
    margin-bottom: 2em;
    float: left;
    width: 100%;
    max-width: 300px;
}

.col-1.footer-nav, .col-1.footer-contact, .col-1.footer-social {
    padding-top: 35px;
}

.col-1.logo {
    max-width: 310px;
}

.col-1.footer-nav {
    max-width: 350px;
    line-height: 26px;
    /* margin: 18px 0 10px; */
}

.col-1 .col-2 {
    width: 50%;
    float: left;
}

.col-1.footer-contact {
    max-width: 210px;
    margin-top: 1px;
}

.col-1.footer-contact .dropdown {
    display: inline-block;
    float: right;
}

.col-1.footer-contact img {
    display: block;
    float: left;
    position: relative;
    z-index: 9;
}

.telephone-dropdown {
    font-family: bold-gotham;
    font-size: 18px;
    text-align: right;
}

.col-1.footer-contact .telephone-dropdown {
    display: block;
    width: 200px;
}

.telephone-dropdown .opcode {
    font-family: regular-gotham;
}

b, strong {
    font-weight: 700;
}

#myDropdown, #myDropdown-footer {
    position: absolute;
    background: #fff;
    width: 160px;
    display: none;
    padding: 5px 15px 15px 10px;
    text-align: left;
    z-index: 99;
    margin-left: 10px;
    box-shadow: 0 0 5px 0 rgba(0,0,0,.24);
}

#myDropdown-footer {
    padding-top: 15px;
}

#myDropdown a, #myDropdown-footer a {
    color: #777;
    clear: both;
    display: block;
}

#myDropdown-footer a {
    margin-bottom: 10px;
}

.col-1.footer-contact img {
    display: block;
    float: left;
    position: relative;
    z-index: 9;
}

#myDropdown img, #myDropdown-footer img {
    margin-right: 5px;
}

#myDropdown span, #myDropdown-footer span {
    border-bottom: 1px dashed #777;
}

.feedback {
    font-family: regular-gotham;
    font-size: 11px;
    line-height: 14px;
    padding-top: 5px;
}

/* ================== footer-social =================== */
.col-1.footer-social {
    max-width: 280px;
    float: right;
}

.footer .footer-social {
    color: #555;
}

.right {
    float: right;
}

.col-1.footer-social .s-nets-list {
    float: none!important;
    padding-left: 0px;
}

.s-nets-list {
    position: relative;
    overflow: hidden;
    margin-top: 6px;
    font-size: 11px;
    line-height: 15px;
    float: right;
}

.s-nets-list li {
    position: relative;
    float: left;
    margin-left: 10px;
    background-image: none;
}

li.instagram-footer {
    background-image: none!important;
}

li.instagram-footer {
    background-image: url(../images/instagram-footer.png)!important;
    background-position: initial!important;
}

.s-nets-list li:first-child {
    margin-left: 0;
}

.s-nets-list li:nth-child(1) {
    background-color: #7d3daf;
}
.s-nets-list li:nth-child(2) {
    background-color: #3b569d;
}
.s-nets-list li:nth-child(3) {
    background-color: #cc191e;
}
.s-nets-list li:nth-child(4) {
    width: 23px;
    background-color: #d95032;
    background-color: #60a8de;
}
.s-nets-list li:nth-child(5) {
    background-color: #60a8de;
    background-color: #326288;
}

.col-1.footer-social .s-nets-list li {
    background-image: none;
    width: 28px;
    height: 28px;
    background-position: 109px 0;
}

.col-1.footer-social .s-nets-list li:nth-child(2) {
    background-position: 0 0;
}
.col-1.footer-social .s-nets-list li:nth-child(3) {
    background-position: 149px 0;
}
.col-1.footer-social .s-nets-list li:nth-child(4) {
    background-position: 28px 0;
}
.col-1.footer-social .s-nets-list li:nth-child(5) {
    background-position: 68px 0;
}

.col-1.footer-social .s-nets-list li a {
    /* position: relative; */
    display: block;
    width: 28px;
    height: 0;
    padding-top: 28px;
    overflow: hidden;
    background: no-repeat 0 0;
}

.s-nets-list li a svg {
    position: absolute;
    top: 2px;
    left: 2px;
    fill: #fff;
}

.footer-social .s-nets-list li a svg {
    top: 4px;
    left: 4px;
}