 <!-- Copyright (c) 2016-Present Webkul Software Pvt. Ltd. (<https://webkul.com/>)  -->
 <!-- See LICENSE file for full copyright and licensing details.  -->
 <!-- License URL : https://store.webkul.com/license.html/  -->

<section class="oe_container">
    <div class="oe_row oe_spaced">
        <div class="oe_span6">
            <h2 class="oe_slogan">Website Review</h2>
            <p>
                <h3 class="oe_slogan">Basic Features</h3>
                <ul>
                    <li>Integrate reviews with your products.</li>
                    <li>Add review feature from odoo website.</li>
                    <li>Admin can manage review from odoo admin panel.</li>
                    <li>Registered user can add review from odoo website.</li>
                    <li>Admin can see all review at one place.</li>
                    <li>Reviews can be like or dislike by the registered user.</li>
                    <li>Admin can control reviews loading on website.</li>
                    <li>Provide responsive view for different devices.</li>
                </ul>
            </p>
        </div>
        <div class="oe_span6" style="width: 414px;">
            <img class="oe_picture oe_screenshot" src="main.png">
        </div>
    </div>
</section>

<section class="oe_container">
    <ul class="nav nav-tabs nav-justified ">
        <li class="active "><a href="#odoo_website_product_review_example_1" data-toggle="tab"><b>Setup & Configure</b></a></li>
        <li><a href="#odoo_website_product_review_example_2" data-toggle="tab"><b>New Features</b></a></li>
    </ul>

    <div id="my-tab-content" class="tab-content">
        <div class="tab-pane active" id="odoo_website_product_review_example_1">
            <section class="oe_container oe_dark">
                <h2 class="oe_slogan">Your Review Page</h2>
                <div class="oe_row oe_spaced">
                    <div class="oe_span12" style="width: 828px;">
                        <h4 class="oe_slogan">
            Integrate reviews with your products
                        </h4>
                    </div>
                    <div class="oe_span12" style="width: 828px;">
                        <div class="oe_row_img oe_centered">
                            <img class="oe_picture oe_screenshot" src="main-review-page.png">
                        </div>
                    </div>
                </div>
            </section>

            <section class="oe_container oe_dark">
                <h2 class="oe_slogan">Review Summary</h2>
                <div class="oe_row oe_spaced">
                    <div class="oe_span12" style="width: 828px;">
                        <h4 class="oe_slogan">
            Check average rating for every products
                        </h4>
                    </div>
                    <div class="oe_span12" style="width: 828px;">
                        <div class="oe_row_img oe_centered">
                            <img class="oe_picture oe_screenshot" src="review-rate-section.png">
                        </div>
                    </div>
                </div>
            </section>

            <section class="oe_container oe_dark">
                <h2 class="oe_slogan">Product Review Configuration</h2>
                <div class="oe_row oe_spaced">
                    <div class="oe_span12" style="width: 828px;">
                        <h4 class="oe_slogan">
            Admin can configure default settings for product review.
                        </h4>
                    </div>
                    <div class="oe_span12" style="width: 828px;">
                        <div class="oe_row_img oe_centered">
                            <img class="oe_picture oe_screenshot" src="config1.jpg">
                            <img class="oe_picture oe_screenshot" src="config2.jpg">
                        </div>
                    </div>
                </div>
            </section>

            <section class="oe_container oe_dark">
                <h2 class="oe_slogan">Check Review Per Product</h2>
                <div class="oe_row oe_spaced">
                    <div class="oe_span12" style="width: 828px;">
                        <h4 class="oe_slogan">
            Admin Can Check All Reviews For Every Products.
                        </h4>
                    </div>
                    <div class="oe_span12" style="width: 828px;">
                        <div class="oe_row_img oe_centered">
                            <img class="oe_picture oe_screenshot" src="review_admin.png">
                        </div>
                    </div>
                </div>
            </section>

            <section class="oe_container oe_dark">
                <h2 class="oe_slogan">All Reviews</h2>
                <div class="oe_row oe_spaced">
                    <div class="oe_span12" style="width: 828px;">
                        <h4 class="oe_slogan">
            Admin can manage all reviews at one place.
                        </h4>
                    </div>
                    <div class="oe_span12" style="width: 828px;">
                        <div class="oe_row_img oe_centered">
                            <img class="oe_picture oe_screenshot" src="all_review.jpg">
                        </div>
                    </div>
                </div>
            </section>

            <section class="oe_container oe_dark">
                <h2 class="oe_slogan">Publish/Unpublish</h2>
                <div class="oe_row oe_spaced">
                    <div class="oe_span12" style="width: 828px;">
                        <h4 class="oe_slogan">
            Admin can Publish and Unpublish reviews by own.
                        </h4>
                    </div>
                    <div class="oe_span12" style="width: 828px;">
                        <div class="oe_row_img oe_centered">
                            <img class="oe_picture oe_screenshot" src="pub-unpub.jpg">
                        </div>
                    </div>
                </div>
            </section>
        </div>
        <div class="tab-pane active" id="odoo_website_product_review_example_2">
            <section class="oe_container oe_dark">
                <h2 class="oe_slogan">Product Review In Grid And List View</h2>
                <div class="oe_row oe_spaced">
                    <div class="oe_span12" style="width: 828px;">
                        <h4 class="oe_slogan">
            Average rating of the product in grid view.
                        </h4>
                    </div>
                    <div class="oe_span12" style="width: 828px;">
                        <div class="oe_row_img oe_centered">
                            <img class="oe_picture oe_screenshot" src="grid-view.png">
                        </div>
                    </div>
                </div>
                <div class="oe_row oe_spaced">
                    <div class="oe_span12" style="width: 828px;">
                        <h4 class="oe_slogan">
            Average rating of the product in list view.
                        </h4>
                    </div>
                    <div class="oe_span12" style="width: 828px;">
                        <div class="oe_row_img oe_centered">
                            <img class="oe_picture oe_screenshot" src="tree.png">
                        </div>
                    </div>
                </div>
            </section>
            <section class="oe_container oe_dark">
                <h2 class="oe_slogan">Average Rating On Mouse Hover</h2>
                <div class="oe_row oe_spaced">
                    <div class="oe_span12" style="width: 828px;">
                        <h4 class="oe_slogan">
            User can see average of the product rating on mouse hover.
                        </h4>
                    </div>
                    <div class="oe_span12" style="width: 828px;">
                        <div class="oe_row_img oe_centered">
                            <img class="oe_picture oe_screenshot" src="hover.png">
                        </div>
                    </div>
                </div>
            </section>
            <section class="oe_container oe_dark">
                <h2 class="oe_slogan">Review Like/Dislike</h2>
                <div class="oe_row oe_spaced">
                    <div class="oe_span12" style="width: 828px;">
                        <h4 class="oe_slogan">
            User can like and dislike reviews.
                        </h4>
                    </div>
                    <div class="oe_span12" style="width: 828px;">
                        <div class="oe_row_img oe_centered">
                            <img class="oe_picture oe_screenshot" src="like-dislike.png">
                        </div>
                    </div>
                </div>
            </section>


            <section class="oe_container oe_dark">
                <h2 class="oe_slogan">Product Review Mobile View</h2>
                <div class="oe_row oe_spaced">
                    <div class="oe_span12" style="width: 828px;">
                        <h4 class="oe_slogan">
            This module is responsive for many devices.
                        </h4>
                    </div>
                    <div class="oe_span6" style="width: 414px;">
                        <div>
                            <img  src="mob1.png">
                        </div>
                    </div>
                    <div class="oe_span6" style="width: 414px;">
                        <div >
                            <img  src="mob2.png">
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>

<section class="oe_container">
    <div class='oe_row'>
        <div class='oe_span12'>
            <h2 class='oe_slogan'>Complimentary Support</h2>
            <p>
            You will get 90 days free support for any doubt, queries, and bug fixing (not including data recovery) or any type of issue related to this module.
            </p>
        </div>
    </div>
    <div class="oe_row oe_spaced">
        <div class="oe_span12">
            <h2 class="oe_slogan">Help and Support</h2>
        </div>
        <div class="oe_slogan oe_spaced">
            <img src="icon-help.png">
            <span ><a onMouseOver="this.style.color='#AC1EE0'"
   onMouseOut="this.style.color='#7c7bad'" style="color:#7c7bad;" target="_blank" href="http://webkul.uvdesk.com/en/customer/create-ticket/">Help</a></span>
            <img src="icon-support.png">
            <span ><a onMouseOver="this.style.color='#AC1EE0'"
   onMouseOut="this.style.color='#7c7bad'" style="color:#7c7bad;" target="_blank" href="http://webkul.uvdesk.com/en/customer/create-ticket/">Support</a></span>
            <img src="icon-features.png">
            <span ><a onMouseOver="this.style.color='#AC1EE0'"
   onMouseOut="this.style.color='#7c7bad'" style="color:#7c7bad;" target="_blank" href="http://webkul.uvdesk.com/en/customer/create-ticket/">Request new Features</a></span>
        </div>
    </div>
</section>

<section class="oe_container">
    <div class="oe_span12">
        <!-- Piwik Image Tracker-->
<img src="http://odooimg.webkul.com/analytics/piwik/piwik.php?idsite=3&rec=1&action_name=WEBSITE:-PRODUCT-REVIEW&url=https://apps.openerp.com/apps/modules/11.0/wk_review&uid=wk_review" style="border:0" alt="" />
<!-- End Piwik -->
    </div>
</section>
