.product-advan-wrap {
    border-bottom: 1px solid #e4e1e3;
    border-top: 1px solid #e4e1e3;
    padding: 25px 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 50px 0;
}

.product-advan-wrap .one-item {
    display: inline-block;
    width: 100%;
    max-width: 365px;
    font-size: 12px;
}

.product-advan-wrap .one-item .img-adv {
    float: left;
    margin-right: 20px;
}


.product-advan-wrap img {
    display: block;
}


.product-advan-wrap .one-item .title-adv {
    color: #ac1774;
    margin-top: 5px;
    margin-bottom: 1px;
    font-family: bold-gotham;
    font-size: 13px;
}