<section class="oe_container">
    <div class="oe_row oe_centered">
        <div class="oe_span_10 oe_centered">
            <h4 class="oe_slogan" style="margin-left: 120px;"><b><span class="fa fa-star fa-spin"></span>
                    Quotation Revision </span></b></h4>
        </div>
    </div>

    <p align="left">The Quotation Revision module allows user to edit the price/no. of products in the quotation which is already prepared. The base module of Odoo provided the facility of creating quotation but if there are some changes to be made in the quotation user had to create another quotation for the same product and client to edit the price or no. of products. Aktiv Software brought a solution to this and provided the facility to edit the quotation. Below-given are the list of functionalities we provide with this module:</p>

    <div class="oe_centered">
        <ul>
            <li>When in revised state the quotation would be shown with different name and after the confirmation it would be displayed with different name to differentiate the confirmed and revised quotation.</li>
            <li>But at the end you will not have to create different revised quotations you will just have to edit in the existing quotation and the edits would be saved in the history as revised quotation.</li>
            <li>You can edit the price as well as no. of products in the quotation.</li>
            <li>You can also view the no. of times your quotation was revised on the screen.</li>
        </ul>
    </div>

    <div class="oe_row oe_centered">
        <div class="oe_span_10 oe_centered">
            <h4 class="oe_slogan" style="margin-left: 120px;"><b><span class="fa fa-star fa-spin"></span>
                    Prerequisites before Installation </span></b></h4>
        </div>
    </div>
    <p align="left">No prerequisites are required for the module. You can simply install the module.</p>


    <div class="oe_row oe_centered">
        <div class="oe_span_10 oe_centered">
            <h4 class="oe_slogan" style="margin-left: 120px;"><b><span class="fa fa-star fa-spin"></span>
                    Configurations </span></b></h4>
        </div>
    </div>
    <p align="left">No configurations are required.</p>

    <div class="oe_centered">
        <p>Let us consider making quotation for two products, product01, product02 and keep their number of quantities as 1 and prices as 33 and 20 respectively.</p>
    </div>
    <div class="oe_row oe_centered">
        <div class="oe_span12">
            <img src="create_quotation.png" style="width: 100%;"/>
        </div>
    </div>

    <div class="oe_centered">
        <p>You can send this quotation file by email to the buyer.  You can see that currently there are no revised order so the no. of orders is set to 0.</p>
    </div>
    <div class="oe_row oe_centered">
        <div class="oe_span12">
            <img src="send_mail.png" style="width: 100%;"/>
        </div>
    </div>

    <div class="oe_centered">
        <p>Now if the buyer wants to change the no. of quantity or is not agreeing with the price and you wish to change them then you can now click on “Make Revise Sale Quotation” and edit the quotation.</p>
    </div>
    <div class="oe_row oe_centered">
        <div class="oe_span12">
            <img src="make_revise.png" style="width: 100%;"/>
        </div>
    </div>

    <div class="oe_centered">
        <p>Let’s consider a situation where user is going to change the price as well as order quantity as per the requirement of the buyer. Consider product quantity of product01 as 20 and product02 as 50 their prices set to 32 and 19 respectively. Now you can see that prices and quantities are changed in the same quotation and the no. of revised quotation is updated to 1 and will be displayed in the history further.</p>
    </div>
    <div class="oe_row oe_centered">
        <div class="oe_span12">
            <img src="change_quote.png" style="width: 100%;"/>
        </div>
    </div>

    <div class="oe_centered">
        <p>Now as mentioned earlier you can see that the revised quotations are displayed in the history till the buyer confirms any. The changed quotation price is also displayed for the particular order under the “revised order quotation” tag.</p>
    </div>
    <div class="oe_row oe_centered">
        <div class="oe_span12">
            <img src="revised_quote.png" style="width: 100%;"/>
        </div>
    </div>

    <div class="oe_centered">
        <p>The buyer can confirm the quotation by simply clicking on the “Confirm Sale” button. They can view the history of revised quotation. After the mutual decision buyer can select a quotation from the list which best suits their requirement and budget.</p>
    </div>
    <div class="oe_row oe_centered">
        <div class="oe_span12">
            <img src="confirm_sale.png" style="width: 100%;"/>
        </div>
    </div>

    <div class="oe_centered">
        <p>Now let us consider that buyer has confirmed a quotation then the confirmed quotation will be named after the original order name. Other than that, the revised quotations will be displayed with a prefix RSO1_ before the order name. As shown in the below image SO048 is the confirmed quotation and RSO1_SO048 is the revised quotation. With the increase in number of revised quotations the RSO1 will change in a numeric order as RSO2, RSO3, RSO4, ……. and so on.</p>
    </div>
    <div class="oe_row oe_centered">
        <div class="oe_span12">
            <img src="confirm_revised_quotation.png" style="width: 100%;"/>
        </div>
    </div>


    

    <div class="oe_row oe_spaced">
        <h2 class="oe_slogan">
            <a href="http://aktivsoftware.com/" target="new">
                <img src="http://aktivsoftware.com/wp-content/uploads/2018/01/logo-1.png"/>
            </a>
            <br/>
            <a href="mailto:sales@aktivsoftware.com" style="color: #000000 !important;">
                        Get Help &amp; Support
            </a>
        </h2>
        <div class="oe_slogan oe_spaced text-center">
            <a class="btn btn success mt8" title="website" target="new" style="background-color:#ff4040;  color: #ffffff; !important; position:relative; overflow: hidden;" href="http://aktivsoftware.com/"><b>Website</b></a>
            <a class="btn btn success mt8" title="Contact Us" style="background-color:#ff4040; color: #ffffff; !important; position:relative; overflow: hidden;" href="mailto:sales@aktivsoftware.com"><b>Contact Us</b></a>
            <a class="btn btn success mt8" title="Request New Features Now!" style="background-color:#ff4040; color: #ffffff; !important; position:relative; overflow: hidden;" href="mailto:sales@aktivsoftware.com"><b>Request For New Features</b></a>
        </div>
    </div>
</section>
