<section class="oe_container">
     <div class="oe_row oe_spaced">
         <h2 class="oe_slogan">Display Address Type</h2>
         <h4 class="oe_slogan">
             <a href="https://www.avptechnolabs.com" style="color:#875A7B;">AVP Technolabs</a>
         </h4>
    </div>
</section>

<section class="oe_container oe_dark">
    <div class="oe_row oe_spaced">
        <h4 class="oe_slogan" style="color:#875A7B;">Features</h4>
        <ul>
            <div>
                This module is allow to display partner contacts address type.</span>
            </div>
            <li style="list-style:none !important;">
                <span style="color:#CB1795;"> &#9745;</span>&nbsp;&nbsp;
                Manage to the partner contacts address type
            </li>
            <li style="list-style:none !important;">
                 <span style="color:#CB1795;"> &#9745;</span>&nbsp;&nbsp;
                 Display <b>Shipping address, Invoice address, Contact</b> and <b>Other address</b>
            </li>
            <li style="list-style:none !important;">
                <span style="color:#CB1795;"> &#9745;</span>&nbsp;&nbsp;
                Allow to filter or group by address type(Ex.shipping,invoice)
            </li>
        </ul>
    </div>
    <div class="oe_row oe_spaced">
        <h4 class="oe_slogan" style="color:#875A7B;">Process</h4>
        <div class="oe_span12">
            <strong>
                <p>Allow to display partner contacts address type(Ex. Shipping address, Invoice address, Other...).</p>
            </strong>
            <div class="oe_row_img oe_centered">
                <div>
                    <ul>
                        <li style="list-style:none !important;">
                            <span style="color:green;"> &#9745;</span>&nbsp;&nbsp;
                            Manage to the partner contacts address type
                        </li>
                    </ul>
                </div>
                <div class="oe_row_img oe_centered">
                    <img style="border:10px solid white;width:900px;" class="oe_picture oe_screenshot"
                         src="1_contact_details.png">
                </div>
                <div>
                    <ul>
                        <li style="list-style:none !important;">
                            <span style="color:green;"> &#9745;</span>&nbsp;&nbsp;
                            Default contact details display like.
                        </li>
                    </ul>
                </div>
                <div class="oe_row_img oe_centered">
                    <img style="border:10px solid white;width:900px;" class="oe_picture oe_screenshot"
                         src="2_contact_details.png">
                </div>
                <div>
                    <ul>
                        <li style="list-style:none !important;">
                            <span style="color:green;"> &#9745;</span>&nbsp;&nbsp;
                            Allow to filter or group by address type(Ex.shipping,invoice, contact and other).
                        </li>
                    </ul>
                </div>
                <div class="oe_row_img oe_centered">
                    <img style="border:10px solid white;width:900px;" class="oe_picture oe_screenshot"
                         src="3_contact_details.png">
                </div>
            </div>
        </div>
    </div>
</section>

<div style="
    border: 0;
    margin: 40px 0;
    height: 4px;
    border-top: #ddd 1px solid;
    border-bottom: #ddd 1px solid;
    text-align: center;
    position: relative;
    clear: both;">
    <i class="fa fa-star fa-2x" style="
    color: #bbb;
    background: #fff;
    text-align: center;
    display: inline-block;
    height: 50px;
    line-height: 50px;
    text-align: center;
    width: 50px;
    font-size: 20px;
    position: absolute;
    top: -25px;
    left: 50%;
    margin: 0 auto 0 -25px;"></i>
</div>

<section class="oe_container oe_dark">
    <div class="oe_row oe_spaced">
         <img class="img-border img-responsive thumbnail" style="width:100%" src="service-banner.png">
    </div>
    <div style="padding-top:10px;"></div>

    <div class="container" style="text-align: center;">
        <div class="row">
            <div>
                <h2 style="color:#875A7B;">Our More Odoo Apps...</h2>
                <a style="background: none 0% 0% repeat scroll rgb(49, 91, 143);
                    color: rgb(255, 255, 255); border-color: rgb(49, 91, 143); position: relative; overflow: hidden;" class="btn btn-success btn-lg" rel="nofollow" href="https://www.odoo.com/apps/modules/browse?search=AVP+Technolabs" target="_blank">
                    <i class="fa fa-cart-arrow-down" style="padding-right: 10px;"></i>  Click Here
                </a>
                <div style="padding-top:25px;"></div>

                <h2 style="color:#875A7B;">Technical Help & Support</h2>
                <p style="margin: 30px 0px;font-size:15px;">
                    We offer extremely convenient and service to all your technical help &amp; support requests.
                    <br>
                    Please feel free to contact us
                </p>
                <div class="text-center">
                    <a style="background: none 0% 0% repeat scroll rgb(49, 91, 143);
                    color: rgb(255, 255, 255); border-color: rgb(49, 91, 143); position: relative; overflow: hidden;" class="btn btn-success btn-lg" rel="nofollow"
                       href="mailto:avptechnolabs@gmail.com">
                        <span class="o_ripple" style="height: 206px; width: 206px; top: -79.9844px; left: 19.2969px;"></span>
                    <i class="fa fa-envelope"></i>  avptechnolabs@gmail.com </a>

                    <font style="padding-left:20px;"/>
                    <a style="background: none 0% 0% repeat scroll rgb(49, 91, 143);
                    color: rgb(255, 255, 255); border-color: rgb(49, 91, 143); position: relative; overflow: hidden;height:42px;width:54px;" class="btn btn-success btn-lg" rel="nofollow"
                        href="https://www.linkedin.com/in/avp-technolabs/" target="_blank">
                        <i class="fa fa-2x fa-linkedin" ></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>

<div style="
    border: 0;
    margin: 40px 0;
    height: 4px;
    border-top: #ddd 1px solid;
    border-bottom: #ddd 1px solid;
    text-align: center;
    position: relative;
    clear: both;">
    <i class="fa fa-star fa-2x" style="
    color: #bbb;
    background: #fff;
    text-align: center;
    display: inline-block;
    height: 50px;
    line-height: 50px;
    text-align: center;
    width: 50px;
    font-size: 20px;
    position: absolute;
    top: -25px;
    left: 50%;
    margin: 0 auto 0 -25px;"></i>
</div>
