<div class="container">

    <div class="row section-content">
        <h1 class="bc-h1">Product Location</h1>
        <h2 class="bc-h2 text-muted">Display product location on ecommerce product page using google maps.</h2><br>
        <div class="bc-span col-md-6">
            <div class="inner-span">
                <img class="img-border img-responsive thumbnail" src="productpage.png">
            </div>
        </div> 

        <div class="col-md-6 img-content"> 
            <h3>Let your customer know where your products are.</h3>
            <p>This module is useful if you need your customer to come to where your products are.
                You can give a specific location to a specific product, displayed on your product page with google maps API.                
            </p>
        </div> 
    </div>
    <br><hr><br>
    <div class="row section-content">
        <div class="col-md-6 img-content"> 
            <h3> Add product location at sales and website menu.</h3>
            <p> You can add new locations on the go while creating new products.</p>
        </div>   
        <div class="bc-span col-md-6">
            <div class="inner-span">
                <img class="img-border img-responsive thumbnail" src="addproduct.png">
            </div>
        </div> 
    </div>
    <br><hr><br>
    <div class="row section-content">
        <div class="bc-span col-md-6">
            <div class="inner-span">
                <img class="img-border img-responsive thumbnail" src="addlocation.png">
            </div>
        </div> 
        <div class="col-md-6 img-content">
            <h3>Use location repeatedly.</h3> 
            <p>The created location is saved so that it can be used repeatedly.
            </p>
        </div>   
    </div>
    <br><hr><br>
    <div class="row section-content">
        <div class="col-md-6 img-content"> 
            <h3>The location displayed on quotation and invoice</h3>
            <p> Make your customer easy to find your location just by seeing the address on quotation or invoice.</p>
        </div>   
        <div class="bc-span col-md-6">
            <div class="inner-span">
                <img class="img-border img-responsive thumbnail" src="onquotation.png">
            </div>
        </div> 
    </div>
</div>
<div class="row section-content">
    <div class="col-md-12 img-content text-center">
        <h2>Technical Help &amp; Support</h2> 
        <p style="margin: 30px 0px;">       
            Feel free to contact us for technical help &amp; support requests.<div class="text-center">
            <a style="background: #315b8f  none repeat scroll 0% 0%; 
                      color: rgb(255, 255, 255); border-color: #315b8f;" 
               class="btn btn-success btn-lg" rel="nofollow" href="mailto:wangsamax@gmail.com"> 
                <i class="fa fa-envelope"></i>  wangsamax@gmail.com </a>
        </div>
        <br>
    </div> 
</div> 

