<section class="oe_container">
	<div class="oe_row oe_centered">
		<div class="oe_span_10 oe_centered">
			<h4 class="oe_slogan" style="margin-left: 180px;">Functionality</b></h4>
		</div>
	</div>

	<h5 align="center"><b>The purpose of this module is to display databases along with datetime on which they are created</b></h5>

	<div>
        <p>Visit the link of database manager or database selector.(i.e. /web/database/manager, /web/database/selector) and you can see the list of databases with datetime detail.</p>
        <p>This functionality works with database filter also.</p>
    </div>
     <div class="oe_row oe_centered">
        <div class="oe_span12">
            <img class="img-responsive thumbnail" style="border: 1px solid black;" src="database_creation_datetime.png">
        </div>
    </div>
    <div class="oe_span12">
        <h2 class="oe_slogan">
            <a href="http://aktivsoftware.com/" target="new">
                <img src="http://aktivsoftware.com/wp-content/uploads/2018/01/logo-1.png"/>
            </a>
            <br/>
            <a href="mailto:sales@aktivsoftware.com" style="color: #000000 !important;">
                Get Help &amp; Support
            </a>
        </h2>
        <div class="oe_slogan oe_spaced text-center">
            <a class="btn btn success mt8" title="website" target="new" style="background-color:#ff4040;  color: #ffffff; !important; position:relative; overflow: hidden;" href="http://aktivsoftware.com/">
                <b>Website</b>
            </a>
            <a class="btn btn success mt8" title="Contact Us" style="background-color:#ff4040; color: #ffffff; !important; position:relative; overflow: hidden;" href="mailto:sales@aktivsoftware.com">
                <b>Contact Us</b>
            </a>
            <a class="btn btn success mt8" title="Request New Features Now!" style="background-color:#ff4040; color: #ffffff; !important; position:relative; overflow: hidden;" href="mailto:sales@aktivsoftware.com">
                <b>Request For New Features</b>
            </a>
        </div>
    </div>
</section>
