<div class="container">

<div class="row section-content">
    <h1 class="bc-h1">Customer Order Comment
                </h1><h2 class="bc-h2 text-muted">Know your customer's comments, view it on checkout page</h2><br>
<div class="bc-span col-md-6"><div class="inner-span"><img class="img-border img-responsive thumbnail" src="front-screen.png"></div></div> 
              <div class="col-md-6 img-content"> 
<h3>Allow your Customers Comment in Validate Order Page</h3>
              <p>Can  your  customer  comment on their order while placing  an order? It  is  imperative to  know what customers think about your products or they can also comment to improve their shopping experience or in your Odoo website!<br/><br/>You can now add this facility in your website by configuring <b> Customer Order Comment</b> app. It  will add a <b>Customer Order Comment </b>textbox on the <b> Checkout Page.</b> <br/><br/> Customer can comment without saving it & you can see customer comment related to order in sales order.</p>

                </div>   
                 


</div>
<br><hr><br><div class="row section-content">

              
              <div class="col-md-6 img-content"> 
<h3>Review Customer Comment in Order Form View </h3>

 <p> Customer Order Comment will get displayed in <b>"Customer Order Comment"</b> tab in Sales Order Form View.<br/><br/>

If user does not insert comments, it will show no comments to you.</p>
                </div>   
                 
<div class="bc-span col-md-6"><div class="inner-span"><img class="img-border img-responsive thumbnail" src="backend-setting.png"></div></div> 

</div>
<br><hr><br><div class="row section-content">
<div class="bc-span col-md-6"><div class="inner-span"><img class="img-border img-responsive thumbnail" src="admin-setting.png"></div></div> 

              <div class="col-md-6 img-content">
              <h3>Disable App from Backend</h3> 
              <p>               You (admin) can disable customer order comment feature from back‐end going to "Website Setting" tab.                </p>
                </div>   
                 

</div>

<br><hr><br><div class="row section-content">
 <div class="col-md-6 img-content">
 <h3>Our Odoo Services</h3>

               
             </div>    <div class="bc-span col-md-12"><div class="inner-span"><a target="_blank" href="https://www.appjetty.com/odoo/odoo-apps.htm"><img class="img-border img-responsive thumbnail" src="service-banner.png"></a></div></div> 

</div>

</div>

<div class="oe_row section-content">
    <div class="col-md-12 img-content text-center">
        <h2>Technical Help &amp; Support</h2>
        <p style="margin: 30px 0px;">We offer extremely convenient and quick support service to all your technical help &amp; support requests. As our support <br /> service is the parameter defining the success of our business and earning us the brand name.       <br />    Please feel free to contact us</p>
        <div class="text-center">
            <a style="background: #315b8f  none repeat scroll 0% 0%; color: rgb(255, 255, 255); border-color: #315b8f;" class="btn btn-success btn-lg" rel="nofollow" href="mailto:support@appjetty.com">
                <i class="fa fa-envelope"></i>  support@appjetty.com </a>
        </div>
        <br/>
    </div>
</div>