
<section class="container">
   <div class="oe_row oe_spaced" >

          <h3 class="oe_slogan" >Contact Smart Button</h3>

            <p class="oe_mt16" style="line-height: 190%;">
        This module add a Smart Button on a partner form to have display a view with linked contacts of a specific partner</p>
            <p class="oe_mt16" style="line-height: 190%;">
        Usefull if you need to edit contacts from a specific company!</p>
    </div>
</section>

<section class="container">
 <div class="oe_row oe_spaced">
        	<div style="max-width:1000px;width: auto;margin: 0 auto;display:block">
				<div class="col-xs-6 mt16">
					 <img class="img img-responsive" src="company.png" style="box-shadow:unset;max-height: unset;max-width: 100%;width: auto;float:right;">
				</div>
				<div class="col-xs-6 mt16">
					 <img class="img img-responsive" src="kanban_contact.png" style="box-shadow:unset;max-height: unset;max-width: 100%;width: auto;float:left;">
				</div>
			</div>
	 </div>
</section>

