<?xml version="1.0" encoding="utf-8"?>

<section class="oe_container">
    <div class="oe_row alert alert-info text-center">
        <p>Module is compatible with python 2.7</p>
    </div>
</section>
<section class="oe_container">
    <h1>Is Easy an elegant and scalable solution to design reports using LibreOffice or OpenOffice.</h1>
    <p>Export data all objects odoo to OpenOffice, LibreOffice output files odt, pdf, doc, docx, ods, rtf.</p>
</section>
<section class="oe_container">
    <div class="oe_row oe_spaced">
        <div class="col-md-6 mt16">
          <p class="text-center">File in.</p>
          <img class="img img-responsive shadow mb16" src="file_in.png">
        </div>
        <div class="col-md-6 mt16">
          <p class="text-center">File out [odt, pdf, doc, docx, ods, rtf]</p>
          <img class="img img-responsive shadow mb16" src="file_out.png">
        </div>
    </div>
</section>
<section class="oe_container">
    <div class="oe_row oe_spaced">
        <div class="col-md-6 mt16">
          <p class="text-center">Other example file in.</p>
          <img class="img img-responsive shadow mb16" src="file_in_02.png">
        </div>
        <div class="col-md-6 mt16">
          <p class="text-center">File out.</p>
          <img class="img img-responsive shadow mb16" src="file_out_02.png">
        </div>
    </div>
    <div class="oe_row alert alert-info text-center">
        <p>Ideal for creating contracts and other documents.</p>
    </div>
</section>
<section class="oe_container">
    <h1>Report templates can be created directly in of following format:</h1>
    <p><b>*.odt</b> Using the word processor OpenOffice or LibreOffice</p>
    <p>Example templates in module <b><a href="https://www.odoo.com/apps/modules/11.0/report_extend_bf_examples/">report_extend_bf_examples</a></b>.</p>
    <p>Note: LibreOffice (Version: 4.4.6.3 or better). tested with LibreOffice write version: 4.4.6.3 or 6.0 (Optional for create templates).</p>
</section>
<section class="oe_container">
    <div class="oe_row oe_spaced">
        <h1>Example Create report:</h1>
        <div class="mt16">
          <p class="text-center">Settings/Technical/Reporting/Reporting</p>
          <img class="img img-responsive shadow mb16" src="example_create_report_01.png">
        </div>
    </div>
</section>
<section class="oe_container">
    <div class="oe_row oe_spaced">
        <div class="col-md-6 mt16">
            <h1>Output formats:</h1>
            <ul class="simple">
                <li>ODF Text Document [.odt]</li>
                <li>Portable Document Format [.pdf]</li>
                <li>Microsoft Word 97/2000/XP [.doc]</li>
                <li>Microsoft Office Open XML [.docx]</li>
                <li>ODF Spreadsheet [.ods]</li>
                <li>Microsoft Word Text Rich [.rtf]</li>
            </ul>
        </div>
        <div class="col-md-6 mt16">
          <p class="o_default_snippet_text">Show video demo:</p>
          <a href="https://youtu.be/UeFGlHPUH2Q" target="blank"><img class="img img-responsive shadow mb16" src="show_video.png"></a>
        </div>
    </div>
</section>

<section class="oe_container">
    <div class="oe_row oe_spaced">
        <div class="col-md-6 mt16">
          <p>If there are several records return an file compress.</p>
          <img class="img img-responsive shadow mb16" src="list_record.png">
        </div>
        <div class="col-md-6 mt16">
          <p>Return file *.zip</p>
          <img class="img img-responsive shadow mb16" src="compress_report.png">
        </div>
    </div>
</section>


<section class="oe_container">
    <div class="oe_row oe_spaced">
        <p class="oe_mt32"><center><b>info@buildfish.com</b></center></p>
    </div>
</section>