<section class="oe_container">
    <div class="oe_row oe_spaced">
        <div class="oe_span12">
            <h2>Main UI Gannt Module. It Only Web Gantt Framework. It is Main cost dependence module. </h2>
            <p class="oe_mt32">250.00 Eur <a href="https://apps.odoo.com/apps/modules/11.0/web_gantt_native/">Main UI Web Gannt Module</a>
            <p class="oe_mt32">0.00 Eur <a href="https://apps.odoo.com/apps/modules/11.0/project_native/">Gantt Native view for Projects </a>
            <p class="oe_mt32">0.00 Eur <a href="https://apps.odoo.com/apps/modules/11.0/mrp_gantt_native/">Gantt Native view for MRP / Manufacture </a>
            <p class="oe_mt32">0.00 Eur <a href="https://apps.odoo.com/apps/modules/11.0/hr_holidays_gantt_native/">Gantt Native view for Leave </a>
        </div>
    </div>
</section>


<section class="oe_container">
    <div class="oe_row oe_spaced">
        <div class="oe_span12">
            <h2>Demo</h2>
            <p class="oe_mt32">user: demo Password:demog <a href="https://demo11.garage12.eu/">Odoo Gantt Demo </a>
        </div>
    </div>
</section>


<section class="oe_container">
    <div class="oe_row oe_spaced">
        <h2 class="oe_slogan" style="color:#875A7B;">Leave HR - Holidays - Gantt</h2>

        <div class="oe_span6">
            <p class="oe_mt32 oe_mb32 text-justify">
                Gantt for All Leave views
            </p>
            <img class="oe_picture oe_screenshot" src="m_main.png"/>
        </div>

    </div>
</section>

<section class="oe_container">
    <div class="oe_row oe_spaced">
        <div class="oe_span12">
            <h2>More Info</h2>
            <p class="oe_mt32">YouTube Video PlayList <a href="https://www.youtube.com/playlist?list=PLmxcMU6Ko0NkqpGLcC44_GXo3_41pyLNx">Odoo Gantt Native</a>
        </div>
    </div>
</section>


<section class="oe_container">
    <div class="oe_row oe_spaced">
        <div class="oe_span12">
            <h2>Need our service?</h2>
            <p class="oe_mt32">Contact us by <a href="mailto:vostraga@gmail.com">email</a>
            <ul>
                <li><a href="mailto:vostraga@gmail.com">vostraga@gmail.com <i class="fa fa-envelope-o"></i></a></li>
            </ul>
        </div>
    </div>
</section>


<section class="oe_container oe_separator">
</section>
