    /* Copyright (c) 2016-Present Webkul Software Pvt. Ltd. (<https://webkul.com/>) */
/* See LICENSE file for full copyright and licensing details. */
#top_menu .dropdown {
    float: left;
    overflow: hidden;
}
 #top_menu .dropdown-content {
    display: none;
    position: absolute;
    width: 94%;
    left: 3%;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

#top_menu .dropdown-content .header {
    padding: 8px;
    color: white;
}

#top_menu .dropdown-content .header strong{
font-size: 18px;
}

#top_menu .dropdown:hover .dropdown-content {
    display: block;
}

#top_menu li.dropdown{
    position: inherit;
}

.dropdown-content .header{
    text-align: center;
}

.dropdown-content .row{
    margin-left: 0px;
    margin-right: 0px;
    padding: 15px;
    border: solid 1px #b4acac;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.bullet-point
{
    font-size: 12px;
    display: inline-block;
    margin-right: 5px;
    margin-bottom: 2px;
    position: relative;
    top: -2px;
}
.dropbtn img{
    max-height: 18px;
    display: inline-block;
    margin-right: 2px;
}
.icon-mobile-menu{
  display: none;
}
@media only screen and (max-width: 767px) {

  .dropbtn{
    padding-bottom: 0px;
  }
  #top_menu .dropdown{
    float: none;
    overflow: hidden;
  }
  .dropbtn img{
      max-height: 12px;
      display: inline-block;
      margin-right: 1px;
  }
  #top_menu .dropdown:hover .dropdown-content {
      display: none;
  }
  #top_menu .dropdown-content {
     display: none;
     position: inherit;
     width: 100%;
     left: 3%;
   }
  .dropdown-content .header{
      display: none
  }
  .dropdown-content .row{
      border: none;
      background: none;
  }
  .levelclass{
    color: black;
    padding: 2.5px;
  }
  .levelclass a{
    color: black;
  }
  #top_menu .dropdown:not(:last-child){
    border-bottom: 1px solid #ebebeb;
  }
  .icon-mobile-menu{
    display: block;
    text-align: right;
    margin-top: -20px;
  }
#top_menu .dropdown a{
    padding-bottom: 10px;
  }

}
