<section class="oe_container">
    <div class="oe_row oe_spaced">
        <div class="oe_span12">
            <h2 class="oe_slogan">POS User Wise</h2>
        </div>
        <div class="oe_span6">
            <div class="oe_demo oe_picture oe_screenshot">
                <img src="icon.png">
            </div>
        </div>
        <div class="oe_span6">
            <p class='oe_mt32'>
                <td style="padding-left: 15px;">
                    <div class="oe_author">
                        <p>TL Technology</p>
                        <p>Trial Now: <a href="http://www.posodoo.com/web/signup">Register Trial</a></p>
                        <p>Email: <a
                                href="https://mail.google.com/mail/?view=cm&amp;fs=1&amp;tf=1&amp;to=thanhchatvn@gmail.com"
                                target="_blank">thanhchatvn@gmail.com</a></p>
                    </div>
                </td>
            </p>
        </div>
    </div>
</section>

<section class="panel-heading oe_dark" style="background-color: #004CFF;">
    <div class="oe_row oe_spaced alert alert-info" style="padding:8px;font-weight: 200; font-size: 20px;">
        <h2 class="oe_slogan">List function of module</h2>
        <div class="oe_span12">
            <ul>
                <li>Only show pos orders filter by user still login</li>
                <li>Only show pos session for start pos filter by user still login</li>
            </ul>
        </div>
    </div>
</section>

<section class="oe_container">
    <div>
        <h2 class="oe_slogan" style="color:#875A7B;">Setting</h2>
    </div>
    <div class="oe_spaced" style="padding-left: 64px; padding-right: 64px; font-size: 18px;">
        <div style="background: white">
            <div class="alert alert-info">
                <i class="fa fa-star fa-spin"></i>
                Checked to checkbox field
            </div>
            <img src="user_wise_config.png" style="width: 100%; margin-bottom: 18px; border: 1px solid lightslategray">
        </div>
        <div style="background: white">
            <div class="alert alert-info">
                <i class="fa fa-star fa-spin"></i>
                Show only pos config have assigned before
            </div>
            <img src="user_wise_session_start.png" style="width: 100%; margin-bottom: 18px; border: 1px solid lightslategray">
        </div>
        <div style="background: white">
            <div class="alert alert-info">
                <i class="fa fa-star fa-spin"></i>
                Show only pos orders created by user
            </div>
            <img src="user_wise_pos_orders.png" style="width: 100%; margin-bottom: 18px; border: 1px solid lightslategray">
        </div>
    </div>
</section>

<div class="panel-heading oe_dark">
    <div class="alert alert-info" style="padding:8px;font-weight: 200; font-size: 20px;">
        <h2 class="oe_slogan">This is one future of Retail module, if need see full futures, please click and looking</h2>
        <div class="oe_row oe_spaced text-center">
            <div class="oe_span12">
                <div class="text-center">
                    <h1><a href="https://apps.odoo.com/apps/modules/11.0/pos_retail/" target="_blank">
                        <i class="fa fa-youtube-play"></i> POS Retail Management (Click here)
                    </a></h1>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="panel-heading oe_dark">
    <div class="alert alert-info" style="padding:8px;font-weight: 200; font-size: 20px;">
        <h2 class="oe_slogan">Youtube document how to use</h2>
        <div class="oe_row oe_spaced text-center">
            <div class="oe_span12">
                <div class="text-center">
                    <h1><a href="https://www.youtube.com/channel/UC3QNgFrKZJRDIpYrC3CvRww" target="_blank">
                        <i class="fa fa-youtube-play"></i> Subscribe Now
                    </a></h1>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="oe_row" style="background-color: violet;">
   <div style="margin-bottom:10px;" class="oe_slogan text-center">
       <div class="oe_span12">
       <h3 class="text-center" style="color: white; font-size:20px">Contact us for support, query, customization</h3>
   </div>
       <span>
           <a target="new" href="http://www.posodoo.com/web/signup" style="color: blue !important;font-weight:bold;">Trial Now</a> |
           <a href="mailto:thanhchatvn@gmail.com" style="color: blue !important;font-weight:bold;">Write us</a>
           | <a style="color: blue !important;font-weight:bold;">Skype: thanhchatvn | </a>
           <a target="new" href="https://apps.odoo.com/apps/modules/browse?author=TL%20Technology" style="color: blue !important;font-weight:bold;">My our modules</a> |
       </span>
   </div>
</div>