<section class="oe_container oe_dark">
    <div class="oe_row oe_spaced">
        <div class="panel-heading">
          <div class="alert alert-success" style="padding:8px;font-weight: 300; font-size: 20px;"><b>Combo Product</b></div>
            <ul>
                <li>Can create single product including multi items</li>
                <li>Filter Combo Product used to get combo products</li>
            </ul>
        </div>
        <div class="panel-heading">
          <div class="alert alert-success" style="padding:8px;font-weight: 300; font-size: 20px;"><b>Combo Product Configutation</b></div>
        </div>
        <img class="oe_picture oe_screenshot" src="combo_product_config.png" style="max-width: 100%;"/>
    </div>
</section>

<section class="oe_container">
    <div class="oe_row oe_spaced text-center">
        <div class="oe_span12">
            <h2 class="oe_slogan">Technical Help &amp; Support</h2>
        </div>
        <div class="oe_span12">
            <div class="text-center">
                <a style="color: rgb(255, 255, 255); background-color: rgb(232, 76, 61); border: 1px solid rgb(232, 76, 61); position: relative; overflow: hidden;" class="btn btn-success btn-lg" rel="nofollow" href="http://technosquare.in/contactus" target="_blank">
                    <i class="fa fa-envelope"></i> Contact Us
                </a>
            </div>
        </div>
    </div>
</section>
