<section class="oe_container">
    <div class="oe_row oe_spaced">
        <div class="oe_span12" style="width:840px;margin-left:-7px;">
            <h2 class="oe_slogan">Drag &amp; Drop Multi Attachments in Form View</h2>
            <h3 class="oe_slogan">This module enables the feature to Drag &amp; Drop multiple attachments in the form
                view of any objects.The attachments which are selected can simply drag &amp; drop to the form view and
                will be available at the "Attachments" dropdown box on the top of the form view.</h3>
        </div>
    </div>
</section>
<!-- Second block -->
<section class="oe_container oe_dark">
    <div class="oe_row oe_spaced">
        <div class="oe_span12" style="width:840px;margin-left:-7px;">
            <p class="oe_mt32">
                To attach the files in the Odoo object, You have to open the form view, explore the file(s), select the
                file(s) and drag &amp; drop them into the "Drop your files here" area of the form view.
            </p>
        </div>
        <div class="oe_span12" style="width:840px;margin-left:-7px;">
            <div class="oe_row_img oe_centered">
                <img class="oe_picture oe_screenshot" src="drag-drop-attachments.png">
            </div>
        </div>
    </div>
</section>
<!--Third block -->
<section class="oe_container">
    <div class="oe_row oe_spaced">
        <div class="oe_span12" style="width:840px;margin-left:-7px;">
            <p class="oe_mt32">
                Dropped files will be available in the "Attachments" dropdown box on the top of the form view.
            </p>
        </div>
        <div class="oe_span12" style="width:840px;margin-left:-7px;">
            <div class="oe_row_img oe_centered">
                <img class="oe_picture oe_screenshot" src="attachments.png">
            </div>
        </div>
    </div>
</section>
<!--Fourth block -->
<section class="oe_container">
    <div class="oe_row oe_spaced">
        <div class="oe_span12">
            <h2 class="oe_slogan">Drag &amp; Drop Multi Attachments</h2>
            <div class="oe_centeralign oe_websiteonly">
                <a href="https://www.youtube.com/embed/v1CD1owx8_8" class="oe_button oe_big oe_tacky">Watch the video</a>
            </div>
        </div>
        <div style="text-align:center;">
            <iframe style="margin-top:30px;" width="640" height="360" src="https://www.youtube.com/embed/v1CD1owx8_8" frameborder="0" allowfullscreen></iframe>
        </div>
    </div>
</section>
<!--Fifth block -->
<section class="oe_container">
    <div class="oe_row oe_spaced">
        <div class="oe_span12" style="width:840px;margin-left:-7px;">
            <h2 class="oe_slogan">Contact / Support</h2>
            <h3 class="oe_slogan">Need help or want extra features?</h3>
        </div>
        <div class="oe_span6" style="width:410px">
            <div class="oe_picture">
                <a href="http://www.synconics.com"><img src="logo.png"></a>
            </div>
        </div>
        <div class="oe_span6" style="width:410px">
            <p class="oe_mt32">
                Need help with the configuration or want this module to have more functionalities?
                Contact us through e-mail at <a href="mailto:contact@synconics.com">contact@synconics.com</a>
            </p>
        </div>
    </div>
</section>
