<section class="oe_container">
    <div class="oe_row oe_spaced">
        <h2 class="text-primary text-center" style="color:#875A7B;"> SO/QUOTATION MASS MAILING</h2>
         <p class="oe_mt32 text-center">
           <i style="font-size:18px;">In this module you can send bulk mail for sale orders and quotations.</i>
            </p>   
    </div>
</section>


<section class="oe_container">
    <div class="oe_row oe_spaced">
        <div class="oe_span12">
            <h4 class="oe_mt32 oe_mb8 text-center">
                <b>Step 1:</b>
            </h4>
            <p class="oe_mt32 text-center">
           <i style="font-size:18px;">Select your records that you want to send mail.</i>
            </p>
            <img class="oe_picture oe_screenshot" src="sale_order.png">
        </div>
    </div>
</section>

<section class="oe_container">
    <div class="oe_row oe_spaced">
        <div class="oe_span12">
            <h4 class="oe_mt32 oe_mb8 text-center">
                <b>Step 2:</b>
            </h4>
            <p class="oe_mt32 text-center">
           <i style="font-size:18px;">And now click on Action and click the "Send SO/Quote by Mail" button.</i>
            </p>
            <img class="oe_picture oe_screenshot" src="action.png">
        </div>
    </div>
</section>

<section class="oe_container">
    <div class="oe_row oe_spaced">
        <div class="oe_span12">
            <h4 class="oe_mt32 oe_mb8 text-center">
                <b>Step 3:</b>
            </h4>
            <p class="oe_mt32 text-center">
            <i style="font-size:18px;">Once you click the button "Send SO/Quote by Mail", you can see the wizard view and you can also add or delete the records if you want.</i>
            </p>
            <img class="oe_picture oe_screenshot" src="wizard.png">
        </div>
    </div>
</section>

<section class="oe_container">
    <div class="oe_row oe_spaced">
        <div class="oe_span12">
            <h4 class="oe_mt32 oe_mb8 text-center">
                <b>Step 4:</b>
            </h4>
            <p class="oe_mt32 text-center">
             <i style="font-size:18px;">Then click the "Send Mail" button to send the mail for the selected records.</i>
            </p>
            <img class="oe_picture oe_screenshot" src="send_mail.png">
        </div>
    </div>
</section>
<section class="oe_container oe_dark">
    <h2 class="oe_slogan" style="margin-top:20px;" >Need Any Help?</h2>
    <div class="oe_slogan" style="margin-top:10px !important;">
        <a  class="btn btn-primary btn-lg mt8"
            style="color: #FFFFFF !important;" href="mailto:business@pptservices.com"><i
            class="fa fa-envelope"></i> Email </a> <a
            class="btn btn-primary btn-lg mt8" style="color: #FFFFFF !important;"
            href="http://www.pptssolutions.com/contact-us/"><i
            class="fa fa-phone"></i> Contact Us </a> 
    </div>
            <img src="icon.png" style="width: 70px; height:70px; margin-bottom: 20px;" class="center-block">
            <h4 class="oe_mt32 oe_mb8 text-center">
                <b>PPTS [India] Pvt.Ltd.</b>
            </h4>
</section>
<section class="oe_container oe_separator">
</section>