<!-- Copyright (c) 2016-Present Webkul Software Pvt. Ltd. (<https://webkul.com/>) -->
<!-- See LICENSE file for full copyright and licensing details. -->
<!-- License URL : https://store.webkul.com/license.html/ -->

<section class="oe_container oe_dark">
    <section class="oe_container oe_dark lead">
        <div class="oe_row oe_spaced">
            <h2 class="text-center">
                <font>
                    <p class="text-primary text-center">
                        <b style="color: rebeccapurple;">
                            Website Product Advance Filters
                        </b>
                        <br/>
                        This module allows a customer to narrow down a set of products to meet their needs and save time. Customer can extract specific items as per their needs.
                    </p>
                </font>
            </h2>
        </div>
        <div class="oe_row">
            <div class="panel panel-primary" id="wkid0">
            <div class="panel-heading">
            <h3 class="panel-title" style="font-size: 25px;"><i class="fa fa-mail-forward"></i> Features:</h3>
            </div>
                <div class="panel-body">
                    <ul class="list-unstyled">
                        <li><i class="fa fa-check text-primary"></i> Advanced product filtering allows a customer to narrow down a set of products to meet their needs and save time.</li>
                        <li><i class="fa fa-check text-primary"></i> Attractive multilayer category navigation view.</li>
                        <li><i class="fa fa-check text-primary"></i> Customer can filter products with additional options like searching, sorting, etc.</li>
                        <li><i class="fa fa-check text-primary"></i> Admin can configure filters in two ways: <br/>&#160;1). By selecting products manually. <br/>&#160;2). By applying some conditions based on attributes of products(product domain).</li>
                        <li><i class="fa fa-check text-primary"></i> Admin can configure filter on the basis of searching trends of customer.</li>
                        <li><i class="fa fa-check text-primary"></i> Admin can configure any number of filters.</li>
                        <li><i class="fa fa-check text-primary"></i> Accordion effect for filters and their respective values.</li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <section class="oe_container">
        <ul class="nav nav-tabs ">
            <li class="active">
                <a href="#product_filters_web_tab">
                    <h3 class="panel-title"><i class="fa fa-globe"></i> <b>Website View</b> </h3>
                </a>
            </li>
            <li>
                <a href="#product_filters_admin_tab">
                    <h3 class="panel-title"><i class="fa fa-user"></i> <b>Admin Side View</b> </h3>
                </a>
            </li>
            <li>
                <a href="#product_filters_change_log_tab">
                    <h3 class="panel-title"><i class="fa fa-code"></i> <b>Change Log</b> </h3>
                </a>
            </li>
        </ul>
        <div id="my-tab-content">
            <div class="tab-pane" id="product_filters_web_tab">
                <h2 style='text-align: center;'>
                    <i class="fa fa-globe"></i> <b>Website View</b>
                </h2>
                <div class="oe_row">
            		<div class="panel panel-primary" id="wkid0">
            			<div class="panel-heading">
            			  <h3 class="panel-title"><b>Advance Filters Show/Hide Option</b></h3>
            			</div>
            			<div class="panel-body">
            				<div class="alert alert-info">
            					<i class="fa fa-arrow-circle-o-right"></i><b> Admin can show/hide product advance filters from website customize.</b><br/>
            				</div>
            				<a href="1.png">
            					<img class="img-border img-responsive thumbnail" src="1.png">
            				</a>
            			</div>
            		</div>
                    <div class="panel panel-primary" id="wkid0">
            			<div class="panel-heading">
            			  <h3 class="panel-title"><b> Advance filters and category view</b></h3>
            			</div>
            			<div class="panel-body">
            				<a href="2.png">
            					<img class="img-border img-responsive thumbnail" src="2.png">
            				</a>
            			</div>
            		</div>
                    <div class="panel panel-primary" id="wkid0">
            			<div class="panel-heading">
            			  <h3 class="panel-title"><b> </b> Multiple filters can be selected.</h3>
            			</div>
            			<div class="panel-body">
            				<a href="3.png">
            					<img class="img-border img-responsive thumbnail" src="3.png">
            				</a>
                            <a href="4.png">
            					<img class="img-border img-responsive thumbnail" src="4.png">
            				</a>
            			</div>
            		</div>
            	</div>
            </div>
            <div class="tab-pane" id="product_filters_admin_tab">
                <h2 style='text-align: center;'>
                    <i class="fa fa-user"></i> <b>Admin Side View</b>
                </h2>
                <div class="oe_row">
                    <div class="panel panel-primary" id="wkid0">
            			<div class="panel-heading">
            			  <h3 class="panel-title"><b>Product Advance Filters</b></h3>
            			</div>
            			<div class="panel-body">
            				<div class="alert alert-info">
            					<i class="fa fa-arrow-circle-o-right"></i><b> Admin can manage product advance filter.</b><br/>
            				</div>
            				<a href="5.png">
            					<img class="img-border img-responsive thumbnail" src="5.png">
            				</a>
                        	<a href="6.png">
            					<img class="img-border img-responsive thumbnail" src="6.png">
            				</a>
            			</div>
            		</div>
                    <div class="panel panel-primary" id="wkid0">
            			<div class="panel-heading">
            			  <h3 class="panel-title"><b>Product Advance Filters Values</b></h3>
            			</div>
            			<div class="panel-body">
            				<div class="alert alert-info">
            					<i class="fa fa-arrow-circle-o-right"></i><b> Advance Filter Values List View.</b><br/>
            				</div>
            				<a href="7.png">
            					<img class="img-border img-responsive thumbnail" src="7.png">
            				</a>
            			</div>
                        <div class="panel-body">
            				<div class="alert alert-info">
            					<i class="fa fa-arrow-circle-o-right"></i><b> Parameters For Filter Conditions (Manually select products option).</b><br/>
            				</div>
            				<a href="8.png">
            					<img class="img-border img-responsive thumbnail" src="8.png">
            				</a>
            			</div>
                        <div class="panel-body">
            				<div class="alert alert-info">
            					<i class="fa fa-arrow-circle-o-right"></i><b> Parameters For Filter Conditions (Automatically select products option).</b><br/>
            				</div>
            				<a href="9.png">
            					<img class="img-border img-responsive thumbnail" src="9.png">
            				</a>
            			</div>
                        <div class="panel-body">
            				<div class="alert alert-info">
            					<i class="fa fa-arrow-circle-o-right"></i><b> Filter Values Linked With Product.</b><br/>
            				</div>
            				<a href="10.png">
            					<img class="img-border img-responsive thumbnail" src="10.png">
            				</a>
            			</div>
            		</div>
                </div>
            </div>
            <div class="tab-pane" id="product_filters_change_log_tab">
                <h2 style='text-align: center;'>
                    <i class="fa fa-code"></i> <b>Change Log</b>
                </h2>
                <section class="oe_container oe_dark">
                    <div class="oe_row">
                        <div class="panel panel-primary" id="wkid0">
                            <div class="panel-heading">
                              <h3 class="panel-title"><b>Module Change Log</b></h3>
                            </div>
                            <div class="panel-body">
                                <p>
                                    Notations description used in this document.
                                </p>
                                <ul class="list-unstyled ">
                                    <li><i class="fa fa-plus text-success" ></i> [Features Added]</li>
                                    <li><i class="fa fa-minus text-danger" ></i> [Features Removed]</li>
                                    <li><i class="fa fa-bug text-warning" ></i> [Bug Fixed]</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </section>
</section>

<section class="oe_container oe_dark">
  <div class="oe_row">
      <div class="oe_span12">
          <h2 class="oe_slogan">Complimentary Support</h2>
          <p>
          You will get 90 days free support for any doubt, queries, and bug fixing (excluding data recovery) or any type of issue related to this module.
          </p>
      </div>
  </div>
</section>

<section class="oe_container lead">
    <div class="oe_row oe_spaced">
        <div class="oe_span12">
            <h2 class="oe_slogan">Help and Support</h2>
        </div>
        <br>
        <div class="oe_slogan oe_spaced text-center">
            <a class="btn btn-success btn-lg mt8" title="Get Instant Help !" style="color: rgb(255, 255, 255) !important; position: relative; overflow: hidden;" href="https://webkul.uvdesk.com/en/customer/create-ticket/"><span class="o_ripple" style="height: 98px; width: 98px; top: -23.9688px; left: 14.7812px;"></span><i class="fa fa-life-ring"></i> Help </a>
            <a class="btn btn-primary btn-lg mt8" title="Get Instant Support!" style="color: rgb(255, 255, 255) !important; position: relative; overflow: hidden;" href="https://webkul.uvdesk.com/en/customer/create-ticket/"><i class="fa fa-ticket"></i> Support </a>
            <a class="btn btn-success btn-lg mt8" title="Request Features now !" style="color: rgb(255, 255, 255) !important; position: relative; overflow: hidden;" href="https://webkul.uvdesk.com/en/customer/create-ticket/"><i class="fa fa-check-circle"></i> Request Features </a>
        </div>
    </div>
</section>

<section class="oe_container">
    <div class="oe_span12">
        <!-- Piwik Image Tracker-->
        <img src="http://odooimg.webkul.com/analytics/piwik/piwik.php?idsite=3&rec=1&action_name=WEBSITE-PRODUCT-ADVANCE-FILTERS&url=https://apps.openerp.com/apps/modules/11.0/website_product_advance_filters&uid=website_product_advance_filters" style="border:0" alt="" />
        <!-- End Piwik -->
    </div>
</section>
