<section class="oe_container">
    <div class="oe_row oe_spaced">
        <h2 class="oe_slogan" style="color:#875A7B; font-size:40px; font-weight:300;">Schedule Calendar</h2>
        <!-- <h3 class="oe_slogan oe_mb32"></h3> -->
        <p class="oe_mt32">
        Schedule Calendar module for Odoo 11. Using this module, You can create a scheduled event in the calendar and for any specific event.
        </p>
    </div>
</section>

<section class="oe_container oe_dark">
    <div class="oe_row oe_spaced">
        <h2 class="oe_slogan" style="color:#875A7B; font-size:40px; font-weight:300;">Step 1</h2>
        <!-- <h3 class="oe_slogan"></h3> -->
        <p class="oe_mt32">
        Install the module, Go to calendar menu and create an event.
        </p>
        <div class="oe_row_img oe_centered oe_mt32">
            <img class="oe_picture" src="1.png" style="width:711.45px;height:400px;">
        </div>
    </div>
</section>

<section class="oe_container">
    <div class="oe_row oe_spaced">
       <h2 class="oe_slogan" style="color:#875A7B; font-size:40px; font-weight:300;">Step 2</h2>
       <!-- <h3 class="oe_slogan"></h3> -->
        <p class="oe_mt32">
        Or either create a task in the project menu.
        </p>
        <div class="oe_row_img oe_centered oe_mt32">
            <img class="oe_picture" src="2.png" style="width:711.45px;height:400px;">
        </div>
    </div>
</section>

<section class="oe_container">
    <div class="oe_row oe_spaced">
       <h2 class="oe_slogan" style="color:#875A7B; font-size:40px; font-weight:300;">Step 3</h2>
       <!-- <h3 class="oe_slogan"></h3> -->
        <p class="oe_mt32">
        Now go to Schedule calendar, Find the Event and the Task that was created earlier which is now reflected in the schedule calendar.
        </p>
        <div class="oe_row_img oe_centered oe_mt32">
            <img class="oe_picture oe_screenshot" src="3.png" style="width:711.45px;height:400px;">
        </div>
    </div>
</section>

<section class="oe_container">
    <div class="oe_row oe_spaced">
       <h2 class="oe_slogan" style="color:#875A7B; font-size:40px; font-weight:300;">Step 4</h2>
       <!-- <h3 class="oe_slogan"></h3> -->
        <p class="oe_mt32">
        Go to schedule calendar, Click on 'View record'.
        <div class="oe_row_img oe_centered oe_mt32">
            <img class="oe_picture oe_screenshot" src="4.png" style="width:711.45px;height:400px;">
        </div>
    </div>
</section>

<section class="oe_container">
    <div class="oe_row oe_spaced">
       <h2 class="oe_slogan" style="color:#875A7B; font-size:40px; font-weight:300;">Step 5</h2>
       <!-- <h3 class="oe_slogan"></h3> -->
        <p class="oe_mt32">
        Doing so, it will take you to the task you have created.
        </p>
        <div class="oe_row_img oe_centered oe_mt32">
            <img class="oe_picture oe_screenshot" src="5.png" style="width:711.45px;height:400px;">
        </div>
    </div>
</section>
