<section class="oe_container">
    <div class="oe_row oe_spaced" style="width:100%">
        <h2 class="oe_slogan" style="color: #875A7B;">Employee Grade and Rank Management</h2>
        <h3 class="oe_slogan">Module provides facility to manage organization
            hierarchy in box system.</h3>
        <div class="oe_span6">
            <div class="oe_demo oe_picture oe_screenshot">
                <img src="employee.png">
            </div>
        </div>
        <div class="oe_span4">
            <h3 class="oe_slogan">Employee profile</h3>
            <p class='oe_mt32'>
                Manage Grade and Rank of employee in profile.
            </p>
        </div>
    </div>
</section>

<section class="oe_container oe_dark">
    <div class="oe_row oe_spaced" style="width:100%">
        <h2 class="oe_slogan">Grouping on Grade and Rank</h2>
        <div class="oe_span6">
            <div class="oe_demo oe_picture oe_screenshot">
                <img src="groupinglist.png">
            </div>
        </div>
        <div class="oe_span4">
            <p class='oe_mt32'>
                Group employees based on Grade and Rank to categorise employees
                in each
                vertical and grades under each department.
            </p>
        </div>
    </div>
</section>

<section class="oe_container">
    <div class="oe_row oe_spaced" style="width:100%">
        <h2 class="oe_slogan">Grade Configuration</h2>
        <div class="oe_span6">
            <div class="oe_demo oe_picture oe_screenshot">
                <img src="gradeconfig.png">
            </div>
        </div>
        <div class="oe_span4">
            <p class='oe_mt32'>
                Each grade contains multiple Ranks and each Rank has its salary
                range and list of job positions with job descriptions.
            </p>
        </div>
    </div>
</section>
<!-- LEFT::LEFT PHOTO - MEDIUM -->
<table style="font-family: 'Helvetica Neue', Helvetica, Arial,
sans-serif;" cellspacing="0" cellpadding="0" border="0" width="100%">
    <tbody>
    <tr>
        <td colspan="2"
            style="font-size:16px; color:#d74930; font-weight:bold;"
            width="100%" align="center">
            <span class="fa fa-certificate fa-1x" style="color:#1f2327;">
                Check out our various Odoo Services below
            </span></td>
    </tr>
    <tr>
        <td colspan="2"
            style="border-bottom:#d74930 solid 1px; line-height:10px;">&nbsp;
        </td>
    </tr>
    <tr>
        <td colspan="2">
            <table style="font-size:11px; color:#697582; line-height:20px;"
                   cellspacing="0" cellpadding="0" border="0" width="100%">
                <tbody>
                <tr>
                    <td width="20%"><span class="fa fa-globe fa-1x"
                                          style="color:#697582;"> <a
                            href="http://www.serpentcs.com/services/odoo-openerp-services/consulting"
                            style="color:#697582; text-decoration:none;">Odoo Consulting</a></span>
                    </td>
                    <td width="20%"><span class="fa fa-globe fa-1x"
                                          style="color:#697582;"> <a
                            href="http://www.serpentcs.com/services/odoo-openerp-services/gap-analysis"
                            style="color:#697582; text-decoration:none;">Gap Analysis and BPR</a></span>
                    </td>
                    <td width="20%"><span class="fa fa-globe fa-1x"
                                          style="color:#697582;"> <a
                            href="http://www.serpentcs.com/services/odoo-openerp-services/implementation"
                            style="color:#697582; text-decoration:none;">Odoo Implementation</a></span>
                    </td>
                    <td width="20%"><span class="fa fa-globe fa-1x"
                                          style="color:#697582;"> <a
                            href="http://www.serpentcs.com/services/ecommerce-integrations/magento-integration"
                            style="color:#697582; text-decoration:none;">Integration with E-Commerce</a></span>
                    </td>
                    <td width="20%"><span class="fa fa-globe fa-1x"
                                          style="color:#697582;"> <a
                            href="http://www.serpentcs.com/services/trainings/openerp-odoo-technical-training"
                            style="color:#697582; text-decoration:none;">Odoo Technical Training</a></span>
                    </td>
                </tr>
                <tr>
                    <td width="20%"><span class="fa fa-globe fa-1x"
                                          style="color:#697582;"> <a
                            href="http://www.serpentcs.com/services/odoo-openerp-services/offshore-development-partnership"
                            style="color:#697582; text-decoration:none;">Offshore &amp; Onsite Development</a></span>
                    </td>
                    <td width="20%"><span class="fa fa-globe fa-1x"
                                          style="color:#697582;"> <a
                            href="http://www.serpentcs.com/odoo-packages/odoo-support-package"
                            style="color:#697582; text-decoration:none;">Support and Maintenance</a></span>
                    </td>
                    <td width="20%"><span class="fa fa-globe fa-1x"
                                          style="color:#697582;"> <a
                            href="http://www.serpentcs.com/services/odoo-openerp-services/hire-odoo-openerp-developer"
                            style="color:#697582; text-decoration:none;">Hire Dedicated Odoo Developer</a></span>
                    </td>
                    <td width="20%"><span class="fa fa-globe fa-1x"
                                          style="color:#697582;"> <a
                            href="http://www.serpentcs.com/services/ecommerce-integrations/paymentech-elavon-paypal-integration"
                            style="color:#697582; text-decoration:none;">Payment Gateway Integrations</a></span>
                    </td>
                    <td width="20%"><span class="fa fa-globe fa-1x"
                                          style="color:#697582;"> <a
                            href="http://www.serpentcs.com/services/trainings/openerpodoo-functional-training"
                            style="color:#697582; text-decoration:none;">Odoo Functional Training</a></span>
                    </td>
                </tr>
                <tr>
                    <td width="20%"><span class="fa fa-globe fa-1x"
                                          style="color:#697582;"> <a
                            href="http://www.serpentcs.com/services/community/aios-mobile-client"
                            style="color:#697582; text-decoration:none;">Odoo Mobile App Development</a></span>
                    </td>
                    <td width="20%"><span class="fa fa-globe fa-1x"
                                          style="color:#697582;"> <a
                            href="http://www.odooqa.com/page/manual-functional-testing"
                            style="color:#697582; text-decoration:none;">Odoo Manual Testing</a></span>
                    </td>
                    <td width="20%"><span class="fa fa-globe fa-1x"
                                          style="color:#697582;"> <a
                            href="http://www.odooqa.com/page/automated-functional-testing"
                            style="color:#697582; text-decoration:none;">Odoo Automated Testing</a></span>
                    </td>
                    <td width="20%"><span class="fa fa-globe fa-1x"
                                          style="color:#697582;"> <a
                            href="http://www.serpentcs.com/services/ecommerce-integrations/fedex-ups-usps-integration"
                            style="color:#697582; text-decoration:none;">Integration with Shipping API</a></span>
                    </td>
                    <td width="20%"><span class="fa fa-globe fa-1x"
                                          style="color:#697582;"> <a
                            href="http://www.serpentcs.com/services/odoo-openerp-services/installation-and-hosting"
                            style="color:#697582; text-decoration:none;">Installation &amp; Hosting</a></span>
                    </td>
                </tr>
                </tbody>
            </table>
        </td>
    </tr>
    <tr>
        <td colspan="2"
            style="border-bottom:#d74930 solid 1px; line-height:10px;">&nbsp;
        </td>
    </tr>


    <tr>
        <td colspan="2"
            style="font-size:16px; color:#d74930; font-weight:bold;"
            width="100%" align="center">
            <span class="fa fa-certificate fa-1x" style="color:#1f2327;">Check out our various Odoo Based Products

            </span></td>
    </tr>
    <tr>
        <td colspan="2"
            style="border-bottom:#d74930 solid 1px; line-height:10px;">&nbsp;
        </td>
    </tr>
    <tr>
        <td colspan="2">
            <table style="font-size:11px; color:#697582; line-height:20px;"
                   cellspacing="0" cellpadding="0" border="0" width="100%">
                <tbody>
                <tr>
                    <td width="20%"><span class="fa fa-coffee fa-1x"
                                          style="color:#697582;"> <a
                            href="http://serpentcs.in/product/restaurant-management-system"
                            style="color:#697582; text-decoration:none;">Restaurant Management</a></span>
                    </td>
                    <td width="20%"><span class="fa fa-building fa-1x"
                                          style="color:#697582;"> <a
                            href="http://serpentcs.in/product/property-management-system"
                            style="color:#697582; text-decoration:none;">Property Management</a></span>
                    </td>
                    <td width="20%"><span class="fa fa-plane fa-1x"
                                          style="color:#697582;"> <a
                            href="http://serpentcs.in/product/visa-management-system"
                            style="color:#697582; text-decoration:none;">Visa Agency Management</a></span>
                    </td>
                    <td width="20%"><span class="fa fa-globe fa-1x"
                                          style="color:#697582;"> <a
                            href="http://serpentcs.in/product/odoo-singapore-localization"
                            style="color:#697582; text-decoration:none;">Singapore Localization</a></span>
                    </td>
                    <td width="20%"><span class="fa fa-graduation-cap fa-1x"
                                          style="color:#697582;"> <a
                            href="http://serpentcs.in/product/education-management-system"
                            style="color:#697582; text-decoration:none;">School, University Management</a></span>
                    </td>
                </tr>
                <tr>
                    <td width="20%"><span class="fa fa-cubes fa-1x"
                                          style="color:#697582;"> <a
                            href="http://serpentcs.in/product/construction-management-system"
                            style="color:#697582; text-decoration:none;">Construction Management</a></span>
                    </td>
                    <td width="20%"><span class="fa fa-bus fa-1x"
                                          style="color:#697582;"> <a
                            href="http://serpentcs.in/product/fleet-management-systems"
                            style="color:#697582; text-decoration:none;">Fleet Management</a></span>
                    </td>
                    <td width="20%"><span class="fa fa-stethoscope fa-1x"
                                          style="color:#697582;"> <a
                            href="http://serpentcs.in/product/healthcare-management-software"
                            style="color:#697582; text-decoration:none;">Medical ERP</a></span>
                    </td>
                    <td width="20%"><span class="fa fa-hotel fa-1x"
                                          style="color:#697582;"> <a
                            href="http://serpentcs.in/product/hotel-management-system"
                            style="color:#697582; text-decoration:none;">Hotel Management</a></span>
                    </td>
                    <td width="20%"><span class="fa fa-users fa-1x"
                                          style="color:#697582;"> <a
                            href="http://serpentcs.in/product/human-resource-management-system"
                            style="color:#697582; text-decoration:none;">Human Resource Management</a></span>
                    </td>
                </tr>
                <tr>
                    <td width="20%"><span class="fa fa-map-marker fa-1x"
                                          style="color:#697582;"> <a
                            href="http://serpentcs.in/product/odoo-fieldstaff-tracking-system"
                            style="color:#697582; text-decoration:none;">Field Service Management</a></span>
                    </td>
                    <td width="20%"><span class="fa fa-globe fa-1x"
                                          style="color:#697582;"> <a
                            href="http://serpentcs.in/product/spa-salon-management-system"
                            style="color:#697582; text-decoration:none;">Spa &amp; Salone Management</a></span>
                    </td>
                    <td width="20%"><span class="fa fa-phone fa-1x"
                                          style="color:#697582;"> <a
                            href="http://serpentcs.in/product/odoo-ringcentral-integration"
                            style="color:#697582; text-decoration:none;">Ringcentral telephone integration</a></span>
                    </td>
                    <td width="20%"><span class="fa fa-heart fa-1x"
                                          style="color:#697582;"> <a
                            href="http://serpentcs.in/product/customer-relationship-management"
                            style="color:#697582; text-decoration:none;">Customer Relationship</a></span>
                    </td>
                    <td width="20%"><span class="fa fa-user fa-1x"
                                          style="color:#697582;"> <a
                            href="http://serpentcs.in/product/talent-management-system"
                            style="color:#697582; text-decoration:none;">Talent Management</a></span>
                    </td>
                </tr>
                </tbody>
            </table>
        </td>
    </tr>

    <tr>
        <td colspan="2"
            style="border-bottom:#d74930 solid 1px; line-height:10px;">&nbsp;
        </td>
    </tr>

    <tr>
        <td colspan="2"
            style="font-size:16px; color:#d74930; font-weight:bold;"
            width="100%" align="center">
            <span class="fa fa-certificate fa-1x" style="color:#1f2327;">For any questions, support and development contact us.

            </span></td>
    </tr>
    <tr>
        <td colspan="2"
            style="border-bottom:#d74930 solid 1px; line-height:10px;">&nbsp;
        </td>
    </tr>

    <tr>
        <td colspan="2">
            <table style="font-size:11px; color:#697582; line-height:20px;"
                   cellspacing="0" cellpadding="0" border="0" width="100%">
                <tbody>
                <tr>
                    <td width="38%"><span class="fa fa-whatsapp fa-1x"
                                          style="color:#697582;"> (+91) 98793-54457, (+91) 90334-72982 </span>
                        <span class="fa fa-phone fa-1x" style="color:#697582;"> +91-79-2975-0867</span>
                    </td>
                    <td width="17%"><span class="fa fa-envelope fa-1x"
                                          style="color:#697582;"> <a
                            href="mailto:contact@serpentcs.com"
                            style="color:#697582; text-decoration:none;">contact@serpentcs.com</a></span>
                    </td>
                    <td width="15%"><span class="fa fa-globe fa-1x"
                                          style="color:#697582;"> <a
                            href="http://www.serpentcs.com"
                            style="color:#697582; text-decoration:none;">www.serpentcs.com</a></span>
                    </td>
                    <td width="15%"><span class="fa fa-globe fa-1x"
                                          style="color:#697582;"> <a
                            href="http://www.serpentcs.in"
                            style="color:#697582; text-decoration:none;">www.serpentcs.in</a></span>
                    </td>
                    <td width="15%"><span class="fa fa-globe fa-1x"
                                          style="color:#697582;"> <a
                            href="http://www.odooqa.com"
                            style="color:#697582; text-decoration:none;">www.odooqa.com</a></span>
                    </td>
                </tr>
                <tr>
                    <td width="38%"><span class="fa fa-hand-pointer-o fa-1x"
                                          style="color:#697582;"> WhatsApp, Telegram or Call 24X7</span>
                    </td>
                    <td width="17%"><span class="fa fa-hand-pointer-o fa-1x"
                                          style="color:#697582;"> Help! Send Mail</span>
                    </td>
                    <td width="15%"><span class="fa fa-hand-pointer-o fa-1x"
                                          style="color:#697582;"> Browse our Services</span>
                    </td>
                    <td width="15%"><span class="fa fa-hand-pointer-o fa-1x"
                                          style="color:#697582;"> Browse our Products</span>
                    </td>
                    <td width="15%"><span class="fa fa-hand-pointer-o fa-1x"
                                          style="color:#697582;"> QA Services</span>
                    </td>
                </tr>
                </tbody>
            </table>
        </td>
    </tr>
    <tr colspan="2">
        <td colspan="2"
            style="border-bottom:#d74930 solid 1px; line-height:10px;">&nbsp;
        </td>
    </tr>
    <tr colspan="2">
        <td colspan="2" style="padding-top:9px;">
            <a href="https://www.facebook.com/Serpent-Consulting-Services-Pvt-Ltd-299017730141795/"
               style="text-decoration:none;"><img src="images/fb.jpg"
                                                  style="vertical-align:middle; border-radius: 50%;"
                                                  width="25">
            </a>
            <a href="https://twitter.com/Serpent_CS"
               style="text-decoration:none;"><img src="images/twitter.jpg"
                                                  style="vertical-align:middle; border-radius: 50%;"
                                                  width="25">
            </a>
            <a href="https://www.linkedin.com/company-beta/2435682/"
               style="text-decoration:none;"><img src="images/in.jpg"
                                                  style="vertical-align:middle; border-radius: 50%;"
                                                  width="25">
            </a>
            <a href="https://www.youtube.com/user/husendaudi123/videos"
               style="text-decoration:none;"><img src="images/youtube.jpg"
                                                  style="vertical-align:middle; border-radius: 50%;"
                                                  width="25">
            </a>
            <a href="https://www.instagram.com/explore/tags/serpentcs/"
               style="text-decoration:none;"><img src="images/insta.jpg"
                                                  style="vertical-align:middle; border-radius: 50%;"
                                                  width="25">
            </a>
            <a href="http://www.serpentcs.com"
               style="text-decoration:none;"><img src="images/serpent32.png"
                                                  style="vertical-align:middle; border-radius: 50%;"
                                                  width="25">
            </a>
            <a href="http://www.serpentcs.in"
               style="text-decoration:none;"><img src="images/serpent32.png"
                                                  style="vertical-align:middle; border-radius: 50%;"
                                                  width="25">
            </a>
            <a href="http://www.odooqa.com" style="text-decoration:none;"><img
                    src="images/odooqa32.png"
                    style="vertical-align:middle; border-radius: 50%;"
                    width="25">
            </a>
        </td>
    </tr>
    <tr colspan="2">
        <td colspan="2"
            style="font-size:8px; color:#697582; line-height:15px;padding-top:10px; text-align:justify;">
        </td>
    </tr>
    </tbody>
</table>