<section class="oe_container">
    <div class="oe_row oe_spaced">
        <div class="oe_span12" style="width:88%;">
            <h2 class="oe_slogan">Back to Back Purchase Order from Sales Order</h2>
            <h3 class="oe_slogan">User-Friendly Purchase Order Generation from Sales Order</h3>
        </div>
        <div class="oe_span6" style="width:44%;">
            <div class="oe_demo oe_picture oe_screenshot">
                <img src="sgeede_sc_01.png">
            </div>
        </div>
        <div class="oe_span6" style="width:44%;">
            <p class="oe_mt32">
When a product which is not kept in the warehouse and during the customer ordering, Purchaser need to create their Purchase Order manually one-by-one by looking at the Sales Order, which is not very efficient. By using this module, user can generate their purchase order to the supplier easily with one-click wizard on Sales Order menu.
            </p>
        </div>
    </div>
</section>

<section class="oe_container oe_dark">
    <div class="oe_row oe_spaced">
        <h2 class="oe_slogan">Flexible and Full-Benefit Enhancement Module</h2>
        <div class="oe_span6" style="width:44%;">
            <p class="oe_mt32">
<ul>
    <li>Easy to use.</li>
    <li>Allow multiple Purchase order in Sales Order.</li>
    <li>Allow product qty modification on generation.</li>
    <li>Draft Purchase Order Generation (Able to modify).</li>
    <li>Link to Related Purchase Order of Sales Order.</li>
    <li>Easy and Handy module.</li>
    <li>Fast response support at <a href="mailto: enquiry@sgeede.com">enquiry@sgeede.com</a>.</li>
</ul>
            </p>
        </div>
        <div class="oe_span6" style="width:44%;">
            <div class="oe_row_img oe_centered">
                <img class="oe_picture oe_screenshot" src="sgeede_sc_02.png">
            </div>
        </div>
    </div>
</section>  

<section class="oe_container">
    <div class="oe_row oe_spaced">
        <div class="oe_span12" style="width:88%;">
            <h2 class="oe_slogan">Support and Modifiable</h2>
        </div>
        <div class="oe_span6" style="width:44%;">
            <div class="oe_demo oe_picture oe_screenshot">
                <img src="sgeede.png">
            </div>
        </div>
        <div class="oe_span6" style="width:44%;">
            <p class="oe_mt32">
We are ready to support you for this module by email us at <a href="mailto: enquiry@sgeede.com">enquiry@sgeede.com</a>. You can expect our reply in 24 Hours. We are also able to Develope module according to your needs. Please feel free to visit us at <a href="http://www.sgeede.com">www.sgeede.com</a>
            </p>
        </div>
    </div>
</section>