<section class="oe_container">
    <div class="oe_row oe_spaced">
        <h2 class="oe_slogan">Employee's opportunity Pipeline</h2>
        <p class="oe_mt32">
                <li> It is very important to see right data at the right place for quick decision making. ERP can help you moveing to that direction through analysing the data and putting those where they are most relevant. </li>
                <li> The human resource is the key sensitive assets of the organization. When we discuss and think about our people, we are curious to see their contribution to the organization quickly. </li>
                <li> The effort towards filling the gap in Odoo to show employee's work, activity and contribution to each of the department, here is the gentle effort to prepare a module to access that information quickly with the employee information. </li>
                <li> The security is within this module so that you can control to allow some users or not allow other users to see such opportunity pipeline right on the employee in Odoo. </li>
                <li> The opportunity pipeline data which are shown on the employee are dynamic. The moment new opportunity added in the pipeline, while someone changes the Salesperson in the opportunity or while someone changes of the status of the opportunity, will be reflected real time on the employee opportunity pipeline. </li>
        </p>
    </div>
</section>

<section class="oe_container oe_dark" >
    <div class="oe_row oe_spaced">
        <div class="oe_span6">
            <div class="oe_demo oe_picture oe_screenshot">
                <img src="employee_kanban.png">
            </div>
        </div>
        <div class="oe_span6">
            <p class="oe_mt32">
                   The Kanban view of the employee looks as below.
            </p>
        </div>
    </div>
</section>

<section class="oe_container" >
    <div class="oe_row">
        <div class="oe_span6">
            <p class="oe_mt32">
                   The form view of the employee looks as below. There is button 'Pipeline'. on the upper right <br/>
                side to see all the opportunities.
            </p>
        </div>
        <div class="oe_span6">
            <div class="oe_demo oe_picture oe_screenshot">
                <img src="employee_form.png">
            </div>
        </div>
    </div>
</section>

<section class="oe_container oe_dark" >
    <div class="oe_row oe_spaced">
        <div class="oe_span6">
            <div class="oe_demo oe_picture oe_screenshot">
                <img src="employee_group_by_stage.png">
            </div>
        </div>
        <div class="oe_span6">
            <p class="oe_mt32">
              From the Kanban view itself, you can click on the Pipeline data to go directly to see all the opportunities of that employee. The button 'Pipeline' on the form view gives the same result
            </p>
        </div>
    </div>
</section>

<section class="oe_container" >
    <div class="oe_row">
        <div class="oe_span6">
            <p class="oe_mt32">
                  Once you installed this module, you can configure the user by giving access 'See opportunity on employee'. That user can see the opportunity pipeline with stages on the employee kanban and form view.
            </p>
        </div>
        <div class="oe_span6">
            <div class="oe_demo oe_picture oe_screenshot">
                <img src="employee_access.png">
            </div>
        </div>
    </div>
</section>

<section class="oe_container oe_dark" >
    <div class="oe_row oe_spaced">
        <div class="oe_span6">
            <div class="oe_demo oe_picture oe_screenshot">
                <img src="related_user.png">
            </div>
        </div>
        <div class="oe_span6">
            <p class="oe_mt32">
              Make sure the employee should have configured with the proper related user.
            </p>
        </div>
    </div>
</section>

<section class="oe_container">

    <h2 class="oe_slogan" style="margin-top:20px;">Need help?</h2>

    <div style="margin: 16px 8%;">
            <p class='oe_mt32 center-block' style="font-size: 15px;">
                 Contact this module maintainer for any question, need support or request for the new feature : <br/>
                 * Riken Bhorania  <i class="fa fa-whatsapp"></i> +91 9427425799,  <i class="fa fa-skype fa_custom"></i> <a href="skype:riken.bhorania?chat">riken.bhorania, </a> <i class="fa fa-envelope"></i> riken.bhorania@asceticbs.com <br/>
                 * Bhaumin Chorera  <i class="fa fa-whatsapp"></i> +91 8530000384, <i class="fa fa-skype fa_custom"></i> <a href="skype:bhaumin.chorera?chat">bhaumin.chorera, </a> <i class="fa fa-envelope"></i> bhaumin.chorera@asceticbs.com <br/>
            </p>
    </div>

    <div class="oe_slogan" style="margin-top:10px !important;"> 
         <a class="btn btn-primary btn-lg mt8"
            style="color: #FFFFFF !important;" href="http://www.asceticbs.com"><i
            class="fa fa-envelope"></i> Website </a> 
         <a class="btn btn-primary btn-lg mt8" style="color: #FFFFFF !important;"
            href="http://www.asceticbs.com/contact-us"><i
            class="fa fa-phone"></i> Contact Us </a> 
         <a class="btn btn-primary btn-lg mt8" style="color: #FFFFFF !important;"
            href="http://www.asceticbs.com/services"><i
            class="fa fa-check-square"></i> Services </a> 
         <a class="btn btn-primary btn-lg mt8" style="color: #FFFFFF !important;"
            href="https://apps.odoo.com/apps/modules/browse?author=Ascetic%20Business%20Solution"><i
            class="fa fa-binoculars"></i> More Apps </a>
     </div>

    <div class="oe_slogan" style="margin-top:10px !important;"> 
      <img src="company-logo.png" style="width: 190px; margin-bottom: 20px;" class="center-block">
    </div>

    <div class="oe_slogan" style="margin-top:10px !important;">
          <a href="https://twitter.com/asceticbs" target="_blank"><i class="fa fa-2x fa-twitter" style="color:white;background: #00a0d1;width:35px;"></i></a></td>
          <a href="https://www.linkedin.com/company/ascetic-business-solution-llp" target="_blank"><i class="fa fa-2x fa-linkedin" style="color:white;background: #31a3d6;width:35px;padding-left: 3px;"></i></a></td>
          <a href="https://www.facebook.com/asceticbs" target="_blank"><i class="fa fa-2x fa-facebook" style="color:white;background: #3b5998;width:35px;padding-left: 8px;"></i></a></td>
          <a href="https://www.youtube.com/channel/UCsozahEAndQ2whjcuDIBNZQ" target="_blank"><i class="fa fa-2x fa-youtube-play" style="color:white;background: #c53c2c;width:35px;padding-left: 3px;"></i></a></td>
     </div>

    </div>
</section>

