<div class="container">

<div class="row section-content">
    <h1 class="bc-h1">Customer Order Delivery Date</h1><h2 class="bc-h2 text-muted">Know when your customers want products delivered</h2><br>
<div class="bc-span col-md-6"><div class="inner-span"><img class="img-border img-responsive thumbnail" src="front-screen.png"></div></div> 
              <div class="col-md-6 img-content"> 
<h3>View Delivery Date on Checkout Page (Validate Order)</h3>
              <p>The Order Delivery Date app gives your customer the option to choose the date they want the delivery of the purchased products from your store. Customers can even leave comment while placing order. You can view it on checkout (Validate order) page.</p>

                </div>   
                 


</div>
<br><hr><br><div class="row section-content">

              
              <div class="col-md-6 img-content"> 
<h3> Calendar Section</h3>

 <p> Customer can select delivery date from calendar. Previous date cannot be select as delivery date.</p>
                </div>   
                 
<div class="bc-span col-md-6"><div class="inner-span"><img class="img-border img-responsive thumbnail" src="front-screen01.png"></div></div> 

</div>
<br><hr><br><div class="row section-content">
<div class="bc-span col-md-6"><div class="inner-span"><img class="img-border img-responsive thumbnail" src="backend-setting.png"></div></div> 

              <div class="col-md-6 img-content">
              <h3>View Delivery Date with Comments</h3> <p>
              Customer Order Delivery Date with comments will get displayed in <b>"Customer Order Delivery Date"</b> tab in Sales Order Form View. If user does not insert comments, no comments will get displayed.
                </p>
                </div>   
                 

</div>


<br><hr><br><div class="row section-content">

              
              <div class="col-md-6 img-content"> 
<h3>Disable this App from Back End</h3>

 <p> You can disable "delivery date" or "delivery comment" separately from website setting tab.</p>
                </div>   
                 
<div class="bc-span col-md-6"><div class="inner-span"><img class="img-border img-responsive thumbnail" src="admin-setting.png"></div></div> 

</div>
<div class="row section-content">
 <div class="col-md-6 img-content">
 <h3>Our Odoo Services</h3>

               
             </div>    <div class="bc-span col-md-12"><div class="inner-span"><a target="_blank" href="https://www.appjetty.com/odoo/odoo-apps.htm"><img class="img-border img-responsive thumbnail" src="service-banner.png"></a></div></div> 

</div>

</div>

<div class="row section-content">


              <div class="col-md-12 img-content text-center">
              <h2>Technical Help &amp; Support</h2> <p style="margin: 30px 0px;">                  We offer extremely convenient and quick support service to all your technical help &amp; support requests. As our support <br> service is the parameter defining the success of our business and earning us the brand name.       <br>    Please feel free to contact us</p>
<div class="text-center"><a style="background: #315b8f  none repeat scroll 0% 0%; color: rgb(255, 255, 255); border-color: #315b8f;" class="btn btn-success btn-lg" rel="nofollow" href="mailto:support@appjetty.com"> <i class="fa fa-envelope"></i>  support@appjetty.com </a></div><br></div>   
