.tab-content > .tab-pane, 
.owl-stage > .owl-item {
    display: block !important ;    /* undo display:none          */
    height: 0 !important;         /* height:0 is also invisible */ 
    overflow: hidden !important;  /* no-overflow                */
}

.tab-content > .active, 
.owl-stage > .active {
    height: auto !important;      /* let the content decide it  */
} 

#wrap .owl-carousel {
    padding-left: 50px;
    padding-right: 50px;
    margin-left: 0px;
    margin-right: 0px;
}

#wrap .owl-carousel .owl-controls .prev-elem {
    float: left;
    bottom: 220px;
    position: absolute;

    background: url(https://ladyshop.ua/skin/frontend/ladyshop/default/images/top-sale-btn-left.png) no-repeat!important;
    left: 9px;
    padding-left: 22px;
    padding-top: 42px;
    padding-bottom: 0px;

}
#wrap .owl-carousel .owl-controls .next-elem {
    float: right;
    position: absolute;
    bottom: 220px;

    background: url(https://ladyshop.ua/skin/frontend/ladyshop/default/images/top-sale-btn-right.png) no-repeat!important;
    right: 21px;
    padding-top: 46px;
    padding-left: 23px;
}