<section class="oe_container">
    <div class="oe_row oe_spaced">
        <h2 class="oe_slogan" style="color:#875A7B; font-size:40px; font-weight:300;">HR COMPANY HOLIDAYS</h2>
        <!-- <h3 class="oe_slogan oe_mb32"></h3> -->
        <p class="oe_mt32">
        HR company holiday module for Odoo 11. This modules helps you create a list of company holidays.
        </p>
    </div>
</section>

<section class="oe_container oe_dark">
    <div class="oe_row oe_spaced">
        <h2 class="oe_slogan" style="color:#875A7B; font-size:40px; font-weight:300;">Step 1</h2>
        <!-- <h3 class="oe_slogan"></h3> -->
        <p class="oe_mt32">
        Once the module is installed, Go to 'Employees'.
        </p>
        <div class="oe_row_img oe_centered oe_mt32">
            <img class="oe_picture" src="0.png" style="width:711.45px;height:400px;">
        </div>
    </div>
</section>

<section class="oe_container">
    <div class="oe_row oe_spaced">
       <h2 class="oe_slogan" style="color:#875A7B; font-size:40px; font-weight:300;">Step 2</h2>
       <!-- <h3 class="oe_slogan"></h3> -->
        <p class="oe_mt32">
        Hit on the create button and create the holiday.
        </p>
        <div class="oe_row_img oe_centered oe_mt32">
            <img class="oe_picture" src="1.png" style="width:711.45px;height:400px;">
        </div>
    </div>
</section>

<section class="oe_container">
    <div class="oe_row oe_spaced">
       <h2 class="oe_slogan" style="color:#875A7B; font-size:40px; font-weight:300;">Step 3</h2>
       <!-- <h3 class="oe_slogan"></h3> -->
        <p class="oe_mt32">
        Go to Calendar menu, Find the scheduled holiday reflecting now in the calendar.
        </p>
        <div class="oe_row_img oe_centered oe_mt32">
            <img class="oe_picture oe_screenshot" src="2.png" style="width:711.45px;height:400px;">
        </div>
    </div>
</section>




