<section class="oe_container">
	<div class="oe_row oe_spaced">
		<div class="oe_span12" style="width: 88%">
			<h2 class="oe_slogan">Sale Order Cost Feature by SGEEDE</h2>
			<h3 class="oe_slogan">Hassle free cost checkup on sale order</h3>
		</div>
		<div class="oe_span6" style="width: 44%">
			<div class="oe_demo oe_picture oe_screenshot">
				<img src="sgeede_sc_01.png">
			</div>
		</div>
		<div class="oe_span6" style="width: 44%">
			<p class="oe_mt32">
				Remove the trouble of wandering through the product page to check the cost of a product, as it will be shown directly on the sale order. Quickly compare price and cost when creating sale order or compared price to cost of created sale order.
			</p>
		</div>
	</div>
</section>
<section class="oe_container oe_dark">
	<div class="oe_row oe_spaced">
			<div class="oe_span6" style="width: 44%">
				<p class="oe_mt32">
					<ul>
					    <li>Privilege Access</li>
					    <li>Quick Process</li>
					    <li>Secure</li>
					    <li>Simple</li>
					    <li>Neat Design</li>
					    <li>Fast response support at <a href="mailto: enquiry@sgeede.com">enquiry@sgeede.com</a>.</li>
					</ul>
				</p>
			</div>
			<div class="oe_span6" style="width: 44%">
				<div class="oe_demo oe_picture oe_screenshot">
					<img src="sgeede_sc_02.png">
				</div>
			</div>
	</div>
</section>
<section class="oe_container">
	<div class="oe_row oe_spaced">
		<div class="oe_span12" style="width: 88%">
			<h2 class="oe_slogan">Neat Security Features</h2>
		</div>
		<div class="oe_span6" style="width: 44%">
			<div class="oe_demo oe_picture oe_screenshot">
				<img src="sgeede_sc_03.png">
			</div>
		</div>
		<div class="oe_span6" style="width: 44%">
			<p class="oe_mt32">
				Not everyone can look at your cost in sale order, cost will only be viewed by people within the Show Order Line Cost group to ensure security and privacy.
			</p>
		</div>
	</div>
</section>
<section class="oe_container oe_dark">
    <div class="oe_row oe_spaced">
        <div class="oe_span12" style="width: 88%">
            <h2 class="oe_slogan">Support and Modifiable</h2>
        </div>
        <div class="oe_span6" style="width: 44%"">
            <div class="oe_demo oe_picture oe_screenshot">
                <img src="sgeede.png">
            </div>
        </div>
        <div class="oe_span6" style="width: 44%"">
            <p class="oe_mt32">
We are ready to support you for this module by email us at <a href="mailto: enquiry@sgeede.com">enquiry@sgeede.com</a>. You can expect our reply in 24 Hours. We are also able to Develope module according to your needs. Please feel free to visit us at <a href="http://www.sgeede.com">www.sgeede.com</a>
            </p>
        </div>
    </div>
</section>
