


/* ======================================= */


/* .inside {
    width: 290px;
    height: 240px;
}

.inside-inside{
    top: 80px;
    left: 20px;
} */



.carousel-control.left.ladyshop {
    background: none;
}
.carousel-control.right.ladyshop {
  background: none;
}



/* ============question=============== */

.question_elem .button {
    background: 0 0!important;
    border: 1px solid #ac1774;
    color: #333!important;
    font-size: 14px;
    font-family: regular-gotham!important;
    height: 32px!important;
    line-height: 32px!important;

    padding-top: 10px;
    padding-right: 25px;
    padding-bottom: 10px;
    padding-left: 25px;
}

.question_elem .button:hover {
    background: #ac1774!important;
    border-color: #ac1774;
    color: #fff!important;
}

.question_elem{
    padding: 20px;
    width: 290px;
    height: 430px;
    background: rgb(247, 247, 247);
}

.question_elem .title {
    font-size: 16px;
    color: #333;
    font-family: bold-gotham!important;
    margin-bottom: 0;
}

.question_elem .text_block {
    font-size: 13px;
    color: #333;
    font-weight: 400;
    margin-bottom: 20px;
}

.question_employee img{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.question_employee .employee_name {
    font-size: 14px!important;
    float: left;
    margin-right: 10px;
    font-family: bold-gotham!important;
}

.question_employee .employee_position{
    font-size: 12px!important;
    float: left;
    padding-top: 2px;
}

.question_employee .employee_comment{
    clear: both;
    padding-top: 10px;
    font-size: 12px;
}



/* ===========karusel================= */


.lady_reviews .tab-content {
    height: 530px;
    outline: 1px solid #dcdcdc;
}

.lady_reviews .tab-content .carousel-inner {
    left: 30px;
    width: 790px;
    height: 510px;
}

.lady_reviews .tab-content .carousel-control{
    width: 30px;
    height: 530px;
}


.lady_reviews .tab-content .carousel .carousel-control.left{
    left: 0px;
}
.lady_reviews .tab-content .carousel .carousel-control.right{
    right: 0px;
}

.lady_reviews .tab-content .carousel .carousel-control.right .glyphicon-chevron-right{
    left: 0%;
}


.tab-content .carousel-content {
    margin-top: 20px;
}

.tab-content .carousel-content .lady_prod img {
    display: block;
    margin: 0 auto;
    padding-top: 20px;

}

.tab-content .carousel-content .lady_prod .prod_content {
    height: 446px;
    outline: 1px solid #dcdcdc;
}

.tab-content .carousel-content .lady_prod .prod_content .prod_name{
    text-align: center;
}

.tab-content .carousel-content .lady_prod .prod_content .prod_action{
    position: absolute;
    bottom: 25px;
    right: 50px;
    width: 100px;
}

.prod_action .prod_price{
    float: right;
}

.prod_action button{
    right: 60px;
}


/* =======left====== */
.tab-content .carousel-content .left-col {
    width: 500px;
    float: left;
}

.tab-content .carousel-content .left-col .last-comment {
    position: relative;
    min-height: 180px;
    margin-top: 15px;
    border-bottom: 1px solid #e4e1e3;
}

.tab-content .carousel-content .left-col .review {
    border-bottom: 1px solid #e4e1e3;
    min-height: 180px;
    margin-right: 15px;
    margin-top: 15px;
}

.tab-content .carousel-content .left-col .last-comment .user {
    position: relative;
    margin-bottom: 3px;
}

.left-col .last-comment .user .u-info {
    position: relative;
    overflow: hidden;
    font-size: 12px;
    line-height: 15px;
}

.left-col .last-comment .user .u-info .u-name {
    color: #000;
    margin-bottom: 10px;
}

.left-col .last-comment .user .u-info .u-location {
    color: #737373;
}

.left-col .last-comment .message {
    position: relative;
    display: block;
    padding: 10px 17px 12px;
    margin: 0 5px 0 -3px;
    line-height: 20px;
    background: #e5e3e4;
}

.left-col .message {
    background: 0 0!important;
    position: relative;
    margin-top: 8px!important;
    margin-bottom: 10px!important;
    padding: 0!important;
}


.left-col .last-comment .comm-num {
    position: absolute;
    left: 15px;
    bottom: 15px;
    width: 130px;
    text-align: center;
}

.left-col .comm-num {
    position: relative!important;
    left: 0;
    bottom: 0;
    width: auto!important;
    margin-top: 35px;
}

.left-col .comm-num span {
    position: relative;
    display: inline-block;
    text-align: left;
}


.left-col .comm-num a {
    color: #ac1774;
    display: inline-block;
    border-bottom: 1px dashed #ac1774;
}



/* =============== _recomendate_product_line =================== */

.recommend {
    position: relative;
    margin-bottom: 60px;
    width: 100%;
}

.recommend .header {
    position: relative;
    line-height: 26px;
}

.sect-title {
    position: relative;
    height: 27px;
    font-size: 20px;
    line-height: 26px;
    font-family: regular-gotham;
    color: #000;
    float: left;
}

.sect-title span {
    position: relative;
    display: block;
    height: 27px;
    z-index: 1;
}

.sect-title:after {
    content: '';
    position: absolute;
    left: -11px;
    top: 0;
    display: block;
    width: 23px;
    height: 42px;
    z-index: 0;
}


.recommend .header .all-items {
    position: relative;
    display: block;
    height: 21px;
    font-family: regular-gotham;
    font-size: 10px;
    color: #ac1774;
    text-decoration: none;
    text-transform: uppercase;
    border-bottom: 1px dashed #ac1774;
    float: right;
}

.recommend .header .all-items span {
    position: relative;
    display: block;
    height: 25px;
    line-height: 25px;
}

.clearfix:after {
    content: '';
    display: table;
    clear: both;
}

.recommend div.items-list {
    position: relative;
    padding: 20px 0 0;
    margin-top: 10px;
    border-top: 1px solid #ac1774;
}