<section class="oe_container oe_dark"
	style="overflow: hidden; background: #efefef; box-shadow: none;">
	<div class="mt32 mb32">
		<div class="col-md-12">
			<h2 class="oe_slogan" style="font-size: 35px;">
				<b>Employee Task</b>
			</h2>
			<h3 class="oe_slogan" style="opacity: 1;">With the help of this
				module you can see number of tasks assigned to the employee.</h3>
		</div>
	</div>
</section>

<section class="oe_container lead">
	<div class="oe_row oe_spaced">
		<div class="oe_span12">
			<h1 class="text-info"
				style="text-align: center; padding-bottom: 40px;">
				<strong>After installing this module, you can check the following access right to allow the particular 
user to see the number of tasks assigned to the employee in kanban and form view.</strong>
			</h1>
			<br /> <img class="img-border img-responsive thumbnail"
				src="configuration.png">
		</div>
	</div>
</section>

<section class="oe_container lead">
	<div class="oe_row oe_spaced">
		<div class="oe_span12">
			<h1 class="text-info"
				style="text-align: center; padding-bottom: 40px;">
				<strong>Following is the employee kanban view ,It is showing the number of tasks assigned to the employee.
				</strong>
			</h1>
			<br/> <img class="img-border img-responsive thumbnail"
				src="employee_kanban.png"> <br />
		</div>
	</div>
</section>

<section class="oe_container lead">
	<div class="oe_row oe_spaced">
		<div class="oe_span12">
			<h1 class="text-info"
				style="text-align: center; padding-bottom: 40px;">
				<strong>Following is the form view of the employee. In the upper right side, It displays the number of 
tasks assigned to the employee.<br>You must have to select Related User</strong>
			</h1>
			<br /> <img class="img-border img-responsive thumbnail"
				src="employee_form.png">
		</div>
	</div>
</section>

<section class="oe_container lead">
    <div class="oe_row oe_spaced">
        <div class="oe_span12">
            <h1 class="text-info"
                style="text-align: center; padding-bottom: 40px;">
                <strong>By Clicking on the 'Tasks' button, It will open the list of tasks group by stages assigned to this employee.</strong>
            </h1>
            <br /> <img class="img-border img-responsive thumbnail"
                src="employee_group_by.png">
        </div>
    </div>
</section>

<section class="oe_container">
	<div class="oe_row oe_spaced">
		<div class="oe_span12">
			<h2 class="oe_slogan">Free Support</h2>
			<h3 class="oe_slogan"
				style="font-size: 20px; color: #000000 !important;">You will
				get 90 Days free support incase any bugs or issue (Except data
				recovery).</h3>
			<p class="oe_slogan">
				At BrowseInfo we offer end to end solution for Odoo services. Which
				includes analysis &amp; consultation on the workflows and
				integration part. Please note that You're not allowed to distribute
				this module after purchase! Incase of any question regarding this
				module feel free to email us on <a href="mailto:sales@browseinfo.in">sales@browseinfo.in</a>
				or raise a ticket on support.
			</p>
		</div>
	</div>
</section>

<section class="oe_container lead">
	<div class="oe_row oe_spaced">
		<div class="oe_span12">
			<h2 class="oe_slogan">
				<a href="http://www.browseinfo.in" target="new"> <img
					src="bi_logo.png">
				</a> <br> <a href="sales@browseinfo.in"
					style="color: #000000 !important;"> Get Help &amp; Support</a>
			</h2>
		</div>
		<br>
		<div class="oe_slogan oe_spaced text-center">
			<a class="btn btn-success mt8" title="Website"
				style="background-color: #9B0F4E; color: #FFFFFF !important;"
				href="http://www.browseinfo.in"> Website </a> <a
				class="btn btn-success mt8" title="Blog"
				style="background-color: #9B0F4E; color: #FFFFFF !important;"
				href="http://www.blog.browseinfo.in"> Blog </a> <a
				class="btn btn-success mt8" title="Contact Us"
				style="background-color: #9B0F4E; color: #FFFFFF !important;"
				href="mailto:sales@browseinfo.in"> Support </a> <a
				class="btn btn-success mt8" title="Request New Features now !"
				style="background-color: #9B0F4E; color: #FFFFFF !important;"
				href="mailto:sales@browseinfo.in"> Request New Features </a>
		</div>
	</div>
</section>
