<section class="oe_container">
    <div class="oe_row oe_spaced">
        <h2 class="oe_slogan" style="color:#875A7B;">
            Website Product Data Per Variant
        </h2>
        <h3 class="oe_slogan">Set unique data per variant</h3>
        <p class="oe_mt16" style="text-align: justify;" >
            Now set unique data per variant. An Intelligent module which provides the feature to set product images, name and description variant wise.
        </p>
    </div>
</section>

<section class="oe_container oe_dark lead">

    <div class="oe_row">
        <div class="panel panel-primary" id="wkid0">
        <div class="panel-heading">
        <h3 class="panel-title" style="font-size: 25px;"><i class="fa fa-mail-forward"></i> Features:</h3>
        </div>
            <div class="panel-body">
                <ul class="list-unstyled">
                    <li><i class="fa fa-check text-primary"></i> Set product data variant wise.</li>
                    <li><i class="fa fa-check text-primary"></i> Manage product multiple images variant wise.</li>
                    <li><i class="fa fa-check text-primary"></i> Manage product name variant wise.</li>
                    <li><i class="fa fa-check text-primary"></i> Manage product description variant wise.</li>
                </ul>
            </div>
        </div>
    </div>
</section>

<section class="oe_container">
    <div class="oe_row oe_spaced">
        <div class="oe_span12">
            <div class="oe_demo oe_picture oe_screenshot">
                <a href="variant.gif" target="_blank">
                    <img src="variant.gif">
                </a>
            </div>
        </div>
    </div>
</section>

<section class="oe_container">
    <ul class="nav nav-tabs ">
        <li class="active">
            <a href="#product_data_per_variant_tab1">
                <h3 class="panel-title"><i class="fa fa-sign-in"></i> <b>Backend View</b> </h3>
            </a>
        </li>
        <li>
            <a href="#product_data_per_variant_tab2" >
                <h3 class="panel-title"><i class="fa fa-sign-in"></i> <b>Website View</b> </h3>
            </a>
        </li>
        <li>
            <a href="#product_data_per_variant_tab3">
                <h3 class="panel-title"><i class="fa fa-code"></i> <b>Change Log</b> </h3>
            </a>
        </li>
    </ul>
</section>

<section id="product_data_per_variant_tab1">
    <section class="oe_container">
        <div class="oe_row oe_spaced">
            <h2 class="oe_slogan" style="color:#875A7B;">Set product data variant wise</h2>
            <h3 class="oe_slogan">Manage product multiple images variant wise.</h3>
            <div class="oe_span12">
                <div class="oe_demo oe_picture oe_screenshot">
                    <a href="1.png" target="_blank">
                        <img src="1.png">
                    </a>
                </div>
            </div>
        </div>
    </section>
</section>

<section id="product_data_per_variant_tab2">
    <section class="oe_container">
        <div class="oe_row oe_spaced">
            <h2 class="oe_slogan" style="color:#875A7B;">Show product data variant wise</h2>
            <h3 class="oe_slogan">Product data will be available on Website variant wise.</h3>
            <div class="oe_span12">
                <div class="oe_demo oe_picture oe_screenshot">
                    <a href="2.png" target="_blank">
                        <img src="2.png">
                    </a>
                </div>
            </div>
            <div class="oe_span12">
                <div class="oe_demo oe_picture oe_screenshot">
                    <a href="3.png" target="_blank">
                        <img src="3.png">
                    </a>
                </div>
            </div>
            <div class="oe_span12">
                <div class="oe_demo oe_picture oe_screenshot">
                    <a href="4.png" target="_blank">
                        <img src="4.png">
                    </a>
                </div>
            </div>
        </div>
    </section>
</section>

<section id="product_data_per_variant_tab3">
    <section class="oe_container oe_dark">
        <div class="oe_row">
            <div class='oe_span12' style="width: 828px;">
                <div class="panel panel-primary" id="wkid0">
                    <div class="panel-heading">
                        <h3 class="panel-title"><b>Module Change Log</b></h3>
                    </div>
                    <div class="panel-body">
                        <p>
                            Notations description used in this document.
                        </p>
                        <ul class="list-unstyle">
                            <li>
                                <i class="fa fa-plus text-success"></i>
                                [Features Added]
                            </li>
                            <li>
                                <i class="fa fa-minus text-danger"></i>
                                [Features Removed]
                            </li>
                            <li>
                                <i class="fa fa-bug text-warning"></i>
                                [Bug Fixed]
                            </li>
                        </ul>
                    </div>
                    <div class="panel-body">
                        <div class="alert alert-info">
                            <i class="fa fa-plus-circle"></i>
                            <b>  App Released version 1.0.0</b>
                            <b style="float:right"> Released in June 2018 </b>
                        </div>
                        <div class="oe_span12">
                            <p>
                                <i class="fa fa-plus text-success"></i>
                                Set product data variant wise.
                            </p>
                            <p>
                                <i class="fa fa-plus text-success"></i>
                                Manage product multiple images variant wise.
                            </p>
                            <p>
                                <i class="fa fa-plus text-success"></i>
                                Manage product name variant wise.
                            </p>
                            <p>
                                <i class="fa fa-plus text-success"></i>
                                Manage product description variant wise.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</section>

<section class='oe_container oe_dark'>
    <div class='oe_row'>
        <div class="oe_span12">
            <h2 class='oe_slogan'>Complimentary Support</h2>
            <p>
                You will get 90 days free support for any doubt, queries, and bug fixing (excluding data recovery) or any type of issue related to this module.
            </p>
        </div>
    </div>
    <div class="oe_row oe_spaced">
        <div class="oe_span12">
            <h2 class="oe_slogan">Help and Support</h2>
        </div>
        <div class="oe_slogan oe_spaced">
            <img src="icon-help.png">
        <span ><a onMouseOver="this.style.color='#AC1EE0'"
onMouseOut="this.style.color='#7c7bad'" style="color:#7c7bad;" target="_blank" href="https://webkul.com/ticket/open.php">Help</a></span>
                <img src="icon-support.png">
        <span ><a onMouseOver="this.style.color='#AC1EE0'"
onMouseOut="this.style.color='#7c7bad'" style="color:#7c7bad;" target="_blank" href="https://webkul.com/ticket/open.php">Support</a></span>
                <img src="icon-features.png">
        <span ><a onMouseOver="this.style.color='#AC1EE0'"
onMouseOut="this.style.color='#7c7bad'" style="color:#7c7bad;" target="_blank" href="https://webkul.com/ticket/open.php">Request new Features</a></span>
        </div>
    </div>
</section>

<section class="oe_container">
    <div class="oe_span12">
    <!-- Piwik Image Tracker-->
    <img style="display:none" src="http://odooimg.webkul.com/analytics/piwik/piwik.php?idsite=3&rec=1&action_name=Product-Data-Per-Variant&url=https://apps.openerp.com/apps/modules/11.0/product_data_per_variant&uid=product_data_per_variant" style="border:0" alt="" />
    <!-- End Piwik -->
    </div>
</section>