<section class="oe_container">
    <div class="oe_row oe_spaced">
        <div class="oe_span12">
            <h2>Main UI Gannt Module. It Only Web Gantt Framework. It is Main cost dependence module. Odoo 11</h2>
            <p class="oe_mt32">250.00 Eur <a href="https://apps.odoo.com/apps/modules/11.0/web_gantt_native/">Main UI Web Gannt Module</a>
            <p class="oe_mt32">0.00 Eur <a href="https://apps.odoo.com/apps/modules/11.0/project_native/">Gantt Native view for Projects </a>
            <p class="oe_mt32">0.00 Eur <a href="https://apps.odoo.com/apps/modules/11.0/mrp_gantt_native/">Gantt Native view for MRP / Manufacture </a>
            <p class="oe_mt32">0.00 Eur <a href="https://apps.odoo.com/apps/modules/11.0/hr_holidays_gantt_native/">Gantt Native view for Leave </a>
        </div>
    </div>
</section>

<section class="oe_container">
    <div class="oe_row oe_spaced">
        <div class="oe_span12">
            <h2>More Info</h2>
            <p class="oe_mt32">YouTube Video PlayList <a href="https://www.youtube.com/playlist?list=PLmxcMU6Ko0NkqpGLcC44_GXo3_41pyLNx">Odoo Gantt Native</a>
        </div>
    </div>
</section>

<section class="oe_container">
    <div class="oe_row oe_spaced">
        <div class="oe_span12">
            <h2>Demo</h2>
            <p class="oe_mt32">user: demo Password:demog <a href="https://demo11.garage12.eu/">Odoo Gantt Demo </a>
        </div>
    </div>
</section>

<section class="oe_container">
    <div class="oe_row oe_spaced">
        <div class="oe_span12">
            <h2>MRP / Manufacture Gannt Module </h2>
            <p class="oe_mt32">Support: Manufacturing Orders, Work Orders / Time Tracking.
            <p class="oe_mt32">Go to for all Detail Description <a href="https://apps.odoo.com/apps/modules/10.0/project_native/">Gantt Native view for Projects </a>
        </div>
    </div>
</section>

<section class="oe_container">
    <div class="oe_row oe_spaced">
        <h2 class="oe_slogan" style="color:#875A7B;">MRP / Manufacture</h2>

        <div class="oe_span6">
            <p class="oe_mt32 oe_mb32 text-justify">
                Manufacturing Orders
            </p>
            <img class="oe_picture oe_screenshot" src="m_main.png"/>
        </div>

        <div class="oe_span6">
                        <p class="oe_mt32 oe_mb32 text-justify">
             Work Order
            </p>
            <img class="oe_picture oe_screenshot" src="mrp_order.png"/>
        </div>

        <div class="oe_span6">
                        <p class="oe_mt32 oe_mb32 text-justify">
             Work Orders / Time Tracking. Ghost bar on gantt for time tracking.
            </p>
            <img class="oe_picture oe_screenshot" src="wo_tm.png"/>
        </div>
                <div class="oe_span6">
                        <p class="oe_mt32 oe_mb32 text-justify">
             When Manufacture Order or Work Order Done.
            </p>
            <img class="oe_picture oe_screenshot" src="mr_done.png"/>
        </div>

    </div>
</section>



<section class="oe_container">
    <div class="oe_row oe_spaced">
        <div class="oe_span12">
            <h2>MRP Gantt</h2>
            <p class="oe_mt32">YouTube Video <a href="https://youtu.be/-iCg5Z0BRpY">Odoo Gantt MRP / Manufacture  </a>
        </div>
    </div>
</section>


<section class="oe_container">
    <div class="oe_row oe_spaced">
        <div class="oe_span12">
            <h2>Need our service?</h2>
            <p class="oe_mt32">Contact us by <a href="mailto:vostraga@gmail.com">email</a>
            <ul>
                <li><a href="mailto:vostraga@gmail.com">vostraga@gmail.com <i class="fa fa-envelope-o"></i></a></li>
            </ul>
        </div>
    </div>
</section>


<section class="oe_container oe_separator">
</section>
