/*.wk_horizontal_cart ul {
	margin-right: 10px;
	width: 80px;
	background-color: red;
	position: relative;
	top:100%;


}*/
.wk_horizontal_cart{
background-color: pink;
position: relative;
	top:50px;
	z-index: absolute;

}
.horizontal_category{
	padding:6px 12px;
	/*height: 40px;*/
}

.products_brands_filter{
    
    height: 150px;
    overflow-y: scroll;


}
.oe_brand_image{
	 border: 1px solid grey;
	 box-sizing: border-box; 
	 margin: 1%;
/*	 padding-right:0px! important;
	 padding-left: 0px!important;*/
}
.oe_brand_image a:hover{ text-decoration: none; }
#products_category_description_grid img{
	height: 200px;
/*	 border: 1px solid grey;
	  padding: 5%;
	 box-sizing: border-box;*/ 
}

/*http://www.w3schools.com/cssref/tryit.asp?filename=trycss3_nth-child_formula*/
/*.oe_brand_image:nth-child(3n-1)
{
    background-color:#CECBCB;
    padding-left: 1px;
     padding-right: 1px;
}
*/
