<section class="oe_container">
    <div class="oe_row oe_spaced">
        <div class="oe_span12" style="width: 88%;">
            <h2 class="oe_slogan">Infinite Scroll Feature Presents by SGEEDE</h2>
            <h3 class="oe_slogan">Easy to Use and User Friendly feature for your product list without pagination</h3>
        </div>
        <div class="oe_span6" style="width: 44%;">
            <div class="oe_demo oe_picture oe_screenshot">
                <img src="show_01.png">
            </div>
        </div>
        <div class="oe_span6" style="width: 44%;">
            <p class="oe_mt32">
Remove the hassle of clicking between pages. With this feature, your customer doesn't need to click to move between pages, just scroll it.
            </p>
        </div>
    </div>
</section>

<section class="oe_container oe_dark">
    <div class="oe_row oe_spaced">
        <h2 class="oe_slogan">Power of Efficiency Feature.</h2>
        <div class="oe_span6" style="width: 44%;">
            <p class="oe_mt32">
<ul>
    <li>Easy to use.</li>
    <li>More Efficient.</li>
    <li>More Dynamic.</li>
    <li>Simple.</li>
    <li>Elegant.</li>
    <li>Fast response support at <a href="mailto: enquiry@sgeede.com">enquiry@sgeede.com</a>.</li>
</ul>
            </p>
        </div>
        <div class="oe_span6" style="width: 44%;">
            <div class="oe_row_img oe_centered">
                <img class="oe_picture oe_screenshot" src="show_02.png">
            </div>
        </div>
    </div>
</section>  

<section class="oe_container">
    <div class="oe_row oe_spaced">
        <div class="oe_span12" style="width: 88%;">
            <h2 class="oe_slogan">Install It and Feel the Power.</h2>
        </div>
        <div class="oe_span6" style="width: 44%;">
            <div class="oe_demo oe_picture oe_screenshot">
                <img src="show_03.png">
            </div>
        </div>
        <div class="oe_span6" style="width: 44%;">
            <p class="oe_mt32">
With this feature, the product will shown automatically on your screen. The user only need to scroll through the page and it will show more. Try it now and feel the difference!
            </p>
        </div>
    </div>
</section>

<section class="oe_container oe_dark">
    <div class="oe_row oe_spaced">
        <h2 class="oe_slogan">Works Best in Modern Design</h2>
        <div class="oe_span6" style="width: 44%;">
            <p class="oe_mt32">
This feature works best at modern website design based on Odoo. Install this module in your Odoo Ecommerce to optimize its user experience. You can also get your custom elegance design for your Odoo by email to <a href="mailto: enquiry@sgeede.com">enquiry@sgeede.com</a>.               
            </p>
        </div>
        <div class="oe_span6" style="width: 44%;">
            <div class="oe_row_img oe_centered">
                <img class="oe_picture oe_screenshot" src="responsive_web_design.png">
            </div>
        </div>
    </div>
</section>  

<section class="oe_container">
    <div class="oe_row oe_spaced">
        <div class="oe_span12" style="width: 88%;">
            <h2 class="oe_slogan">Support and Modifiable</h2>
        </div>
        <div class="oe_span6" style="width: 44%;">
            <div class="oe_demo oe_picture oe_screenshot">
                <img src="sgeede.png">
            </div>
        </div>
        <div class="oe_span6" style="width: 44%;">
            <p class="oe_mt32">
We are ready to support you for this module by email us at <a href="mailto: enquiry@sgeede.com">enquiry@sgeede.com</a>. You can expect our reply in 24 Hours. We are also able to Develope module according to your needs. Please feel free to visit us at <a href="http://www.sgeede.com">www.sgeede.com</a>
            </p>
        </div>
    </div>
</section>