<section class="oe_container">
    <div class="oe_row oe_spaced">
        <h2 class="oe_slogan" style="color:#875A7B;">Showing a menu badge in Odoo</h2>
        <h3 class="oe_slogan">odoo 11</h3>
        <div class="oe_demo oe_screenshot">
            <img src="splash-screen.png">
        </div>
    </div>
</section>