<section class="oe_container">
    <div class="oe_row oe_spaced">
        <div class="oe_span12" style="width:88%;">
            <h2 class="oe_slogan">SGEEDE POS Lock</h2>
            <h3 class="oe_slogan">Enchance your point of sale with security feature</h3>
        </div>
        <div class="oe_span6" style="width:44%;">
            <div class="oe_demo oe_picture oe_screenshot">
                <img src="sgeede_sc_01.png">
            </div>
        </div>
        <div class="oe_span6" style="width:44%;">
            <p class="oe_mt32">
                SGEEDE POS Lock allow point of sale user to lock their POS. Just with a single click of a button. This allows the user to temporarily leave their station, without worrying about the sistem getting tampered or used by unauthorized person.<br/>
            </p>
        </div>
    </div>
</section>

<section class="oe_container oe_dark">
    <div class="oe_row oe_spaced">
        <div class="oe_span12" style="width:88%;">
            <h2 class="oe_slogan">List View for Your Point of Sale</h2>
        </div>
        <div class="oe_span6" style="width:44%;">
            <div class="oe_demo oe_picture oe_screenshot">
                <img src="sgeede_sc_02.png">
            </div>
        </div>
        <div class="oe_span6" style="width:44%;">
            <p class="oe_mt32">
                Need to check the stocks directly in the storage room, find the manager ? Urgently need to leave the point of sale system ? Lock it up, and get back to it later. Worried people might unlock the Point of Sale without user knowledge ? The lock will only be unlocked with the user password. So remove the worries of leaving point of sale unguarded. Just unlock it once you're back and continue whatever you were doing.
            </p>
        </div>
    </div>
</section>

<section class="oe_container">
    <div class="oe_row oe_spaced">
        <div class="oe_span12" style="width:88%">
            <h2 class="oe_slogan">Flexible and Full-Benefit Enhancement Module</h2>
        </div>
        <div class="oe_span6" style="width:44%;">
            <p class="oe_mt32">
                <ul>
                    <li>Easy to use.</li>
                    <li>Simple UI</li>
                    <li>Enchanced POS</li>
                    <li>Neat and Clean Design</li>
                    <li>Enchance Password Lock</li>
                    <li>Works perfectly with Odoo point of sale.</li>
                    <li>Easy and Handy module.</li>
                    <li>Fast response support at <a href="mailto: enquiry@sgeede.com">enquiry@sgeede.com</a>.</li>
                </ul>
            </p>
        </div>
        <div class="oe_span6" style="width:44%;">
            <div class="oe_row_img oe_centered">
                <img class="oe_picture oe_screenshot" src="sgeede_sc_03.png">
            </div>
        </div>
    </div>
</section>  

<section class="oe_container oe_dark">
    <div class="oe_row oe_spaced">
        <div class="oe_span12" style="width:88%;">
            <h2 class="oe_slogan">Support and Modifiable</h2>
        </div>
        <div class="oe_span6" style="width:44%;">
            <div class="oe_demo oe_picture oe_screenshot">
                <img src="sgeede.png">
            </div>
        </div>
        <div class="oe_span6" style="width:44%;">
            <p class="oe_mt32">
We are ready to support you for this module by email us at <a href="mailto: enquiry@sgeede.com">enquiry@sgeede.com</a>. You can expect our reply in 24 Hours. We are also able to Develope module according to your needs. Please feel free to visit us at <a href="http://www.sgeede.com">www.sgeede.com</a>
            </p>
        </div>
    </div>
</section>