<section class="oe_container">
    <div class="oe_row oe_centered">
        <div class="oe_span_10 oe_centered">
            <h4 class="oe_slogan" style="margin-left: 120px;"><b><span class="fa fa-star fa-spin"></span>
                    Quick upgrade &amp; uninstall </span></b></h4>
        </div>
    </div>

    <p align="left">The “Quick Module Upgrade” allows you to upgrade your installed application directly from the Kanban view without navigating inside the module application. We have customized the Kanban view and provided two additional buttons- “Upgrade” and “Uninstall” besides Odoo’s default “Install” button. It probably will reduce the hassles of visiting each and every module during the upgrade/uninstall process.</p>

    <div class="oe_row oe_centered">
        <div class="oe_span_10 oe_centered">
            <h4 class="oe_slogan" style="margin-left: 120px;"><b><span class="fa fa-star fa-spin"></span>
                    Prerequisites before Installation </span></b></h4>
        </div>
    </div>
    <p align="left">No prerequisites required before installation.</p>


    <div class="oe_row oe_centered">
        <div class="oe_span_10 oe_centered">
            <h4 class="oe_slogan" style="margin-left: 120px;"><b><span class="fa fa-star fa-spin"></span>
                    Configurations </span></b></h4>
        </div>
    </div>
    <p align="left">No configurations needed.</p>


    <div class="oe_centered">
        <p>As shown in the below image the already installed apps will be provided with two buttons-Upgrade and Uninstall in a Grid view of Apps. Go to Apps, filter the installed apps and simply click on either of the buttons and your application will be upgraded/uninstalled accordingly.</p>
    </div>
    <div class="oe_row oe_centered">
        <div class="oe_span12">
            <img src="odoo_apps.png" style="width: 100%;"/>
        </div>
    </div>


    <div class="oe_row oe_spaced">
        <h2 class="oe_slogan">
            <a href="http://aktivsoftware.com/" target="new">
                <img src="http://aktivsoftware.com/wp-content/uploads/2018/01/logo-1.png"/>
            </a>
            <br/>
            <a href="mailto:sales@aktivsoftware.com" style="color: #000000 !important;">
                        Get Help &amp; Support
            </a>
        </h2>
        <div class="oe_slogan oe_spaced text-center">
            <a class="btn btn success mt8" title="website" target="new" style="background-color:#ff4040;  color: #ffffff; !important; position:relative; overflow: hidden;" href="http://aktivsoftware.com/"><b>Website</b></a>
            <a class="btn btn success mt8" title="Contact Us" style="background-color:#ff4040; color: #ffffff; !important; position:relative; overflow: hidden;" href="mailto:sales@aktivsoftware.com"><b>Contact Us</b></a>
            <a class="btn btn success mt8" title="Request New Features Now!" style="background-color:#ff4040; color: #ffffff; !important; position:relative; overflow: hidden;" href="mailto:sales@aktivsoftware.com"><b>Request For New Features</b></a>
        </div>
    </div>
</section>

