<section class="oe_container oe_dark">
    <div class="oe_row oe_spaced">
        <div class="oe_span12">
            <h2 class="oe_slogan">Odoo 11: CRM issue Module</h2>
            <h3 class="oe_slogan">This module is used to create project issue form lead.
            </h3><br/>
            <h4 class="oe_slogan">How to use</h4>
           </div>
          </div>
</section>

     <section class="oe_container">
    <div class="oe_row oe_spaced">
        <p class="oe_mt32" style="text-align:center;">
           You can find create issue button on the form of lead so if you want to create project issue from that lead you have to just click on that button.
  
  <img class="oe_picture oe_screenshot" src="crm_issue_1.png" style="width:99%;border-width: 3px;border-style: solid;border-color: #656060;">

        </p>
</div> 
</section>

<section class="oe_container oe_dark">
  <div class="oe_row oe_spaced">   
	<h2 class="oe_slogan">Wizard for enter extra details releted to project issue</h2>
	<p class="oe_mt32" style="text-align:center;">
          When you  click on create issue button wizard will be open where you have to enter details of project ,dedline of the issue and assigned person details.</p>
        <img class="oe_picture oe_screenshot" src="crm_issue_3.png" style="width:99%;border-width: 3px;border-style: solid;border-color: #656060;">
</div>
</section>
<section class="oe_container">
  <div class="oe_row oe_spaced"> 
        <p class="oe_mt32" style="text-align:center;">
          On lead form  you can See Number of issue created from that lead .  
        </p>
        <img class="oe_picture oe_screenshot" src="crm_issue_4.png" style="width:99%;border-width: 3px;border-style: solid;border-color: #656060;">
</div>
</section>
<br/>

<section class="oe_container oe_dark">
  <div class="oe_row oe_spaced"> 
        <p class="oe_mt32" style="text-align:center;">
           Here you can see the detailed information of the project issue created from the lead. 
        </p>
        <img class="oe_picture oe_screenshot" src="crm_issue_5.png" style="width:99%;border-width: 3px;border-style: solid;border-color: #656060;">    
</div>
</section>
<br/>



<section class="oe_container oe_dark">
  <div class="oe_row oe_spaced"> 
      <h2 class="oe_slogan">Free Support</h2>
<h3 class="oe_slogan" style="font-size: 20px;">You will get 90 Days free support incase any bugs or issue (Except data recovery).</h3>
        <p class="oe_mt32" style="text-align:center;">
           At BrowseInfo we offer  end to end solution for Odoo services. Which includes analysis & consultation on the workflows and integration part.  Please note that You're not allowed to distribute this module after purchase! Incase of any question regarding this module feel free to email us on <a href="mailto:sales@browseinfo.in">sales@browseinfo.in</a> or raise a ticket on support.
		      </p>
    </div>
</section>
<br/>





<section class="oe_container oe_dark">
    <div class="oe_row ">
        <div class="oe_slogan text-center">
            <a href="http://www.browseinfo.in" target="new">
                <img src="bi_logo.png"/>
            </a>
            <br/>
            <div class="oe_span12">
            <h2 class="text-center"><a>About us</a></h2>
        </div>
            <span>
                <a style="color: #a24689 !important;" href="http://www.browseinfo.in" target="new">Website</a> | 
                <a style="color: #a24689 !important;" href="http://www.blog.browseinfo.in" target="new">Blog</a> | 
                <a style="color: #a24689 !important;" href="mailto:sales@browseinfo.in">Contact Us</a> |
                <a style="color: #a24689 !important;" href="mailto:sales@browseinfo.in">Request New Feature</a>
            </span>
        </div>
    </div>
</section>
