<div style="padding-top: 4%;">
    <h2 class="oe_slogan" style="font-size: 32px;font-weight: 900;margin-bottom:18px;">Enjoy Easy Ordering</h2>

    <section class="oe_container ">
        <div class="oe_row oe_spaced">
            <div class="oe_picture">
                <h3 class="oe_slogan" style="font-size: 34px;">Overview</h3>
                <p class="oe_mt32 text-justify" style="text-align: center;font-size: 16px;">
                    This module will help you to order products easily.
                    You can create quotations and you can add products without navigating to the quotations menu.
                    Added new customized feature in the view of product variants.
                    That will help you to perform order by looking the catalog.
                </p>
            </div>
        </div>
    </section>

    <section class="oe_container oe_dark">
        <div class="oe_row oe_spaced">
            <div class="oe_span6">
                <div class="oe_row_img oe_centered">
                    <img class="oe_picture oe_screenshot" src="image-1.png">
                </div>
            </div>
            <div class="oe_span6">
                <p class="oe_mt32">
                    Added new customized button 'Add to Quotation' in the kanban view of product variants.
                </p>
            </div>
        </div>
    </section>

    <section class="oe_container">
        <div class="oe_row oe_spaced">
            <div class="oe_span6">
                <p class="oe_mt32">
                    Button opens a wizard. Either here you can choose an existing quotation or you can create new quotation.
                    Then enter Quantity, Unit price, Taxes etc. and click insert button.
                    Now your product will be inserted in the particular quotation. Then you can order next product.
                </p>
            </div>
            <div class="oe_span6">
                <div class="oe_row_img oe_centered">
                    <img class="oe_picture oe_screenshot" src="image-2.png">
                </div>
            </div>
        </div>
    </section>

    <section class="oe_container oe_dark">
        <div class="oe_row oe_spaced">
            <div class="oe_span6">
                <div class="oe_row_img oe_centered">
                    <img class="oe_picture oe_screenshot" src="image-3.png" style="width: 50%;">
                </div>
            </div>
            <div class="oe_span6">
                <p class="oe_mt32">
                   This button is also available in the form view.
                </p>
            </div>
        </div>
    </section>





    <section class="oe_container">
        <div class="oe_row oe_spaced">
            <div class="oe_span6">
                <p class="oe_mt32">
                    &nbsp;
                </p>
            </div>
        </div>
    </section>




    <section class="oe_container oe_dark">
        <h2 class="oe_slogan" style="margin-top:20px;" >Need Any Support ?</h2>
        <div class="oe_slogan" style="margin-top:10px !important;">
            <div>
                Please contact to <a href="mailto:kreative.odoo@gmail.com">kreative.odoo@gmail.com</a> for support, query and further customizations.
            </div>
            <br>
            <a href="https://www.odoo.com/apps/modules/browse?search=kreative" target="_blank">
                <img src="logo-Kreative.png" style="width: 190px; margin-bottom: 20px;" class="center-block">
            </a>
        </div>
    </section>

</div>