<head>
  <style>
      .backgrounds{background-color:#fff; color:#0B80E6}
  </style>
</head>

<section class="oe_container">
    <div class="oe_row oe_spaced">
        <div class="oe_span12">
            <h3 class="oe_slogan"><br/>Project Tasks Start Stop functionality.</h3><h4>When we work on any task we need to enter timesheet details manually in odoo.<br/><br/>But many time because of work load we forget to enter timesheet entry and that can cause loss in revenue. To avoid such mistakes and loss we have implemented simple functionality in this module. When any user start work on any task they will have to click on start and when work is completed or stopped they have to click stop button thats it. It will automatically create timesheet entry.
            </h4>
        </div>
    </div>
</section>

<section class="oe_container">
    <div class="oe_row oe_spaced">
        <div class="oe_span6 oe_mt64">
            <a href="http://www.almightycs.com/blog/news-1/post/project-task-start-stop-functionality-odoo-12" target="_blank">
                <img src="task_start_stop_form_odoo_almightycs.png" width="100%">
            </a>
        </div>
        <div class="oe_span6">
            <p class="oe_slogan"><br/><br/><br/>We have added buttons on Task form view.<br/><br/>In form view we have added timer also to show total time spent from work started till now. Users can manually edit timesheet entry description or we have added special field on task for that where users can enter details of their work and that will be added as timesheet description.<br/><br/>There will be default description of task. We Capture start and stop time also on timesheet for more clear picture of work.
            </p>
        </div>
        
    </div>
</section>

<section class="oe_container">
    <div class="oe_row oe_spaced">
        <div class="oe_span6">
            <p class="oe_slogan"><br/><br/>We have added start stop buttons on kanban view also for users comfort.<br/><br/> We have added functionality where any user will be able to start one task at a time. Before starting work on another task they will need to stop work first on running task so mistakes can be avoided.
            </p>
        </div>
        <div class="oe_span6 oe_mt64">
            <a href="http://www.almightycs.com/blog/news-1/post/project-task-start-stop-functionality-odoo-12" target="_blank">
                <img src="tasks_start_stop_kanban_almightycs.png" width="100%">
            </a>
        </div>
    </div>
</section>

<section class="oe_container">
    <div class="oe_row oe_spaced">
        <div class="oe_span6">
            <div class="oe_demo oe_picture oe_screenshot">
                <a href="http://www.almightycs.com" target="_blank">
                    <img src="acs.png" width="200" height="auto">
                </a>
                <div class="oe_demo_footer oe_centeralign">Meet Us</div>
            </div>
        </div>
        <div class="oe_span6">
            <h2 class="oe_slogan">Do you need help?</h2>
            <h3 class="oe_slogan">
                Let's offer you the best services!
            </h3>
            <p class="oe_mt32 text-center">
                Contact us by our official channels.
            </p>
            <p class="oe_mt32 text-center">
                Skype: turkesh4friends 
            </p>
            <div class="oe_spaced">
                <ul class="text-center list-inline">
                    <li>
                        <a href="https://in.linkedin.com/pub/patel-turkesh/1b/51b/32b" Target="_blank"><i class="fa fa-linkedin-square fa-xs backgrounds"></i></a>
                    </li>
                    <li>
                        <a href="https://www.facebook.com/public/Turkesh-Patel" Target="_blank"><i class="fa fa-facebook-square fa-xs backgrounds"></i></a>
                    </li>
                    <li>
                        <a href="https://github.com/tpa-odoo" Target="_blank"><i class="fa fa-github-square fa-xs backgrounds"></i></a>
                    </li>
                    <li>
                        <a href="https://plus.google.com/+TurkeshPatel" Target="_blank"><i class="fa fa-google-plus-square fa-xs backgrounds"></i></a>
                    </li>
                    <li>
                        <a href="https://twitter.com/turkeshpatel?lang=en" Target="_blank" ><i class="fa fa-twitter-square fa-xs backgrounds"></i></a>
                    </li>

                    <li>
                        <a title="Contact us" data-toggle="tooltip" data-placement="left" Target="_blank" href="http://www.almightycs.com/page/website.contactus"><i class="fa fa-envelope-square fa-xs backgrounds"></i></a>
                    </li>
                </ul>
            </div>
        </div>

    </div>
</section>

