<section class="oe_container">
    <div class="oe_row oe_centered">
        <div class="oe_span_10 oe_centered">
            <h4 class="oe_slogan" style="margin-left: 120px;"><b><span class="fa fa-star fa-spin"></span>
                Search Product </span></b></h4>
        </div>
    </div>

    <p align="left">This module allows user to search matching products as per the attributes listed. Below listed are features accomplished in this module:</p>

    <div class="oe_centered">
        <ul>
            <li>Product Attributes and Values is maintained with which the matching product will be displayed.</li>
            <li>Products with its relevant attributes and values will be fetched.</li>
            <li>A button with the Product count will also appear which will fetch all the relevant products.</li>
            <li>A report can also be printed based on the search results of the products.</li>
        </ul>
    </div>

    <div class="oe_row oe_centered">
        <div class="oe_span_10 oe_centered">
            <h4 class="oe_slogan" style="margin-left: 120px;"><b><span class="fa fa-star fa-spin"></span>
                    Prerequisites before Installation </span></b></h4>
        </div>
    </div>
    <p align="left">There are no prerequisites required before the Installation</p>


    <div class="oe_row oe_centered">
        <div class="oe_span_10 oe_centered">
            <h4 class="oe_slogan" style="margin-left: 120px;"><b><span class="fa fa-star fa-spin"></span>
                    Configurations </span></b></h4>
        </div>
    </div>
    <p align="left">Check the Attributes and Variants Boolean as true for availing the features of this module.</p>
    

    <div class="oe_centered">
        <p align="left">You can find the Attributes and Variants through:</p>
        <p align="left">Inventory > Configuration > Settings > Enable Product Variant.</p>
    </div>
    <div class="oe_row oe_centered">
        <div class="oe_span12">
            <img src="enable_product_variant.png" style="width: 100%;"/>
        </div>
    </div>

    <div class="oe_centered">
        <p align="left">User need to set attributes and then select the attributes as per their requirement.  They can set the attributes in following simple steps:</p>
        <p align="left">Inventory > Configuration > Settings > Set Product Attributes</p>
    </div>
    <div class="oe_row oe_centered">
        <div class="oe_span12">
            <img src="settings_configuration.png" style="width: 100%;"/>
        </div>
    </div>

    <div class="oe_centered">
        <p align="left">After setting the attributes you can further go to “Search Product” to find a product of your choice.</p>
    </div>
    <div class="oe_row oe_centered">
        <div class="oe_span12">
            <img src="search_product_wizard_menu.png" style="width: 33%%;display: block; margin-left: auto; margin-right: auto;"/>
        </div>
    </div>

    <div class="oe_centered">
        <p align="left">When you haven’t set the attributes, all products will be displayed. The attributes will be displayed only if you have set from the settings.</p>
    </div>
    <div class="oe_row oe_centered">
        <div class="oe_span12">
            <img src="search_product_wizard_with_many_products.png" style="width: 100%;"/>
        </div>
    </div>

    <div class="oe_centered">
        <p align="left">Now let us consider searching for “laptop” and mention the attributes to filter out the laptop matching the requirements. As shown in below image the memory, brand, color, Wi-Fi and type is mentioned as attributes.</p>
        <p align="left">And the product matching all of the requirements is displayed.</p>
    </div>
    <div class="oe_row oe_centered">
        <div class="oe_span12">
            <img src="search_product_wizard_with_single_product.png" style="width: 100%;"/>
        </div>
    </div>

    <div class="oe_centered">
        <p align="left">You can also print the report of product details which will also highlight the product attributes you have selected.</p>
    </div>
    <div class="oe_row oe_centered">
        <div class="oe_span12">
            <img src="report_as_per_selected_products.png" style="width: 100%;"/>
        </div>
    </div>



    <div class="oe_row oe_spaced">
        <h2 class="oe_slogan">
            <a href="http://aktivsoftware.com/" target="new">
                <img src="http://aktivsoftware.com/wp-content/uploads/2018/01/logo-1.png"/>
            </a>
            <br/>
            <a href="mailto:sales@aktivsoftware.com" style="color: #000000 !important;">
                        Get Help &amp; Support
            </a>
        </h2>
        <div class="oe_slogan oe_spaced text-center">
            <a class="btn btn success mt8" title="website" target="new" style="background-color:#ff4040;  color: #ffffff; !important; position:relative; overflow: hidden;" href="http://aktivsoftware.com/"><b>Website</b></a>
            <a class="btn btn success mt8" title="Contact Us" style="background-color:#ff4040; color: #ffffff; !important; position:relative; overflow: hidden;" href="mailto:sales@aktivsoftware.com"><b>Contact Us</b></a>
            <a class="btn btn success mt8" title="Request New Features Now!" style="background-color:#ff4040; color: #ffffff; !important; position:relative; overflow: hidden;" href="mailto:sales@aktivsoftware.com"><b>Request For New Features</b></a>
        </div>
    </div>
</section>
