<div style="margin-left:100px;margin-right:100px;">
<h2>Description</h2>
A helpdesk / support ticket system for your website<br>
<h2>Basic Configuration</h2>
A user must be assigned to the Support Staff or Support Manager Group before they can access the Customer Support top menu<br/>
<br/>
<section class="oe_container">
    <div class="oe_row oe_spaced">
        <h2 class="oe_slogan">Configure Support Ticket System</h2>
        <div class="oe_span6">
            <div class="oe_row_img oe_centered">
                <img class="oe_picture oe_screenshot" src="1.jpg" alt="Configure Support Ticket System">
            </div>
        </div>
        <div class="oe_span6">
            <p class="oe_mt32">
Create custom categories and assigns users to each category and they will instantly be notified when a new support ticket arrives for thier department.<br/>
<br/>
<b>Instructions</b><br/>
<ol>
<li>Assign yourself to the 'Support Manager' group</li>
<li>Go to Customer Support->Configuration->Categories and select user that should respond to that type of ticket</li>
<li>Alternatvily go to the user and select the support ticket group they should respond too</li>
</ol>
            </p>
        </div>
    </div>
</section>

<section class="oe_container oe_dark">
    <div class="oe_row oe_spaced">
        <h2 class="oe_slogan">Create Help Groups / Pages</h2>
        <div class="oe_span6">
            <p class="oe_mt32">
Reduce the amount of support tickets your staff have to answer by providing help pages for your customers to read<br/>
<br/>
<b>Instructions</b><br/>
<ol>
<li>Assign yourself to the 'Support Manager' group</li>
<li>Go to the Support menu on your website</li>
<li>Click on the content then "New Help Group" and type in a name</li>
<li>Click on the content then "New Help Page" and select a help group, after which you can rename the help page and drag and drop snippets to create a fancy help page</li>
</ol>
            </p>
        </div>
        <div class="oe_span6">
            <div class="oe_row_img oe_centered">

<img class="oe_picture oe_screenshot" src="2.jpg" alt="Create Help Groups / Pages">

            </div>
        </div>
    </div>
</section>

<section class="oe_container">
    <div class="oe_row oe_spaced">
        <h2 class="oe_slogan">Submit Support Ticket Online</h2>
        <div class="oe_span6">
            <div class="oe_row_img oe_centered">
                <img class="oe_picture oe_screenshot" src="3.jpg" alt="Submit Support Ticket Online">
            </div>
        </div>
        <div class="oe_span6">
            <p class="oe_mt32">
Both registered and public user can submit tickets via your website.<br/>
<br/>
<b>Instructions</b><br/>
<ol>
<li>Go to Support menu on your website and click on "Submit a ticket"</li>
<li>Fill in the form and someone should get back to you soon.</li>
</ol>
            </p>
        </div>
    </div>
</section>

<section class="oe_container oe_dark">
    <div class="oe_row oe_spaced">
        <h2 class="oe_slogan">View Support Tickets Online</h2>
        <div class="oe_span6">
            <p class="oe_mt32">
User that were logged in at the time of submitting a ticket can view a history of all thier support tickets.<br/>
<br/>
<b>Instructions</b><br/>
<ol>
<li>Go to Support menu on your website and click on "My Tickets"</li>
<li>You can click on an individual ticket if you want view more information</li>
</ol>
            </p>
        </div>
        <div class="oe_span6">
            <div class="oe_row_img oe_centered">

<img class="oe_picture oe_screenshot" src="4.jpg" alt="View Support Tickets Online">

            </div>
        </div>
    </div>
</section>

<section class="oe_container">
    <div class="oe_row oe_spaced">
        <h2 class="oe_slogan">Respond to support tickets online</h2>
        <div class="oe_span6">
            <div class="oe_row_img oe_centered">
                <img class="oe_picture oe_screenshot" src="5.jpg" alt="Respond to support tickets online">
            </div>
        </div>
        <div class="oe_span6">
            <p class="oe_mt32">
User can view a history of thier ticket online and add a comment.<br/>
<br/>
<b>Instructions</b><br/>
<ol>
<li>Go to Support menu on your website and click on "My Tickets"</li>
<li>You can click on an individual ticket to view it</li>
<li>Type a comment and wait for a response</li>
</ol>
            </p>
        </div>
    </div>
</section>

<section class="oe_container oe_dark">
    <div class="oe_row oe_spaced">
        <h2 class="oe_slogan">Email Integration</h2>
        <div class="oe_span6">
            <p class="oe_mt32">
Email conversations are tracked for each ticket so customers can reply directly via email without ever having to go to the website or login.<br/>
Emails are automatically sent when a ticket category is changed or the ticket is closed by staff<br/>
When the customer replies via email the ticket state is automatically set to 'Customer Replied' allowing you to easily see at a glance which tickets need attending to<br/>
Operators can reply online via Customer Support->Support Tickets<br/>
<br/>
<b>Per Operator Instructions</b><br/>
<ol>
<li>Assign the operator to the 'Support Staff' group</li>
<li>Setup outgoing email for all your support ticket operators</li>
<li>Go to Customer Support->Support Tickets and open one</li>
<li>Hit the reply button in the header</li>
<li>Type a message and the user will get sent an email alongside information about the ticket</li>
<li>Email replies will appear in the chatter as well as the online ticket view</li>
</ol>
            </p>
        </div>
        <div class="oe_span6">
            <div class="oe_row_img oe_centered">

<img class="oe_picture oe_screenshot" src="6.jpg" alt="Email Integration">

            </div>
        </div>
    </div>
</section>

<section class="oe_container">
    <div class="oe_row oe_spaced">
        <h2 class="oe_slogan">Create Support Ticket via Email</h2>
        <div class="oe_span6">
            <div class="oe_row_img oe_centered">
                <img class="oe_picture oe_screenshot" src="7.jpg" alt="Create Support Ticket via Email">
            </div>
        </div>
        <div class="oe_span6">
            <p class="oe_mt32">
Automatically create support ticket when an email is fetched by Odoo.<br/>
<br/>
<b>Instructions</b><br/>
1.  Go to Settings->Technicial->Email->Incoming Mail Servers and create a new record e.g. support@ or helpdesk@<br/>
2.  Also setup an outgoing mail server for your support email address<br/>
3.  Lastly go to Customer Support->Configuration->Settings and setup a default category for tickets created via email<br/>
            </p>
        </div>
    </div>
</section>

<br/>
<h2>Addons Modules</h2>
<h3><a href="https://apps.odoo.com/apps/modules/11.0/website_support_analytic_timesheets/">Website Help Desk / Support Ticket - Analytic Timesheets</a></h3>
Allows you to track time on a support ticket, linked with tasks so combined reports can be made<br/>
<br/>
Find a bug? feature idea? send an email to steven@sythiltech.com.au<br/>
</div>