<section class="oe_container">
    <div class="oe_row oe_spaced">
        <h2 class="oe_slogan" style="color:#875A7B;">i.SAF XML Report</h2>
        <p>This App generates an i.SAF report for Lithuanian State Tax Inspectorate</p>
        <p>The module creates a new menu "Invoicing" -&gt; "Reporting" -&gt; "XML Reports"</p>
         <center><img src="menu.png"></center>

        <p style="text-align:center;padding-top:20px">Then, launch the Wizard and Download the report</p>
        <div class="oe_demo oe_screenshot">
            <img src="form.png">
        </div>
    </div>
</section>

<section class="oe_container">
    <div class="oe_row oe_spaced">
        <h2 class="oe_slogan" style="color:#875A7B;">Have questions or need additional functionality?</h2>
        <h3 class="oe_slogan">Contact us via email:</h3>
        <h3 class="oe_slogan">info@innovations.lt</h3>
        <h2 class="oe_slogan" style="color:#875A7B;">Also please review and rate our module</h2>
    </div>
</section>



