
<section class="oe_container">
    <div class="oe_row oe_spaced">
        <div class="oe_span12 oe_spaced">
            <h2 class="oe_slogan">Timesheet Analysis Report</h2>
        </div>
      <p class="oe_mt32 text-justify" >
		This module from <strong><a href="http://www.broadtech-innovations.com/">BroadTech IT Solutions</a></strong>  introduces an xls report 
		for the timesheet analysis of Users during a selected period .
	 </p>
        <div class="oe_span12 oe_row_img oe_centered">
                <img class="oe_picture oe_screenshot" src="image1.png">
       
    </div>
   <div class="oe_span12 " >
      <p class="oe_mt32 text-justify" >
      The report can be generated for a selected user or the entire users. Unless specified the user it would return the whole time sheet from the system between the selected periods.
	 </p>
		</div>
    </div>
</section>

<section class="oe_container oe_dark">
    <div class="oe_row oe_spaced">
            <div class="oe_span4 ">
	 <p class="oe_mt32 text-justify">
The wizard action return the xls file to downoad.
 			</p>
	</div>
            <div class="oe_span8 oe_row_img oe_centered" >
                <img class="oe_picture oe_screenshot" src="image2.png">
       
    </div>
           
           
    </div>
</section>

<section class="oe_container">
    <div class="oe_row oe_spaced">
        
            <div class="oe_span12 oe_row_img oe_centered">
                <img class="oe_picture oe_screenshot" src="image3.png">
            </div>
            
          
 			<div class="oe_span12 oe_spaced">
        <p class='oe_mt32 '>
    For any assistance please feel free to contact us: contact@broadtech-innovations.com
     </p>
        </div>
    </div>
</section>





