#oe_main_menu_navbar{
    height: 50px;
    padding-top: 10px;
}

.o_sub_menu{
    position: absolute;
    z-index: 10;
    transition: 1s;
    width: 220px;
    max-width: 250px;
    transition: 1s;
    height: 100%;
    white-space: nowrap;
}

.o_sub_menu:hover{
    max-width: 220px ;
}

.o_sub_menu__hidden{
    max-width: 25px;
}

.o_sub_menu__hidden .oe_secondary_menu::before{
    background: #000c;
}

.oe_secondary_menu::before {
    height: 100%;
    background: #0000;
    transition: background 1s; 
    z-index: 30;
    pointer-events: none;
    height: 100%;
    width: 100%;
    max-width: inherit;
    position: absolute;
    display: block;
    content: "";
    z-index: 2;
}

.o_sub_menu:hover .oe_secondary_menu:before {
    background: #0000;
}

.btn_toggle__o_sub_menu{
    display: inline-table;
    height: 30px;
    float: left;
    background: #fff0;
    border-color: #fff0;
    color: #fff;
    font-size: 22px;
    padding-right: 5px;
    cursor: pointer;
}

.o_main_content{
    margin-left: 25px;
}

.position_relative{
    position: relative;
}

.icon-bar {
    background: white;
    display: block;
    width: 22px;
    height: 2px;
    margin: 5px;
    border-radius: 1px;
}
