<section class="oe_container">
    <div class="oe_row oe_spaced">
        <h2 class="oe_slogan" style="color:#875A7B; font-size:40px; font-weight:300;">Task Score Card</h2>
        <!-- <h3 class="oe_slogan oe_mb32"></h3> -->
        <p class="oe_mt32">
        Task score card module for Odoo 11. This modules helps you add score for tasks based on their work progress.
        </p>
    </div>
</section>

<section class="oe_container oe_dark">
    <div class="oe_row oe_spaced">
        <h2 class="oe_slogan" style="color:#875A7B; font-size:40px; font-weight:300;">Step 1</h2>
        <!-- <h3 class="oe_slogan"></h3> -->
        <p class="oe_mt32">
        Choose the Assigning date and the Deadline to calculate the points.
        </p>
        <div class="oe_row_img oe_centered oe_mt32">
            <img class="oe_picture" src="1.png" style="width:711.45px;height:400px;">
        </div>
    </div>
</section>

<section class="oe_container">
    <div class="oe_row oe_spaced">
       <h2 class="oe_slogan" style="color:#875A7B; font-size:40px; font-weight:300;">Step 2</h2>
       <!-- <h3 class="oe_slogan"></h3> -->
        <p class="oe_mt32">
        Assigning date should not be higher than the Deadline date.
        </p>
        <div class="oe_row_img oe_centered oe_mt32">
            <img class="oe_picture" src="2.png" style="width:711.45px;height:400px;">
        </div>
    </div>
</section>

<section class="oe_container">
    <div class="oe_row oe_spaced">
       <h2 class="oe_slogan" style="color:#875A7B; font-size:40px; font-weight:300;">Step 3</h2>
       <!-- <h3 class="oe_slogan"></h3> -->
        <p class="oe_mt32">
        Once you have assigned the Deadline it will automatically calculate the delay days and <br/> the points according to the Deadline date.
        </p>
        <div class="oe_row_img oe_centered oe_mt32">
            <img class="oe_picture oe_screenshot" src="3.png" style="width:711.45px;height:400px;">
        </div>
    </div>
</section>

