<section>
<section class="oe_container">
    <div class="oe_row oe_spaced">
        <div class="oe_span12">
            <h2 class="oe_slogan">Invoice Details in Sales Orders and Purchase Orders.</h2>
        </div>
        <div class="oe_row oe_spaced">
            <h4><p style="margin-left: 42px;  font-size:20px;">Key Features:</p></h4>
            <ul>
                <li style="list-style:none !important;  font-size:20px;"><span style="color:green;"> &#9733;</span>&nbsp;&nbsp;
                    Provide invoice details into sales orders and purchase orders for easy track related invoices amount.
                </li>
            </ul>
        </div>
    </div>
</section>

<section class="oe_container oe_dark">
    <div class="oe_row oe_spaced">
        <div class="oe_picture">
           <center> <h3 style="font-size:20px;">Overview</h3></center>
            <p class="oe_mt32" style=" font-size:20px;">This module provides invoice details into sales orders and purchase orders for easy track related  1.Invoice Amount, 2. Invoice Paid Amount, 3.Invoice Due Amount .</p>
        </div>
    </div>
</section>

<section class="oe_container">
    <div class="oe_row oe_spaced">
        <div class="oe_span12">
            <p>
            <center><h1>Sales Order View</h1></center> </p>
            <div class="oe_demo oe_screenshot">
                <img src="sale_order.png">
            </div>
        </div>
    </div>
</section>

<section class="oe_container oe_dark">
    <div class="oe_row oe_spaced">
        <div class="oe_span12">
            <p>
            <center><h1>Purchase Order View</h1></center> </p>
            <div class="oe_demo oe_screenshot">
                <img src="purchase_order.png">
            </div>
        </div>
    </div>
</section>
</section>

<section class="oe_container" style="background-color: #004CFF;">
    <div class="oe_row ">
        <div style="margin-bottom:10px;" class="oe_slogan text-center">
            <div class="oe_span12">
            <h3 class="text-center" style="color:#FFF; font-size:20px;">Free Support</h3>
        </div>
            <span class="text-center" style="color:#FFF; font-size:20px;">
                You will get 50 Days free support incase any bugs or issue (Except data recovery).
            </span>
        </div>
    </div>
</section>

<section class="oe_container" style="background-color: #004CFF;">
    <div class="oe_row ">
        <div style="margin-bottom:10px;" class="oe_slogan text-center">
            <div class="oe_span12">
                <span class="text-center" style="color:#FFF; font-size:20px;">Contact us for support, customization</span>
            </div>
            <span>
                <a href="mailto:contact.hiren1188@gmail.com" style="color: #FFF !important;font-weight:bold; font-size:20px;">Write us</a> | <a style="color: #FFF !important;font-weight:bold; font-size:20px;" href="skype:contact.hiren1188?chat">Contact us on Skype</a>
            </span>
        </div>
        <div class="oe_row ">
            <div class="oe_slogan text-center">
                <div class="oe_span12">
                    <span class="text-center" style="color:#FFF; font-size:20px;">Email : contact.hiren1188@gmail.com</span><br/>
                    <span class="text-center" style="color:#FFF; font-size:20px;">Skype : contact.hiren1188</span><br/>
                </div>
            </div>
        </div>
    </div>
</section>

