@media (min-width: 768px) {
  .o_form_view .o_form_sheet_bg > .o_form_sheet {
    width: 752px;
  }
}
@media (min-width: 992px) {
  .o_form_view .o_form_sheet_bg > .o_form_sheet {
    width: 972px;
  }
}
@media (min-width: 1200px) {
  .o_form_view .o_form_sheet_bg > .o_form_sheet {
    width: 1172px;
  }
}

@media (min-width: 768px) {
  .o_form_view .o_form_sheet_bg > .o_form_sheet {
    margin: 12px auto;
  }
}
@media screen and (min-width: 992px) and (max-width: 1533px) {
  .o_form_view .o_form_sheet_bg > .o_form_sheet {
    padding-right: 32px;
  }
}
@media screen and (min-width: 992px) and (max-width: 1533px) {
  .o_form_view .o_form_sheet_bg > .o_form_sheet {
    padding-left: 32px;
  }
}

.o_form_view {

// Fix Modal Dialog size = Scheduled Action button
    .modal .modal-dialog .o_form_view .o_form_sheet_bg, .modal .modal-dialog .o_form_view .o_form_sheet {
        width: 100%;
        height: 100%;
    }
	
// Chatter
    .oe_chatter {
        .o-flex(1000, 0, auto);
        .container;
        padding: @grid-gutter-width*0.25 0;
    }

    @media (min-width: @screen-sm-min) {
        .o-flex-display();
        .o-flex-flow(column, nowrap);
        min-height: 100%;
    }
}

.o_form_view {
  .o_form_label.o_form_label_empty, .o_form_label.o_form_label_false {
    opacity:0.5;
    font-weight:normal;
    }
    .o_form_sheet_bg {
    -ms-flex:1 0 auto;
    -moz-flex:1 0 auto;
    -webkit-box-flex:1;
    -webkit-flex:1 0 auto;
    flex:1 0 auto;
    background-color:#f2eeee;
    border-bottom:1px solid #e5e5e5;
    > .o_form_sheet {

			margin-right:auto;
			margin-left:auto;
			background-color:white;
			border:1px solid #d9d7d7;
      
			box-shadow:0 5px 20px -15px black;
			margin:4.8px auto;
			padding:24px;
			padding-right:16px;
			padding-left:16px;
      > .navbar-header, > .navbar-collapse {
        margin-right:-16px;
        margin-left:-16px;
      }
      > .o_selection {
        float:right;
      }
    }
  }
  .oe_title {
    color:#2f3136;
  }
  .oe_avatar {
    float:right;
    margin-bottom:10px;
    > img {
      max-width:90px;
      max-height:90px;
      vertical-align:top;
      border:1px solid #a8a8a8;
    }
    + .oe_title {
      padding-right:100px;
    }
  }
  .oe_button_box {
    position:relative;
    display:block;
    margin-bottom:24px;
    margin-top:-24px;
    margin-left:-16px;
    margin-right:-16px;
    text-align:right;
    box-shadow:inset 0 -1px 0 #d9d7d7;
    .btn.oe_stat_button:hover, .btn.oe_stat_button:focus {
      background-color:rgba(0,0,0,0.02);
      color:inherit;
      opacity:1;
    }
    > .btn.oe_stat_button, > .o_dropdown_more {
            .o-flex(0, 0, auto);
            width: percentage(1/3);
            @media (min-width: @screen-sm-min) {
                width: percentage(1/5);
            }
            @media (min-width: @screen-md-min) {
                width: percentage(1/7);
            }
            @media (min-width: @screen-lg-min) {
                width: percentage(1/8);
            }
        }
	> .o_dropdown_more {
            .o-position-absolute(100%, 0);
            min-width: 0;
            border: none;
            border: 1px solid @gray-lighter-dark;
            margin: 0;
            padding: 0;
            > li {
                padding: 0;
                > .btn.oe_stat_button {
                    width: 100%;
                    border: none;
                    border-bottom: 1px solid @gray-lighter-dark;
                }
            }
        }
    > .o_dropdown_more {
      -ms-flex:0 0 auto;
      -moz-flex:0 0 auto;
      -webkit-box-flex:0;
      -webkit-flex:0 0 auto;

      position:absolute;
      top:100%;
      left:auto;
      bottom:auto;
      right:0;
      min-width:0;
      border:none;
      border:1px solid #e5e5e5;
      margin:0;
      padding:0;
      > li {
        padding:0;
        > .btn.oe_stat_button {
          width:100%;
          border:none;
          border-bottom:1px solid #e5e5e5;
        }
      }
    }
    .btn.oe_stat_button {
      height:44px;
      padding:0 6px 0 0;
      text-align:left;
      background-color:transparent;
      opacity:0.8;
      > .o_button_icon {
        margin-left:6px;
        display:inline-block;
        vertical-align:middle;
        line-height:44px;
        width:30%;
      }
      > .o_button_icon:before {
        font-size:22px;
        vertical-align:middle;
      }
      > .o_field_percent_pie {
        margin-left:6px;
      }
      > .o_stat_info {
        display:inline-block;
        vertical-align:middle;
        font-weight:500;
        max-width:70%;
        padding-right:6px;
        line-height:1.3;
        .o_stat_value {
          display:block;
          max-width:100%;
          white-space:nowrap;
          overflow:hidden;
          text-overflow:ellipsis;
          vertical-align:top;
          font-weight:700;
          color:#875a7b;
          line-height:1.2;
        }
        > .o_stat_text {
          display:block;
          max-width:100%;
          white-space:nowrap;
          overflow:hidden;
          text-overflow:ellipsis;
          vertical-align:top;
          line-height:1.2;
          .o_stat_value {
            display:inline;
          }
        }
      }
      > span {
        display:block;
        display:inline-block;
        max-width:100%;
        max-width:70%;
        white-space:nowrap;
        white-space:normal;
        overflow:hidden;
        text-overflow:ellipsis;
        vertical-align:top;
        font-weight:500;
        padding-right:6px;
        line-height:1.3;
        .o_stat_value {
          display:block;
          max-width:100%;
          white-space:nowrap;
          overflow:hidden;
          text-overflow:ellipsis;
          vertical-align:top;
          font-weight:700;
          color:#875a7b;
          line-height:1.2;
        }
        > .o_stat_text {
          display:block;
          max-width:100%;
          white-space:nowrap;
          overflow:hidden;
          text-overflow:ellipsis;
          vertical-align:top;
          line-height:1.2;
          .o_stat_value {
            display:inline;
          }
        }
      }
    }
    .btn.oe_stat_button.o_button_more {
      text-align:center;
    }
    .btn.oe_stat_button.o_button_more:after {
      margin-left:5px;
      content:"";
      display:inline-block;
      width:0;
      height:0;
      vertical-align:middle;
      border-bottom:0;
      border-left:4px solid transparent;
      border-right:4px solid transparent;
      border-top:4px solid;
      -moz-transform:scale(0.9999);
    }
  }
  .oe_button_box.o_full .oe_stat_button:not(.o_invisible_modifier) ~ .oe_stat_button {
    border-left:1px solid #d9d7d7;
  }
  .oe_button_box.o_not_full .oe_stat_button {
    border-left:1px solid #d9d7d7;
  }
  .o_group.o_inner_group > tbody > tr > td {
    padding:0 45px 0 0;
  }

  .o_notebook > ul.nav.nav-tabs {
    border-bottom:1px solid #d9d7d7;
    margin-left:-16px;
    margin-right:-16px;
    padding-left:16px;
    > li {
      > a:hover, > a:focus, > a:active {
        outline:none;
        color:#005580;
      }
      > a {
        color:#666666;
        border:none;
        background-color:#ededed;
        padding:10px 16px;
      }
    }
    > li:not(.active) {
      margin-bottom:0;
    }
    > li.active {
      > a:hover, > a:focus, > a:active {
        color:#2f3136;
        border-top-color:#392b6a;
        border-top-width:2px!important;
        background-color:white;
      }
      > a {
        border:1px solid #d9d7d7;
        border-bottom:0;
        color:#2f3136;
        border-top-color:#392b6a;
        border-top-width:2px!important;
        background-color:white;
      }
    }
    > li.disabled > a {
      color:#777777;
    }
  }
  .o_notebook > .tab-content {
    border-bottom:1px solid #d9d7d7;
    > .tab-pane {
      padding:16px 0;
      > :first-child {
        margin-top:0;
      }
      > :first-child.oe_form_field_html_text {
        margin-left:-16px;
        margin-right:-16px;
        margin-top:-16px;
        border:none;
        .note-editing-area, .o_readonly {
          padding:15px;
          padding-left:16px;
          padding-right:16px;
        }
        .note-editor.panel {
          border:none;
        }
        .note-toolbar.panel-heading {
          padding-left:16px;
          padding-right:16px;
          border-top:none;
          padding-top:4.8px;
          background:white;
          .btn-default:hover, .btn-default:focus, .btn-default.focus {
            color:#008784;
          }
          .btn-default {
            color:#666666;
          }
        }
        + .oe_clear:last-child {
          margin-bottom:-58px;
        }
      }
      > :first-child.o_field_x2many.o_field_x2many_list {
        display:block;
        width:auto;
        margin-left:-16px;
        margin-right:-16px;
        margin-top:-16px;
        tr > :first-child {
          .o_input {
            padding-left:16px;
          }
        }
        tr > :last-child {
           .o_input {
            padding-right:16px;
          }
        }
      }
    }
  }
  .o_notebook:last-child > .tab-content {
    border-bottom:none;
  }
  .o_field_widget .o_list_view.table-striped > tbody > tr > td {
    border-top:none;
  }
  .o_field_widget .o_list_view.table-striped > tfoot > tr {
    box-shadow:inset 0 1px 0 #e5e5e5;
    > td {
      border:none;
    }
    > td:empty {
      padding:0;
    }
  }
  .o_field_translate {
    margin-left:-12px;
  }
  .o_group.o_inner_group.oe_subtotal_footer {
    border-top:1px solid #e5e5e5;
    .oe_subtotal_footer_separator {
      border-top:1px solid #e5e5e5;
    }
  }
  .o_form_statusbar > .o_statusbar_status > .o_arrow_button {
    font-weight:500;
  }
  .o_form_statusbar > .o_statusbar_status > .o_arrow_button.btn-primary.disabled {
    font-weight:bold;
  }
  .o_form_statusbar > .o_statusbar_status > .o_arrow_button:first-of-type {
    padding-right:16px;
  }


@media screen and (min-width: @o-screen-sidechatter-min) {
        .o-flex-flow(row, nowrap);
        height: 100%;

        > .o_form_sheet_bg {
            .o-flex(1, 1, auto); 
            width: @o-form-sheet-min-width + 2 * @odoo-horizontal-padding;
            // max-width: @container-lg + 2 * @odoo-horizontal-padding;
            padding: 0 @odoo-horizontal-padding;
            overflow: auto;
            border-bottom: none;

            > :not(.o_form_sheet) {
                margin-left: -@odoo-horizontal-padding;
                margin-right: -@odoo-horizontal-padding;
            }
            > .o_form_sheet {
                width: 100%;
                max-width: @container-lg;
            }
        }
        > .oe_chatter {
            .o-flex(1, 1, auto); 
            width: @o-chatter-min-width;
            padding: 0;
            overflow: auto;
            border-left: 1px solid @gray-lighter-dark;
            background-color: white;

            .o_chatter_topbar {
                margin: 0;
                padding: 0;

                > .btn, > .o_followers {
                    padding-top: 0;
                    padding-bottom:0;
                    height: @odoo-statusbar-height;
                    line-height: @odoo-statusbar-height - @padding-base-vertical;
                }
                > .btn:first-child {
                    padding: 0 @odoo-horizontal-padding;
                    border-left: none!important;
                }
                .o_followers {
                    padding-right: @odoo-horizontal-padding;
                }
            }
            &.o_chatter_composer_active .o_chatter_topbar {
                > .btn.o_active {
                    border-width: 0 1px;
                }
            }
            .o_chat_composer {
                border-width: 1px 0;
                margin-top: 0;
            }
            .o_followers_title_box {
                margin-left: @odoo-horizontal-padding/2;

                .dropdown-toggle {
                    padding-right: 0;
                }
            }
        }
    }
}

.form-break-table() {
    display: block;
    margin-bottom: @odoo-form-spacing-unit * 4;

    > tbody {
        display: block;

        > tr {
            .o-flex-display();
            .o-flex-flow(row, wrap);

            > td {
                .o-flex(1, 0, auto);
                display: block;
                max-width: 100%;
                padding: 0;

                width: auto!important;
                &.o_td_label {
                    width: 94%!important;
                    line-height: @odoo-label-font-size-factor;
                }

                .o_field_widget {
                    margin-bottom: @odoo-form-spacing-unit * 2;
                    &.o_field_boolean {
                        margin-right: 0;
                    }
                }

                .o_input_dropdown {
                    width: auto;
                    max-width: 100%;
                }
            }
        }
    }
}

// Overriden style when form view in modal
.modal .modal-dialog {
    .o_form_view {
        @media (max-width: @screen-sm-max) {
            .o_group.o_inner_group > tbody > tr > td.o_td_label {
                min-width: 100px;
            }
        }
    }
    &.modal-sm .o_form_view {
        .o_group {
            .form-break-table();
        }
    }
}
