<!-- Copyright (c) 2015-Present Webkul Software Pvt. Ltd. (<https://webkul.com/>) -->
<!-- See LICENSE file for full copyright and licensing details. -->
<!-- "License URL : <https://store.webkul.com/license.html/>" -->

<section class="oe_container">
	<div class="oe_row oe_spaced">
		<h2 class="oe_slogan" style="width:828px; color:#366d5f">Manage Magento Customer Group Prices At Odoo Through Pricelist</h2>
		<div class="oe_span6">
			<div class="oe_demo oe_picture oe_screenshot">
				<img src="main.jpg" alt="Online Demo">
			</div>
		</div>
		<div class="oe_span6" style="width:330px; margin-left:-50px">
			<p class='oe_mt32' >
				<ul>
					<li style="width:330px; margin-left:-50; color:#5e7ba0"><h4>This Module Synchronised the group &amp; tier price from magento &amp; to odoo &amp; manage through the pricelist at odoo for corresponding product.</h4></li>
					<li style="width:330px; margin-left:-50; color:#5e7ba0"><h4>This synchronisation is done from both side i.e magento to odoo &amp; vice versa.</h4></li>
				</ul>
		</div>
	</div>
</section>
<section class="oe_container">
	<div class="oe_row oe_spaced">
		<h2 class="oe_slogan" style="width:828px; color:#366d5f">Sync All Customer Group From Magento to Odoo</h2>
		<div class="oe_span6">
			<div class="oe_demo oe_picture oe_screenshot">
				<img src="sync_customer_groups.jpg" alt="Online Demo">
			</div>
		</div>
		<div class="oe_span6" style="width:330px; margin-left:-50px">
			<p class='oe_mt32'>
				<ul>
					<li style="width:330px; margin-left:-50; color:#5e7ba0"><h4>In order to sync customer &amp; tier price first you need to sync all customer group at odoo end.</h4></li>
				</ul>
		</div>
	</div>
</section>
<section class="oe_container">
	<div class="oe_row oe_spaced">
		<h2 class="oe_slogan" style="width:828px; color:#366d5f">Apply Group &amp; Tier Price to a Product</h2>
		<div class="oe_span6">
			<div class="oe_demo oe_picture oe_screenshot">
				<img src="apply_price.jpg" alt="Online Demo">
			</div>
		</div>
		<div class="oe_span6" style="width:330px; margin-left:-50px">
			<p class='oe_mt32'>
			<ul>
				<li style="width:330px; margin-left:-50; color:#5e7ba0"><h4>In price tab of products apply Group &amp; Tier price.</h4></li>
			</ul>
		</div>
	</div>
</section>
<section class="oe_container">
	<div class="oe_row oe_spaced">
		<h2 class="oe_slogan" style="width:828px; color:#366d5f" >Sync Group &amp; Tier Price of Products</h2>
		<div class="oe_span6">
			<div class="oe_demo oe_picture oe_screenshot">
				<img src="sync_group_price.jpg" alt="Online Demo">
			</div>
		</div>
		<div class="oe_span6" style="width:330px; margin-left:-50px">
			<p class='oe_mt32'>
				<ul>
					<li style="width:330px; margin-left:-50; color:#5e7ba0"><h4>Select the products and click on Sync Tier&amp;Group Price At Odoo.</h4></li>
				</ul>
		</div>
	</div>
</section>
<section class="oe_container">
	<div class="oe_row oe_spaced">
		<h2 class="oe_slogan" style="width:828px; color:#366d5f">Check &amp; Sync Pricelist From Odoo</h2>
		<div class="oe_span6">
			<div class="oe_demo oe_picture oe_screenshot">
				<img src="sync_from_odoo.jpg" alt="Online Demo">
			</div>
		</div>
		<div class="oe_span6" style="width:330px; margin-left:-50px">
			<p class='oe_mt32'>
				<ul>
					<li style="width:330px; margin-left:-50; color:#5e7ba0"><h4>All synced group &amp; tier prices will appear in Pricelist Special Price tab of Products Variants.</h4></li>
					<li style="width:330px; margin-left:-50; color:#5e7ba0"><h4>All pricelist also can be sync at magento by clicking on Synchronize Tier/Group Prices.</h4></li>
				</ul>
		</div>
	</div>
</section>

<section class="oe_container">
    <div class='oe_row'>
        <div class='oe_span12'>
            <h2 class='oe_slogan'>Complimentary Support</h2>
            <p>
                You will get 90 days free support for any doubt, queries, and bug fixing (not including data recovery) or any type of issue related to this module.
            </p>
        </div>
    </div>
    <div class="oe_row oe_spaced">
        <div class="oe_span12">
            <h2 class="oe_slogan">Help and Support</h2>
        </div>
        <div class="oe_slogan oe_spaced">
            <img src="icon-help.png">
            <span ><a onMouseOver="this.style.color='#AC1EE0'"
                onMouseOut="this.style.color='#7c7bad'" style="color:#7c7bad;" target="_blank" href="http://webkul.uvdesk.com/en/customer/create-ticket/">Help</a></span>
            <img src="icon-support.png">
            <span ><a onMouseOver="this.style.color='#AC1EE0'"
                onMouseOut="this.style.color='#7c7bad'" style="color:#7c7bad;" target="_blank" href="http://webkul.uvdesk.com/en/customer/create-ticket/">Support</a></span>
            <img src="icon-features.png">
            <span ><a onMouseOver="this.style.color='#AC1EE0'"
                 onMouseOut="this.style.color='#7c7bad'" style="color:#7c7bad;" target="_blank" href="http://webkul.uvdesk.com/en/customer/create-ticket/">Request new Features</a></span>
        </div>
    </div>
</section>
