<section class="oe_container">
    <div class="oe_row oe_spaced">
        <h2 class="oe_slogan" style="color:#875A7B;">Mail Reply to sender/reply to(Email template field)</h2>
        <p class="oe_mt32 text-center">
            This module provides a functionality to reply to sender's email address or the mail address given in 'Reply To' field of email template.
            </p>
    </div>
</section>


<section class="oe_container">
    <div class="oe_row oe_spaced">
        <div class="oe_span12">
            <h4 class="oe_mt32 oe_mb8 text-center">
                <b>Step:</b>
            </h4>
            <p class="oe_mt32 text-center">
                Go to the Email templates and add any email address(or use placeholder) in reply to field. If the sender address and reply to address are same reply will be sent to the sender.
                If the sender address and reply to is different reply will be sent to reply to address.
            </p>
            <img class="oe_picture oe_screenshot" src="mail_reply_to_1.png">
            <br/>
            <img class="oe_picture oe_screenshot" src="mail_reply_to_2.png">
        </div>
    </div>
</section>

<section class="oe_container oe_dark">
    <h2 class="oe_slogan" style="margin-top:20px;" >Need Any Help?</h2>
    <div class="oe_slogan" style="margin-top:10px !important;">
        <a  class="btn btn-primary btn-lg mt8"
            style="color: #FFFFFF !important;" href="mailto:business@pptservices.com"><i
            class="fa fa-envelope"></i> Email </a> <a
            class="btn btn-primary btn-lg mt8" style="color: #FFFFFF !important;"
            href="http://www.pptssolutions.com/contact-us/"><i
            class="fa fa-phone"></i> Contact Us </a> 
    </div>
            <img src="icon.png" style="width: 70px; height:70px; margin-bottom: 20px;" class="center-block">
            <h4 class="oe_mt32 oe_mb8 text-center">
                <b>PPTS [India] Pvt.Ltd.</b>
            </h4>
</section>
<section class="oe_container oe_separator">
</section>