<!-- Main header Part For Module -->
<section class="oe_container">
    <div class="oe_row oe_spaced">
        <h2 class="oe_slogan" style="color:#875A7B;">Insufficient stock units for kit type product</h2>
        <div class="oe_span12">
            <div class="oe_demo oe_picture oe_screenshot">
                <img src="images/2.1.png">
            </div>
        </div>
    </div>
</section>

<section class="oe_container">
    <div class="oe_row oe_spaced">
        <h2 class="oe_slogan" style="color:#875A7B;">Bill Of Material</h2>
        <div class="oe_span12">
            <div class="oe_demo oe_picture oe_screenshot">
                <img src="images/1.1.png">
            </div>
        </div>
    </div>
</section>

<div style="
    border: 0;
    margin: 40px 0;
    height: 4px;
    border-top: #ddd 1px solid;
    border-bottom: #ddd 1px solid;
    text-align: center;
    position: relative;
    clear: both;"><i class="fa fa-star fa-2x" style="
    color: #bbb;
    background: #fff;
    text-align: center;
    display: inline-block;
    height: 50px;
    line-height: 50px;
    text-align: center;
    width: 50px;
    font-size: 20px;
    position: absolute;
    top: -25px;
    left: 50%;
    margin: 0 auto 0 -25px;"></i></div>

<section class="oe_container oe_dark">
    <div class="oe_row">
        <h2 class="oe_slogan" style="color:#875A7B;margin-top: 15px;">Maintainer</h2>
        <h3 class="oe_slogan">TeqStars</h3>
        <div class="separator" style="display: block;width: 60px;height: 5px;margin: 15px auto 15px;background-color: #d3b61c;position: relative; border: 1px solid #d3b61c;"></div>
        <p style="font-family: 'Lato', 'Open Sans', 'Helvetica', Sans;color: #444;" >
            This module is maintained by TeqStars

            We are a small team of talents who have great skills.

            The development is not only our business but also our passion.

            We offer the best quality service at competitive prices that fit your budget and your expectations.
        </p>
        <p style="font-family: 'Lato', 'Open Sans', 'Helvetica', Sans;color: #444;" >
            Please visit <a href="http://teqstars.com" target="_blank"><b>www.teqstars.com</b></a>
        </p>
        <div class="oe_span12">
            <center>
                <a href="http://teqstars.com" target="_blank">
                    <img class="oe_picture" src="TeqStars.png" style="height:128px;weight:128px;"/>
                </a>
            </center>
        </div>
    </div>
</section>

<div style="
    border: 0;
    margin: 40px 0;
    height: 4px;
    border-top: #ddd 1px solid;
    border-bottom: #ddd 1px solid;
    text-align: center;
    position: relative;
    clear: both;"><i class="fa fa-star fa-2x" style="
    color: #bbb;
    background: #fff;
    text-align: center;
    display: inline-block;
    height: 50px;
    line-height: 50px;
    text-align: center;
    width: 50px;
    font-size: 20px;
    position: absolute;
    top: -25px;
    left: 50%;
    margin: 0 auto 0 -25px;"></i></div>

<section class="oe_container oe_dark">
	<div class="oe_mt16 oe_mb16">
		<h2 class="oe_slogan" style="color:#875A7B;margin-top: 15px;">Need Any Help?</h2>
        <h3 class="oe_slogan">Contact us for any problem or request!</h3>
        <div class="separator" style="display: block;width: 60px;height: 5px;margin: 15px auto 15px;background-color: #d3b61c;position: relative; border: 1px solid #d3b61c;"></div>
	</div>
	<div class="oe_slogan">
		<a class="btn btn-primary btn-lg mt8" style="color: #FFFFFF !important;" href="mailto:support@teqstars.com"><i class="fa fa-envelope"></i> Email </a>
	</div>
</section>


<div style="
    border: 0;
    margin: 40px 0;
    height: 4px;
    border-top: #ddd 1px solid;
    border-bottom: #ddd 1px solid;
    text-align: center;
    position: relative;
    clear: both;"><i class="fa fa-star fa-2x" style="
    color: #bbb;
    background: #fff;
    text-align: center;
    display: inline-block;
    height: 50px;
    line-height: 50px;
    text-align: center;
    width: 50px;
    font-size: 20px;
    position: absolute;
    top: -25px;
    left: 50%;
    margin: 0 auto 0 -25px;"></i></div>
